/* Used in each chart element */
.mui-panel-dashchart{
  padding: 15px 15px 2px 15px;
  margin-bottom: 5px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

/* overall section */
.system_bg_color{
  background-color: #00ADEF;
}
.secondary_bg_color{
  background-color: #00ADEF;
}
/* Overwrite the problem Divs */
.call_header_div .filter_main_div{
  display:none;
}
/* Top Bar section */
.header-main{
  color:white;
  vertical-align: center;
  /*box-shadow: 1px 1px 2px 0px #000;*/
}
.header-shadow {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 8px;
  transition: box-shadow 0.3s ease-in-out;
}
.header-no-shadow {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 0px;
  transition: box-shadow 0.1s ease-in-out;
}

.header-topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  height: 100%;
}
.header-topbar-left{
  flex-grow: 1;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-topbar-right{
  align-items: center;
  margin-top: 6px;
}

/* dashboard params sections */
.dashboard_heading{
  text-align:center;
  font-size:2em;
  padding-bottom:24px;
}

.dashboard-params-main{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding-left:15px;
  padding-right:15px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  flex-wrap:wrap;
}

.dashboard-param{
  padding:0px 5px 5px 5px;
}

.dashboard-param select{
  height:36px;
  border-radius: 2px;
  border: none;
  line-height:30px;
}

.dashboard-param label{
  color: rgba(0,0,0,.87);
  font-weight: normal;
  padding-right: 20px;
  margin-left: 20px;
}

.dashboard-btn{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,.87);
  background-color: #FFF;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
}

/* Dashboard title section */
.dashboard-title{
  padding-left:15px;
  padding-right:15px;
  padding-top:24px;
  color:black;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  padding-bottom: 24px;
  text-align: center;
}

/* Std Chart Areas */
.chart_main{
  color: rgba(0,0,0,.87);
  /* height: 100%; */
}
.chart_head{
  margin-bottom: 10px;
}
.chart_body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chart_body_icondetails{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.chart_title{
  color: rgba(0,0,0,.87);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}
.chart_subhead{
  color: rgba(0,0,0,.40);
  font-size: 16px;
  line-height: 16px;
}
.chart_measure_descriptor{
  text-transform: uppercase;
}
.chart_info_textblock{
  font-size: 14px;
  line-height: 14px;
}

.chart_hero{
  flex-grow: 1;
  margin-bottom: 8px;
  text-align: center;
  width: 65%;
}
.chart_hero img{
  width: 85%;
}

.chart_metric{
  flex-grow: 1;
  width: 35%;
  min-width:70px;
  font-size: 16px;
  letter-spacing: .04em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.chart_metric_50{
  display: block;
  width: 50%;
  text-align: center;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.chart_primary{

}
.chart_scnd{

}

/* footer section */
.chart_footer{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.chart_foot_1st{
}
.chart_foot_2nd{
  margin-left: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-div-overlay img {
  animation-name: App-logo-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* loading Overlay */
.loading-div-overlay {
  /*display: none;*/
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 30px;
}

.loading-div-overlay-error-msg{
  color:#fff;
}

/* Customer Dashboard */
#closeInteraction{
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  text-decoration: none;
}

#custOverviewMain{
  color:#fff;
}

#custOverview_container{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 150px;
  height: 100%;
}

.chart_attributes{
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.attr_title{
  width:100px;
}

.attr_val{
  font-weight: bold;
}

#custValidPromos_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 150px;
  height: 100%;
  justify-content: space-around;
}

#custValidPromos_container .Promo_Cont:hover{
  border: solid thin #ffffff85;
}

.Promo_Cont{
  flex: 1;
  text-align: center;
}

.Promo_Cont a {
  color: #FFF;
  font-size: 14px;
  height: 100%;
  display: flex;
  text-transform: uppercase;
  flex-flow: column nowrap;
  justify-content: center;
}

.Promo_Cont_Title{
  padding-top: 10px;
}

.Promo_Brand_Img {
  vertical-align: middle;
}

.Promo_Brand_Img img{
  max-height: 150px;
  max-width: 100%;
}

/* Customer Search */
.cs_icon {
  cursor: default;
  left: auto;
  /*margin: 16px;*/
  position: absolute;
  right: 18px;
  top: 0;
}

.cs_search {
  position: relative;
  width: 80%;
  height: 56px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(200, 238, 253);
  border-radius: 5px;
  padding: 5px 5px 5px 25px;
}

.cs_search_container{
  width:100%;
  padding-top: 24px;
  padding-bottom: 56px;
}

.cs_input{
  border:none;
  width: 100%;
  height: 46px;
  font-size: 14px;
  background: transparent;
}

.cs_input:focus{
  outline:none;
}

@media screen and (min-width: 776px){
  /* Dashboard title section */
  .dashboard-title{
    font-size: 44px;
    line-height: 56px;
    padding-top: 72px;
  }
}

.modal-backdrop {
  z-index: 1;
}
