/* CSS Document */

     /**
	 * Body CSS
	 */
	html,
	body {
	  height: 100%;
	  background-color: #eee;
      font-family: 'Roboto', 'Noto', sans-serif;
	}
	
	html,
	body,
	input,
	textarea,
	buttons {
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	}
	
	th{
		font-weight:normal;
		color:#A4A1A1;
	}
	
	input:-webkit-autofill{
		background-color:#FFFFFF !important;
		background-image: none;
		color: rgb(0, 0, 0);
	}
	
	/* BSIT */
	
	.matrixTableLeftBorder{
		border-left: 2px solid rgba(0, 0, 0, 0.117647);	
	}
	
	/* remove the X in search bar */
	input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
	input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
	
	#f-hero-welcome{
		max-width:1000px;	
	}
	
	#analysisTableCont{
		overflow-y: none; 
		overflow-x: auto;
	}
	
	.bsit-primary-bgcol{
 		padding-top:10px;
	}
	
	.logo-nav-menu{
		width:25px;	
	}
	
	.space-top {
		height: 20px;
	}
	
	#logoutIcon{
		opacity:0.5;	
	}
	.iFrameHolder{
		background-image:url(../images/BSITLoading.gif);
		background-position:center 10px;
		background-repeat:no-repeat;	
	}
	a.drillInSel, a.drillInSel:hover, a.drillInSel:active, a.drillInSel:visited {	
		text-decoration:none;
		color:#585858;
	}
	
	.bsit_var_up{
		color:#00C300;	
		font-weight:bold;
		font-size:11px;
	}
	.bsit_var_down{
		color:#FF0000;	
		font-weight:bold;
		font-size:11px;
	}
	.bsit_var_same{
		font-size:11px;
	}
	
	/* Hide IE 'X' in input box */
	#filterSearchBox::-ms-clear {
	    display: none;
	}
	
	/* BSIT Measures List */
	#measuresSelectedList ul li.measItem {
		background-color:#FFFFFF;
		border: none;
    	border-radius: 2px;
		display: inline-block;
		border-left:#CB9AF5 thick solid;
		height:36px;
		margin: 6px 5px 6px 0px;
    	padding: 8px 5px 0px 5px;
		vertical-align:middle;
		cursor:move;
	}
	
	.measItem.ui-sortable-helper a{
		display:none;
	}
	
	#measuresSelectedList ul{
    	padding-left:0px;
	}
	
	#measureHiddenSelector{
		display:none;
		visibility:hidden;	
	}
	
	/* BSIT group by in analysis */
	#GroupBySelectedUL li.groupBySelected {
		background-color:#FFFFFF;
		border: none;
    	border-radius: 2px;
		display: inline-block;
		border-left:#CB9AF5 thick solid;
		height:36px;
		margin: 6px 5px 6px 0px;
    	padding: 8px 5px 0px 5px;
		vertical-align:middle;
		cursor:move;
	}
	
	.groupBySelected.ui-sortable-helper a{
		display:none;
	}
	#GroupBySelectedUL{
    	padding-left:0px;
	}
	#groupBySelector{
		visibility:hidden;
		display:none;	
	}
	
	/* BSIT Filters in Analysis */
	#filtersContainer{
		position:relative;
	}
	#filtersHiddenSelector{
		visibility:hidden;
		display:none;		
	}
	#dimSelectedList ul{
		padding-left:0px;	
	}
	#filtersSearch{
		background-color:#FFFFFF;
		width:auto;
		height:40px;
		margin:6px 0px;
		box-shadow: 0 0px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.2);
		display: -webkit-box;
        display: flex;
		padding: 2px 26px;
		border: none;
		border-radius: 2px;
		line-height: 36px;
		vertical-align: middle;
		letter-spacing: 0.03em;
		overflow:hidden;
		position:relative;
	}
	#filterSearchBox{	
		outline: none;
		border:none;
		width:100%;
		padding-left:24px;
		font-size:16px;	
	}
	
	#dimSelectedUL li{
		background-color:#FFFFFF;
		padding:10px;
		margin:4px 8px 4px 0px;
		border: none;
    	border-radius: 2px;
		display: inline-block;
		border-left:#FB0004 thick solid;
		position:relative;
	}
	
	#dimSelectedUL li.permfilter{
		border-left:#3200FF thick solid;
	}
	
	#filtersClearSearch{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 2px;
	}
	#filterSearchResults{
		background-color:#FFFFFF;
		clear:both;
		position:absolute;	
		top: 39px;
		left: 0px;	
		width:100%;
		margin:0px 0px 8px 0px;
		box-shadow: 0 0px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.2);
		padding: 0px;
		border: none;
		border-radius: 0px 0px 2px 2px;
		letter-spacing: 0.03em;
		overflow-y: auto;
		overflow-x: hidden;
		z-index:100;
		border-top: thin solid #AFAFAF;
		display:none;
	}
	
	.filterSearchResult{
		padding:8px 0px;	
	}
	
	#filterSearchResultsList{
		padding-left:0px;
	}
	
	#filterSearchResultsList li.filterSearchResult{
		padding-left:75px;
		cursor:pointer;
	}
	
	#filterSearchResultsList li.filterSearchResult:hover{
		background-color:#92CDA7;
	}
	
	#filterSearchResultsList li.noResult{
		padding:8px 0px 8px 75px;
	}
	
	.secondaryTxt{
		color:#8E8E8E;		
	}
	.dimRemover{
		position:absolute;
		right:4px;
		top:3px;	
	}
	
	/* advanced search section */
	#advancedSearch{
		background-color:#FFFFFF;
		clear:both;
		position:absolute;	
		top: 39px;
		left: 0px;	
		width:100%;
		margin:0px 0px 8px 0px;
		box-shadow: 0 0px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.2);
		padding: 8px 8px 8px 16px;
		border: none;
		border-radius: 0px 0px 2px 2px;
		letter-spacing: 0.03em;
		overflow-y: auto;
		overflow-x: hidden;
		z-index:100;
		border-top: thin solid #AFAFAF;
		display:none;
	}
	#advancedSearchDropArrow{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 2px;
	}
	#fromDate{
		width:90px;
		float:left;
	}
	#toDate{
		width:90px;		
		float:left;
	}
	.bsit_advDateCont{
		width:120px;
	}
	#savedLinks{
		padding:0px;
		margin:0px;
		list-style:none;
	}
	#savedLinks li{
		height:36px;	
	}
	#savedLinks li a{
		height:100%;
		width:100%;	
		display:block;
		text-decoration:none;
		padding:8px 5px 0px 5px;
		color:#333;
	}
	#savedLinks li a:hover{
		background-color:#92CDA7;
	}
	#advancedSerachDateSelCont{
		display:inline-flex; 
		flex-wrap: wrap;	
	}
	.ui-widget-header{
		border:none;
		background-image:none;
		background-color:#CB9AF5;
	}
	/* BSIT Data Analysis Table */
	#analysisDataMasterContainer{
		position:relative;	
	}
	#analysisDataContOverlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba(0,0,0,0.70); /*dim the background*/
		display:none;
		background-image:url(../images/BSITLoading.gif);
		background-position:center 90px;
		background-repeat:no-repeat;
	}
	#analysisDataContainer{
		min-height:70px;	
	}
	
	/* BSIT Dashboard layout */
	#dashboardMasterContainer{
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;	
	}
	
	#dashboardMasterContainer .mui-col-xs-1, .mui-col-sm-1, .mui-col-md-1, .mui-col-lg-1, .mui-col-xs-2, .mui-col-sm-2, .mui-col-md-2, .mui-col-lg-2, .mui-col-xs-3, .mui-col-sm-3, .mui-col-md-3, .mui-col-lg-3, .mui-col-xs-4, .mui-col-sm-4, .mui-col-md-4, .mui-col-lg-4, .mui-col-xs-5, .mui-col-sm-5, .mui-col-md-5, .mui-col-lg-5, .mui-col-xs-6, .mui-col-sm-6, .mui-col-md-6, .mui-col-lg-6, .mui-col-xs-7, .mui-col-sm-7, .mui-col-md-7, .mui-col-lg-7, .mui-col-xs-8, .mui-col-sm-8, .mui-col-md-8, .mui-col-lg-8, .mui-col-xs-9, .mui-col-sm-9, .mui-col-md-9, .mui-col-lg-9, .mui-col-xs-10, .mui-col-sm-10, .mui-col-md-10, .mui-col-lg-10, .mui-col-xs-11, .mui-col-sm-11, .mui-col-md-11, .mui-col-lg-11, .mui-col-xs-12, .mui-col-sm-12, .mui-col-md-12, .mui-col-lg-12 {
		padding-left: 6px;
	    padding-right: 6px;
	}
	
	#dashboardMasterContainer .mui-panel{
		margin-bottom:12px;
	}
	
	/* BSIT Menu */
	.main_menu_item {
		float: right;
		clear: none;
		width: 100%;
		padding-right: 16px;
		padding-left: 16px;
		display: block;
		/* overflow-y: hidden;
		overflow-x: hidden; */
		overflow: visible;
	}
	.menu_item_icon{
		float: left;
		min-height: 48px;
		padding-right: 33px;
		width: 33px;
	}
	.menu_item_icon img{
		float: left;
		width: 24px;
		height: 24px;
		clear: none;
		margin-top: 12px;
		margin-bottom: 12px;
		opacity: 0.4;
		position: absolute;
	}
	.menu_item_text{
		float: left;
		height: auto;
		margin: 0px;
		clear: none;
		width: auto;
		padding-top: 0px;
		padding-bottom: 0px;
		width: calc(100% - 33px);
	}
	.menu_item_text p{
		float: none;
		font-size: 14px;
		width: auto;
		height: auto;
		text-align: left;
		font-weight: 400;
		line-height: 24px;
		clear: none;
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		margin: 0px;
		color:#111111;
		position: relative;
	}
	#loginForm{
		position:absolute;
		width:300px;
		margin-left:-150px;
		top:60px;
		left:50%;
	}
	#loginLogoImg{
		width:100%;
	}
	#loginFormTitle{
		text-align:center;
	}

	/**
	 * Layout CSS
	 */
	#header {
	  position: fixed;
	  top: 0;
	  right: 0;
	  left: 0;
	  z-index: 200;
	  transition: left 0.2s;
	}
	
	#sidedrawer {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  width: 273px;
	left: -273px;	
	  overflow: auto;
	  z-index: 2;
	  background-color: #fff;
	  transition: transform 0.2s;
	}
	
	#content-wrapper {
	  min-height: 100%;
	  overflow-x: hidden;
	  margin-left: 0px;
	  transition: margin-left 0.2s;
	
	  /* sticky bottom */
	  margin-bottom: -160px;
	  padding-bottom: 160px;
	}
	
	#footer {
	  height: 160px;
	  margin-left: 0px;
	  transition: margin-left 0.2s;
	}
	
	@media (min-width: 768px) {
	  #header {
		left: 273px;
	  }

	  #sidedrawer {
		transform: translate(273px);
	  }

	  #content-wrapper {
		margin-left: 273px;
	  }

	  #footer {
		margin-left: 273px;
	  }
	
	  body.hide-sidedrawer #header {
		left: 0;
	  }
	
	  body.hide-sidedrawer #sidedrawer {
		transform: translate(0px);
	  }
	
	  body.hide-sidedrawer #content-wrapper {
		margin-left: 0;
	  }
	
	  body.hide-sidedrawer #footer {
		margin-left: 0;
	  }
	}
	
	
	/**
	 * Toggle Side drawer
	 */
	#sidedrawer.active {
	  transform: translate(273px);
	}
	
	
	/**
	 * Header CSS
	 */
	.sidedrawer-toggle {
		//color: rgba(0,0,0,0.54);
	  text-decoration: none;
	  cursor: pointer;
	  font-size: 20px;
	  line-height: 20px;
	  margin-right: 10px;
	}
	
	.sidedrawer-toggle:hover {
	  /*color: #fff;*/
	  text-decoration: none;
	}
	
	/**
	 * Footer CSS
	 */
	#footer {
	  /* color: #fff;*/
	}
	
	#footer a {
	  /*color:#fff;*/
	  text-decoration: underline;
	}
	/**
	 * Side drawer CSS
	 */
	
	
	#sidedrawer ul {
	  list-style: none;
	}
	
	#sidedrawer > ul {
	  padding-left: 0px;
	}
	
	#sidedrawer > ul > li:first-child {
	  padding-top: 15px;
	}
	
	#sidedrawer strong {
	  display: block;
	  padding: 15px 22px;
	  cursor: pointer;
	}
	
	#sidedrawer strong:hover {
	  background-color: #E0E0E0;
	}
	
	#sidedrawer strong + ul > li {
	  padding: 6px 0px;
	}
	
	/************
	JQUERY UI AUTOCOMPLETER
	*************/
	.ui-autocomplete {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		float: left;
		display: none;
		min-width: 160px;   
		padding: 8px 0;
		margin: 0 0 10px 25px;
		list-style: none;
		background-color: #ffffff;
		border-color: #ccc;
		border-color: rgba(0, 0, 0, 0.2);
		border-style: solid;
		border-width: 1px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		*border-right-width: 2px;
		*border-bottom-width: 2px;
	}
	
	.ui-menu-item > a.ui-corner-all {
		display: block;
		padding: 3px 15px;
		clear: both;
		font-weight: normal;
		line-height: 18px;
		color: #555555;
		white-space: nowrap;
		text-decoration: none;
	}
	
	.ui-menu-item {
		display: block;
		hieght:48px;
		padding-bottom: 16px;
		padding-left:16px;
		padding-top:16px;
		font-size:16px;
		clear: both;
		font-weight: normal;
		text-decoration: none;
	}
	
	.ui-state-hover, .ui-state-active, .ui-state-focus {
		color: #ffffff;
		text-decoration: none;
		background-color: #0088cc;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		background-image: none;
		cursor:pointer;
	}
	/* [start] Tooltip for Sidebar Menu */
	.hasTooltip span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
	}
	.hasTooltip:hover span {
		display: block;
		position: absolute;
		margin: 2px 10px;
		background: rgba(97, 97, 97, 0.9) none repeat scroll 0 0;
		border-radius: 2px;
		color: #fff;
		padding: 5px;
	}
	.hasTooltip:hover span.last_menu_item {

		bottom: 40px;
	}
	.hasTooltip:hover span.icon_tooltip {
		background-color: #000;
		opacity: 0.8;
		bottom: 30px;
		margin-left: 0;
		padding : 3px 5px;
	}
	/* [end] Tooltip for Sidebar Menu */
