.cut_collection .mui-btn {
  margin: 0;
}

.table_cust .mdl-data-table td:first-of-type,
.table_cust .mdl-data-table th:first-of-type {
  width: 20%;
}

.table_cust .table_name {
  width: 90%;
  display: inline-block;
  text-align: left;
  font-weight: 800;
  font-size: 15px;
  color: #13537f;
  cursor: pointer;
}

select.cust-select-collect {
  min-width: 330px;
}

.table_cust table {
  width: 95%;
}

.table_cust {
  margin-bottom: 20px;
  max-width: 18.8vw;
}

.collec-properties table {
  width: 100%;
}

.cut_collection {
  margin-bottom: 10px;
}

.table_cust .mdl-data-table thead {
  padding-bottom: 3px;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.table_cust tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

.table_cust .mdl-data-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.collec-properties .mdl-data-table td,
.collec-properties .mdl-data-table th {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

span.col_name_cust {
  padding-left: 10px;
}

.mdl-data-table,
.mdl-data-table th,
.mdl-data-table td {
  font-size: 14px;
}

.collec-properties th {
  width: 50%;
}

.collec-properties select,
.collec-properties input {
  height: 36px;
  width: 100%;
  padding: 5px;
}

.cust-main-collect h4 {
  font-size: 34px;
}

.col_name_cust {
  cursor: pointer;
}

input#collection_name {
  margin: 0 8px;
  padding: 0 5px;
  height: 36px;
}

.filter_main_div select {
  margin-right: 8px;
  float: none;
}

.tree_view_row.cust-main-collect > div:last-child {
  margin-top: 45px !important;
}

.collec-properties .mui-textfield,
.collec-properties .mui-checkbox,
.collec-table .mui-textfield,
.collec-table .mui-checkbox,
.collec-coll .mui-textfield,
.collec-coll .mui-checkbox {
  padding: 0;
  margin: 0;
}

.collec-properties input,
.collec-table input,
.collec-coll input {
  height: 25px;
}

.collec-properties .mui-checkbox input,
.collec-table .mui-checkbox input,
.collec-coll .mui-checkbox input {
  height: 15px;
}

.highliteRow {
  background: #ccc;
}

.collec-properties .mui-checkbox .propcheckbox,
.collec-table .mui-checkbox .propcheckbox,
.collec-coll .mui-checkbox .propcheckbox {
  width: auto;
}

.collec-properties .mui-checkbox,
.collec-table .mui-checkbox,
.collec-coll .mui-checkbox {
  text-align: left;
}

#collection_data {
  width: 100%;
  max-width: 1100px;
  overflow: auto;
  max-height: 440px;
}

.cust-main-collect .mdl-cell--3-col {
  width: 25%;
}

.cust-main-collect .mdl-cell--9-col {
  width: 100%;
}

.cust-main-collect .collec-table.mdl-cell,
.cust-main-collect .collec-properties,
.cust-main-collect .collec-coll {
  width: 100%;
  min-width: 350px;
}

.cust-main-collect h5 {
  margin-top: 0px;
}

.cust-main-collect.mdl-grid {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: initial;
  flex-wrap: initial;
  flex-direction: row;
}

.collec-table,
.collec-properties,
.collec-coll {
  transform: translateX(100%);
  position: relative;
  left: 100%;
}

.collec-table,
.collec-properties,
.collec-coll {
  -webkit-animation: propery_slide 0.1s; /* Safari 4+ */
  -moz-animation: propery_slide 0.1s; /* Fx 5+ */
  -o-animation: propery_slide 0.1s; /* Opera 12+ */
  animation: propery_slide 0.1s; /* IE 10+, Fx 29+ */
  left: 0%;
  transform: translateX(0);
}

@-webkit-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-moz-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-o-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.collec-table[style*='none'],
.collec-properties[style*='none'],
.collec-coll[style*='none'] {
  -webkit-animation: propery_slide_off 0s; /* Safari 4+ */
  -moz-animation: propery_slide_off 0s; /* Fx 5+ */
  -o-animation: propery_slide_off 0s; /* Opera 12+ */
  animation: propery_slide_off 0s; /* IE 10+, Fx 29+ */
  left: 100%;
  transform: translateX(100%);
}

@-webkit-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-moz-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-o-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.tbl-controller {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tbl-controller > div {
  display: inline-block;
  float: none;
  width: auto;
}

.tbl-controller > div.right {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

.tbl-controller .sidedrawer-toggle {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  background-color: #2196F3;
  text-align: center;
  line-height: 36px;
  margin-top: 6px;
}

.addsql {
  border: 1px solid #000;
  background-color: #fff;
}

.propertyData .coll-border {
  background-color: #fff;
  border: 1px solid #000;
  margin-left: 5px;
  margin-top: 0px;
  height: 100%;
}

.propertyData h6 {
  border-bottom: 2px solid;
}

.mdl-data-table td .mui-select {
  text-align: left;
}
