.cut_collection .mui-btn {
  margin: 0;
}

.table_cust .mdl-data-table td:first-of-type,
.table_cust .mdl-data-table th:first-of-type {
  width: 7%;
}

.table_cust .table_name {
  width: 90%;
  display: inline-block;
  text-align: left;
  font-weight: 800;
  font-size: 15px;
  color: #13537f;
  cursor: pointer;
}

select.cust-select-collect {
  min-width: 330px;
}

.table_cust table {
  width: 95%;
}

.table_cust {
  margin-bottom: 20px;
  max-width: 50vw;
  min-width: 573px;
}

.collec-frame-properties table {
  width: 100%;
}

.cut_collection {
  margin-bottom: 10px;
}

.table_cust .mdl-data-table thead {
  padding-bottom: 3px;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.table_cust tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

.table_cust .mdl-data-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.collec-frame-properties .mdl-data-table td,
.collec-frame-properties .mdl-data-table th {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

span.col_name_cust_frame {
  padding-left: 10px;
}

.mdl-data-table,
.mdl-data-table th,
.mdl-data-table td {
  font-size: 14px;
}

.collec-frame-properties th {
  width: 50%;
}

.collec-frame-properties select,
.collec-frame-properties input {
  height: 36px;
  width: 100%;
  padding: 5px;
}

.cust-main-collect h4 {
  font-size: 34px;
}

.col_name_cust_frame {
  cursor: pointer;
}

input#collection_name {
  margin: 0 8px;
  padding: 0 5px;
  height: 36px;
}

.filter_main_div select {
  margin-right: 8px;
  float: none;
}

.tree_view_row.cust-main-collect > div:last-child {
  /*   margin-top: 45px !important;*/
}

.collec-frame-properties .mui-textfield,
.collec-frame-properties .mui-checkbox,
.collec-frame-table .mui-textfield,
.collec-frame-table .mui-checkbox,
.collec-coll .mui-textfield,
.collec-coll .mui-checkbox {
  padding: 0;
  margin: 0;
}

.collec-frame-properties input,
.collec-frame-table input,
.collec-coll input {
  height: 25px;
}

.collec-frame-properties .mui-checkbox input,
.collec-frame-table .mui-checkbox input,
.collec-coll .mui-checkbox input {
  height: 15px;
}

.highliteRow {
  background: #ccc;
}

.collec-frame-properties .mui-checkbox .propcheckbox,
.collec-frame-table .mui-checkbox .propcheckbox,
.collec-coll .mui-checkbox .propcheckbox {
  width: auto;
}

.collec-frame-properties .mui-checkbox,
.collec-frame-table .mui-checkbox,
.collec-coll .mui-checkbox {
  text-align: left;
}

#collection_data {
  width: 100%;
  max-width: 1100px;
  overflow: auto;
  max-height: 440px;
}

.cust-main-collect .mdl-cell--3-col {
  width: 50%;
}

.cust-main-collect .mdl-cell--9-col {
  width: 100%;
}
.cust-main-collect .collec-frame-table.mdl-cell,
.cust-main-collect .collec-frame-properties,
.cust-main-collect .collec-coll {
  width: 37%;
}

.cust-main-collect h5 {
  margin-top: 0px;
}

.cust-main-collect.mdl-grid {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: initial;
  flex-wrap: initial;
  flex-direction: row;
}

.collec-frame-table,
.collec-frame-properties,
.collec-coll {
  transform: translateX(100%);
  position: relative;
  left: 100%;
}

.collec-frame-table,
.collec-frame-properties,
.collec-coll {
  -webkit-animation: propery_slide 0.1s; /* Safari 4+ */
  -moz-animation: propery_slide 0.1s; /* Fx 5+ */
  -o-animation: propery_slide 0.1s; /* Opera 12+ */
  animation: propery_slide 0.1s; /* IE 10+, Fx 29+ */
  left: 0%;
  transform: translateX(0);
}

@-webkit-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-moz-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-o-keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes propery_slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.collec-frame-table[style*='none'],
.collec-frame-properties[style*='none'],
.collec-coll[style*='none'] {
  -webkit-animation: propery_slide_off 0s; /* Safari 4+ */
  -moz-animation: propery_slide_off 0s; /* Fx 5+ */
  -o-animation: propery_slide_off 0s; /* Opera 12+ */
  animation: propery_slide_off 0s; /* IE 10+, Fx 29+ */
  left: 100%;
  transform: translateX(100%);
}

@-webkit-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-moz-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-o-keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes propery_slide_off {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.tbl-controller {
  /* background-color: #fff; */
  /* box-shadow: 0 0 20px rgba(0,0,0,0.2); */
  border-radius: 0;
  border-bottom: 2px solid;
}

.tbl-controller > div {
  display: inline-block;
  float: none;
  width: 156px;
}

.tbl-controller > div.right {
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  width: auto;
}

.tbl-controller .sidedrawer-toggle {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  background-color: #2196F3;
  text-align: center;
  line-height: 36px;
  margin-top: 6px;
}

.collec-frame-properties h6,
.collec-frame-table h6,
.collec-coll h6 {
  margin-top: 0px;
  padding: 10px 0;
  border-bottom: 2px solid #000;
}

.collec-frame-properties,
.collec-frame-table,
.collec-coll {
  min-width: 450px;
  padding: 2px 7px;
  background: #fff;
  margin-top: 0;

  margin-bottom: 0;
  width: 100%;
  border: 1px solid;
}

.collec-frame-properties > div {
  padding: 0px !important;
}

.frame-panel {
  width: 100%;
}

.main_content_part_class .mui-panel {
  display: flex;
  flex-direction: row;
}

.page-frame-panel .mui-panel {
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.page-frame-panel .mui-panel .frame-panel {
  padding: 0px;
  background: #fff;
  border: 1px solid;
  margin-top: 10px;
}

.propertyData {
  margin-top: 10px;
}

.page-frame-panel .mui-panel .frame-panel button {
  padding: 0 10px;
  margin-top: 0;
  height: auto;
  background: transparent;
}

.page-frame-panel .mui-panel .frame-panel button:hover,
.page-frame-panel .mui-panel .frame-panel button:focus,
.page-frame-panel .mui-panel .frame-panel button:active {
  box-shadow: none;
  background: transparent;
  box-shadow: none;
}

.page-frame-panel .mui-panel .frame-panel .tbl-controller {
  border-bottom: 1px solid;
  padding: 10px 5px;
}

.page-frame-panel .mui-panel .frame-panel .tbl-controller .cut_collection {
  margin-bottom: 0;
}

div#all_frame_data {
  display: flex;
  flex-direction: row;
}

.frame_start {
  width: 100%;
}

.tbl-controller button.mui-btn {
  line-height: normal;
  margin: 0;
  padding: 0 7px !important;
}

.or-div {
  text-align: center;
  position: relative;
  font-size: 20px;
  margin: 30px 0;
}

.or-div span {
  padding: 0 15px;
  background: #fff;
  position: relative;
}

.or-div:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 9px;
  background: #ddd;
  left: 0;
}

.select-collection {
  display: flex;
  justify-content: space-between;
}

.select-collection .mui-select {
  width: 80%;
}

.cust-main-collect {
  overflow: auto;
  width: 100%;
}

.mdl-data-table td .mui-select {
  text-align: left;
}
