/*@font-face {
  font-family: 'Roboto';
  src: url('../../../advancedSerachDateSelContts/fonts/Roboto/Roboto-BlackItalic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Light.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Thin.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Thin.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-LightItalic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Regular.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Medium.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Black.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: '../../../assets/fonts/Roboto/Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-ThinItalic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-MediumItalic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Italic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Italic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-Bold.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto/Roboto-BoldItalic.eot');
  src: url('../../../assets/fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../../../assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
    url('../../../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
    url('../../../assets/fonts/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
*/
/*ADDED BY kEVIN 17-03-2020*/
@font-face {
  font-family: 'icomoon';
  src: url('../../../assets/fonts/icomoon.eot?wwam9z');
  src: url('../../../assets/fonts/icomoon.eot?wwam9z#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/icomoon.ttf?wwam9z') format('truetype'),
    url('../../../assets/fonts/icomoon.woff?wwam9z') format('woff'),
    url('../../../assets/fonts/icomoon.svg?wwam9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/fonts/edit_icomoon.eot?sxwtoc');
  src:  url('../../../assets/fonts/edit_icomoon.eot?sxwtoc#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/edit_icomoon.ttf?sxwtoc') format('truetype'),
    url('../../../assets/fonts/edit_icomoon.woff?sxwtoc') format('woff'),
    url('../../../assets/fonts/edit_icomoon.svg?sxwtoc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/*END*/

html,
body {
  height: 100%;
  background-color: #eee;
  font-family: 'Lato', sans-serif !important;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

th {
  font-weight: normal;
  color: #a4a1a1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 600 !important;
}

a:hover, a:focus {
  text-decoration: none !important;
}

.edit-appbar {
  background-color: #2196F3;
  display: none;
  min-height: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9;
}

.edit-btn {
  display: none;
  max-height: 24px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  line-height: 0px;
  vertical-align: middle;
  position: relative;
}

.edit-options {
  display: none;
  vertical-align: middle;
  margin-bottom: 0px;
}

.edit-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 76px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 1;
}

.edit-dropdown-div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  width: 76px;
  margin-left: 8px;
  min-height: 40px;
}

.edit-dropdown-content-btn-sel {
  background-color: #ffae00 !important;
}

.edit-dropdown-content button {
  line-height: 0;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 24px;
  margin: 0px;
  margin-left: 0px !important;
  padding: 0px;
  background-color: #a4a1a1;
}

.edit-dropdown-content input {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #000;
}

.edit-container {
  display: block;
  position: relative;
  min-width: 150px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 12px;
  overflow: visible;
}

.edit-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.edit-dropdown-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.edit-container:hover input ~ .edit-dropdown-checkbox {
  background-color: #ccc;
}

.edit-container input:checked ~ .edit-dropdown-checkbox {
  background-color: #ffae00;
}

.edit-dropdown-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.edit-container input:checked ~ .edit-dropdown-checkbox:after {
  display: block;
}

.edit-container .edit-dropdown-checkbox:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.edit-show {
  display: block;
}

.edit-div-overlay {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.edit-div-outline {
  border: solid medium #13537f;
}

.edit-pointer-cancel {
  pointer-events: all;
}

.logo-nav-menu {
  width: 32px;
}

.space-top {
  height: 20px;
}

.BSIT-Table {
  overflow-x: auto;
}

/*.BSIT-TableHead {
  overflow-y: auto;
  max-height: 500px;
  font-weight: bold;
  border-bottom: thin solid #bfbfbf;
}

.BSIT-TableHead {
  cursor: pointer;
}*/

.sort_arrow {
  color: #13537f;
}

/*.BSIT-TableBody {
  overflow-y: auto;
  max-height: 420px;
}*/

/*.BSIT-TableRow {
  clear: both;
  min-height: 35px;
  border-top: thin solid #e3e3e3;
}*/

/*.BSIT-TableCell {
  float: left;
  min-height: 10px;
  padding: 5px;
  overflow: hidden;
}*/

.BSIT-TableActions {
  float: left;
  width: 24px;
  height: 24px;
  clear: none;
  opacity: 0.4;
  margin-right: 0px;
}

/*side menu design*/

.main_menu_item {
  float: right;
  clear: none;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  display: block;
  overflow: visible;
  cursor: pointer;
  opacity: 0.7;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
}

.menu_item_icon {
  float: left;
  min-height: 48px;
  padding-right: 28px;
  width: 25px;
}

.menu_item_icon img {
  float: left;
  width: 16px;
  height: 16px;
  clear: none;
  margin-top: 13px;
  margin-bottom: 11px;
  opacity: 0.4;
  position: inherit;
}

.menu_item_text {
  float: left;
  height: auto;
  margin: 0px;
  clear: none;
  width: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  width: calc(100% - 33px);
}

.menu_item_text p {
  float: none;
  width: auto;
  height: auto;
  text-align: left;
  clear: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
  position: relative;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal; 
}

.bsit-menu-header {
  font-weight: bold;
}

/*side menu design END*/


/* Added by Ty 19/02/2020 */
#loginPageBG{
  background-image: url(../../../assets/core/images/HeaderAboutUs.jpg);
  /*width:100%;
  height:100%;*/
  background-size: cover;
}

.basit_logon_image:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bsit_login {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.basit_logon_image {
  padding: 0;
  background-image: url(../../../assets/core/images/HeaderAboutUs.jpg);
  background-size: cover;
  height: 100vh;
  width: 63%;
}

.basit_logon_image img {
  width: 100%;
}

.bsit_login_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: #fff;
  min-height: 100vh;
  width: 37%;
}
.bsit_login_titel{
  padding-top: 40px;
  padding-bottom: 25px;
  float: left;

}
.bsit_login_btn{
  padding: 0;
  margin-top: 24px;
}

.bsit_login_btn button{
  width: 100%;
  text-align: center !important;
  float: left;
  border-radius: 4px;
  height: 40px;
}

.bsit_login_btn button:hover {
  background-color: #1e91e9 !important;
  box-shadow: none;
}

.reset-password a {
  text-align: center !important;
  text-transform: capitalize;
  font-weight: 600;
  color: #2196F3;

}

#form-signin {
  width: 100%;
  float: left;
}

.bsit_login_titel h2 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #334150;
}

.bsit_login_titel p {
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
@media only screen and (max-width: 991px) {

  .basit_logon_image {
    width: 50%;
  }
  .bsit_login_form {
    width: 50%;
  }

  #loginForm{
    padding: 87px 50px !important;
  }

}

@media only screen and (max-width: 767px) {

  .basit_logon_image {
    display: none;
  }
  .bsit_login_form {
    width: 100%;
  }
  .bsit_login_titel{
    padding-top: 30px;
  }

  #loginForm {
    padding: 30px !important;
  }

}
/*Added by kevin 17-03-2020*/

/*icomoon css*/
.icon-add-opportunity:before {
  content: "\e908";
}
.icon-add-task:before {
  content: "\e909";
}
.icon-add-to-group:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-calendar-time:before {
  content: "\e90c";
}
.icon-files:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e90e";
}
.icon-news:before {
  content: "\e90f";
}
.icon-notifications:before {
  content: "\e910";
}
.icon-organization:before {
  content: "\e911";
}
.icon-portfolio:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-task:before {
  content: "\e914";
}
.icon-add-oval:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-filters:before {
  content: "\e904";
}
.icon-repeat:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e906";
}
.icon-trash:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e900";
}

.icon-filter:before {
  content: "\e915";
}
.icon-setting:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e917";
}
.icon-Close:before {
  content: "\e918";
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bsit_ahm_btn.mui-btn--primary{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: 4px;
  border: solid 1px #e1e8ee;
  background-color: #ffffff !important;
  margin-right: 4px;
  height: 32px;
  width: 32px;
  float: left;
  color: #7f8fa4 !important;
  padding: 0;
  margin-top: 0px !important;
  margin-left: 4px;
}
.bsit_ahm_btn.mui-btn--primary:hover {
  color: #249AF3 !important;
}


#table td a.bsit_edite_menu {
  font-size: 20px;
  color: #000;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 100%;
    margin-top: -4px;
    display: block;
    float: left;
}
#table td a.bsit_edite_menu:hover {
  color: #249AF3 !important;
}

.bsit_edite_sub_menu {
  list-style-type: none;
  width: 150px;  
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(39, 43, 47, 0.2);
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1;
  padding: 0;
  /*visibility:hidden;*/
  display: none;  

}

.bsit_edite_sub_menu .bsit-edit-btn .BSIT-TableActions {
  width: 100%;
  margin: 0;
}

.bsit_edite_sub_menu li {
  padding: 0px 0 0px 16px;
  float: left;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
    background-position: 12px center;
    cursor: pointer;
}
.bsit_edite_sub_menu li:hover{
  background-color: #f5f6f7;
}
.bsit_edite_sub_menu li a:hover {
  text-decoration: none;
}

.bsit_edite_sub_menu li .BSIT-TableActions,
.bsit-edit-btn .BSIT-TableActions {
  opacity: 1
}

.bsit-edit-btn .BSIT-TableActions {
  opacity: 1;
  margin-right: 10px;
}

.bsit_edite_sub_menu li .icon-copy,
.bsit_edite_sub_menu li .icon-trash,
.bsit_edite_sub_menu li .icon-pen,
.bsit_edite_sub_menu li .icon-document,
.bsit_edite_sub_menu li .bsit_custom_auction_box {
  font-family: Lato !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  width: 100%;
  display: block;
  float: left;
}

.bsit_edite_sub_menu li .bsit_custom_auction_box:before {
  padding-right: 10px;
  font-family: 'icomoon' !important;
}
.bsit_edite_sub_menu li .icon-document:before{
  padding-right: 10px;
  font-family: 'icomoon' !important;
 /* color: blue;*/
}
.icon-document:before {
  content: "\e90d";
}
.bsit_edite_sub_menu li .icon-copy:before{
  padding-right: 10px;
  font-family: 'icomoon' !important;
}
.bsit_edite_sub_menu li .icon-trash:before{
  padding-right: 10px;
  font-family: 'icomoon' !important;
  color: red;
}
.bsit_edite_sub_menu li .icon-pen:before{
  padding-right: 10px;
  font-family: 'icomoon' !important;
}
.main_table_start .table tbody > tr > td:last-child, .main_table_start .table thead > tr > th:last-child{
  border-width: 0;
  border-radius:0;
  position: absolute;
  right: 31px;
  background-color: #fff;
  border: 0;
  top: auto;
  width: 100px;
  height: 35px;
  padding-left: 15px;
}
.main_table_start .table thead > tr > th:last-child{
  height: 35px;
}
.table-hover > tbody > tr:hover td:last-child {
  background-color: #f5f5f5;
}
.bsit_active{
  background-color: #f6fbff;
  outline: 2px solid #249af3;
  outline-offset: -1px;
}
.table-responsive .bsit_active .first, .main_table_start .table tbody > tr.bsit_active > td:last-child {
  background-color: #f6fbff;
}
/*
.bsit_edite_sub_menu .bsit_edit {
background-image: url(../../../assets/core/images/pen.svg);
}

.bsit_edite_sub_menu .bsit_fav {
  background-image: url(../../../assets/core/images/favorites.svg);
}

.bsit_edite_sub_menu .bsit_delete {
  background-image: url(../../../assets/core/images/trash.svg);
}*/

.bsit_edite_sub_menu li a {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  float: left;
  width: 100%;
  padding: 6px 0;

}
.icon-pen{
    margin-right: 20px;
    margin-top: 4px;
    font-size: 16px;
    color: #7f8fa4;
        height: 30px;
    float: left;
  }
.icon-pen:hover:before {
  color: #249AF3 !important;
}

.bsit_edite_img img { 

  float: left;
  width: 20px !important;
  height: auto;
  opacity: 1;
  margin-right: 25px; 
  margin-top: 6px;
}
.bsit_edite_img:hover img{
  opacity: 1;
}


#toggle {
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align:left;
    line-height:100%;
    font-size: 1.0em;
    text-transform:uppercase;
    font-style:normal;
}
#toggle li {
cursor: pointer;
}
#toggle li a {
    text-decoration:none;
}
#toggle li.open ul {
    visibility:visible;
}

.bsit_check {
  display: block;
  position: relative;
  /*padding-left: 35px;*/
  float: left;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.bsit_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.bsit_checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 4px;
  border:1px solid #e1e8ee;
  box-shadow: 0 0px 1px 0px #000;
}
.bsit_checkmark_design_mode { 
  top: -7px; 
}
.bsit_checkmark_design_mode_popup{
  top: 0px;
}
.bsit_checkmark_design_mode_sidebar { 
  top: 4px; 
}

/* On mouse-over, add a grey background color */
.bsit_check:hover input ~ .bsit_checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.bsit_check input:checked ~ .bsit_checkmark {
  background-color: #249af3;
  border-width: 0;
  box-shadow: none;
}

/* Create the bsit_checkmark/indicator (hidden when not checked) */
.bsit_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the bsit_checkmark when checked */
.bsit_check input:checked ~ .bsit_checkmark:after {
  display: block;
}

/* Style the bsit_checkmark/indicator */
.bsit_check .bsit_checkmark:after {
  left: 4.9px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*END*/

/*added by Kevin 18-03-2020*/

.bsit_download_btn  { 
  /*position: absolute; */
  top: 4px; 
  border-radius: 4px;
  border: solid 1px #e1e8ee;
  background-color: #ffffff !important;
  height: 32px;
  width: 32px;
  color: #7f8fa4 !important;
  padding: 7px;
  left: 30px;
}

.bsit_download_btn:hover  { 
  box-shadow: box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
  color: #249AF3 !important;
}
.bsit_top_icon_bar {
  float: left;
  width: 100%;
}

.bsit_filters{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: 4px;
  border: solid 1px #e1e8ee;
  background-color: #ffffff;
  margin-right: 12px;
  height: 32px;
  width: 32px;
  float: right;
  color: #7f8fa4;
  margin: 0;
}

.bsit_filters:hover {
  color: #249AF3 !important;
}

.bsit_active_filters {
  color: #249AF3 !important;
}

.collapsible {
  outline: none;
}


.bsit_content {
  display: none;
  /*overflow: hidden; */
  width: 100%;
  float: left;
  /*border: 1px solid #000;*/
  padding: 5px 10px;
}

.bsit_page_per_row {
  float: left;
  position: relative;
}
.bsit_page_per_row span {
   font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #7f8fa4;
  margin-left: 15px;
}

.bsit_page_per_row .number_of_rec {
  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
      font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
    border-radius: 4px;
  border: solid 1px #e1e8ee;
  background-color: #ffffff;
  width: 80px;
  background-image: url(../../../assets/core/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 87% 54%;
    background-size: 13px;
    cursor: pointer;
}

/*.bsit_page_per_row:after {
  content: "";
  position: absolute;
    left: 64px;
    top: 7px;
    width: 9px;
    height: 9px;
    border: solid #7f8fa4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);


}*/
.bsit_prev_next {
  opacity: 1 !important;  
  font-family: Lato !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.43 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #249af3 !important;
  border-radius: 4px !important;
  border: solid 1px #e1e8ee !important;
  background-color: #ffffff !important;
  text-transform: capitalize !important;
  height: auto !important;
  padding: 10px 15px !important;
  line-height: 100% !important;
  cursor: pointer !important;
}
.bsit_prev_next[disabled][disabled] { 
  opacity: 1 !important;
  /*cursor: not-allowed !important;*/
  color: #bfc7d1 !important;
 }

/*END*/

/*added by Kevin 19-03-2020*/

/*header*/
.bsit_header_menu {
  list-style-type: none;
}
.bsit_header_profile {
  float: right;
  margin-top: 10px;
}
.bsit_header_menu .bsit_header_profile img {
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 50px;
}
.bsit_header_sub_menu { 
  list-style-type: none; 
  width: 250px;
  position: absolute;
  right: 15px;
  top: 60px;
  padding: 0;
  background: #fff;
  box-shadow: 0 0 5px 0px #BFC7D1;
  display: none; 
}

.bsit_header_sub_menu:after{
  content: '';
  position: absolute;
  top: -6px;
  right:10px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /*box-shadow: 0 5px 0px #BFC7D1;*/
  z-index: 1;
}

.bsit_header_sub_menu li {
  float: left;
  width: 100%;
  text-align: left;
  clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    border: solid #e0e0e0;
    border-width: 1px 0;
  margin-left:0px;

}

.bsit_header_sub_menu li a {
  color: #6c757d;
  font-family: Lato;
  font-size: 16px;    
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    transition: background-color .3s;
    cursor: pointer;
    font-weight: normal;
    float: left;
    width: 100%;

}
.bsit_header_sub_menu li a:hover { 
  text-decoration: none;
  background-color: rgba(191, 199, 209, 0.09);
 }
 .bsit_header_sub_menu li a span {
   float: left;
 }
.bsit_header_sub_menu li img {
  width: 25px;
  height: auto;
  float: left;
  margin-right: 15px;
}

/*END*/

/*added by Kevin 20-03-2020*/

/*popup form*/
.bsit_form label {
    font-family: Lato;
  display: inline-block;
    width: auto;
    background-color: #FFFFFF;
    top: 6px;
    left: 34px;
    padding: 0 5px;
    z-index: 1;
    color: #757575;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
	 letter-spacing: normal;
    font-stretch: normal;
	line-height: 1.43;
}
.bsit_form label:focus, .mui-textfield:focus{
  outline: none;
}
.bsit_form input, .bsit_form textarea{
	
   border-radius: 4px;
  border: solid #e1e8ee;
  border-width: 1px !important;
  background-color: #ffffff;
   font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  /*margin-top: 10px;*/
  margin-top:0;
  padding: 0 10px;
 height: 40px !important;
 resize: none;

}
.bsit_form input:focus, .bsit_form textarea:focus{
  height: 40px;
  margin-bottom: 0;
  border-width: 1px;
  outline: 0;
  border-color: #2196F3;
}

.mui-textfield--invalid>input:not(:focus):not(:required),
.mui-textfield--invalid>input:not(:focus):required.mui--is-empty.mui--is-dirty,
.mui-textfield--invalid>input:not(:focus):required.mui--is-not-empty,
.mui-textfield--invalid>input:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
.mui-textfield--invalid>input:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty),
.mui-textfield>input:invalid:not(:focus):not(:required),
.mui-textfield>input:invalid:not(:focus):required.mui--is-empty.mui--is-dirty,
.mui-textfield>input:invalid:not(:focus):required.mui--is-not-empty,
.mui-textfield>input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
.mui-textfield>input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) {
  border-width: 1px !important;
}
.bsit_ionvalid_sms{
  color: #f33a3a;
  float: left;
  width: 100%;
}
#form-reset {
  float: left;
  width: 100%;
}

.bsit_login_btn .bsit_back_home{
   font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #249af3 !important;
  text-align: left !important;
  padding: 0;
  margin: 0;
  text-transform: none;

}
.bsit_login_btn .bsit_back_home:hover, .bsit_login_btn .bsit_back_home:focus, .bsit_login_btn .bsit_back_home:active{
  box-shadow: none;
  background-color: transparent !important;
}

.bsit_login_btn .bsit_back_home span { 
  padding-right: 10px;
  font-weight: 600;
  font-size: 16px;
}
.bsit_login_titel ~ .bsit_form {
  float: left;
  width: 100%;
}

.bsit_form select{
  border-radius: 4px;
  border: solid #e1e8ee;
  border-width: 1px !important;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  margin-top: 10px;
    padding: 0 10px;
    height: 40px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(/bsit_sch/assets/core/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 98% 54%;
    background-size: 13px;
}

.bsit_form select:focus {
  border-color: #2196F3;
  outline: 0;
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 16px;
  color: #fff;
  min-width: 150px;
  height: 40px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  padding: 0;
}

.bsit_filter_design .select {
  min-width: 210px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
      border-radius: 4px;
    border: solid 1px #e1e8ee;
    background-color: #ffffff;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #334150;

}
.select-styled:after {
  content: "";
  background-image: url(../../../assets/core/images/arrow-down.svg);
  background-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  background-position: center;
  height: 20px;
  background-repeat: no-repeat;
}
/*.select-styled:hover {
  background-color: #b83729;
}*/
.select-styled:active, .select-styled.active {
  background-color: #fff;
  border-color: #249af3;
}
.select-styled:active:after, .select-styled.active:after {
  
  /*drop down arrow*/
}

.select-options {
  display: none;
  position: absolute;
  top: 96%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 4px;
  border: solid 1px #249af3;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  max-height: 150px;
  z-index: 10;
  /*overflow: auto;*/
}

.bsit_filter_design .select .select-options {
  height: auto;
  max-height: 70vh;
}

.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{
  opacity: 1 !important;
}
.select-options .mCSB_scrollTools .mCSB_draggerRail{
  background-color: rgba(0,0,0,0.6) !important;
  width: 3px;
}
.select-options .mCSB_scrollTools .mCSB_dragger_bar{
  background-color: #fff !important;
}
.select-options li {
  margin: 0;
  padding: 5px 10px;
  /*text-indent: 15px;*/
  border-top: 0px solid #249af3;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #334150;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}

/*.bsit_filter_design .select {
  float: right;
}*/

.bsit_filter_design.filter_main_div { 
  margin-left: 0 !important;
}

/*no-repeat scroll 95% 54% rgba(255, 255, 255, 0.7)*/
.modal-content { 
  border-radius: 0;
}
.bsit_form_titel {
   font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #334150;
  margin: 10px 0;
}

.bsit_form_close_btn{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: transparent;
  box-shadow: none;
  margin-top: -5px;
  margin-bottom: 0;

}

.bsit_form_close_btn:hover, .bsit_form_close_btn:focus {
  background-color: transparent;
  box-shadow: none;
  -webkit-transform: rotate(275deg);
  transform: rotate(275deg);
  margin-top: -2px;
}

.bsit_save_btn {
  border-radius: 4px;
  background-color: #249af3 !important;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff !important;
  min-width: 200px;
  height: 40px;
}

.mui-select__menu {
      border-radius: 4px;
  border: solid 1px #249af3;
  background-color: #ffffff;
}

/*bsit page frame panel*/

.bsit_page_frame_panel .frame-panel {
  border: 1px solid #249af3 !important;
  border-radius: 4px;
}
.bsit_page_frame_panel .tbl-controller {
  border-bottom: 1px solid #249af3 !important;
}
.bsit_filter_icon span {
  font-size: 26px;
}

.bsit_filter_icon span.icon-Close {
  font-size: 20px;
}

.bsit_filter_icon span.icon-filter {
  font-size: 35px;
}
.bsit_filter_icon span.icon-users {
  font-size: 30px;
}
/*.bsit_filter_icon_img {
  margin-top: -13px !important;
}
.bsit_filter_icon_sett{
  margin-top: -5px !important;
}*/
.bsit_filter_icon span:hover {
  color: #249af3;
}
/*END*/


/*Schedules*/



.bsit_statusdiv .mui-select__menu {
  /*top: 100% !important;*/
  max-height: 180px;
  height: auto !important;
}

.bsit_statusdiv .mui-select__menu>div{
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  height: auto;
  padding: 5px 10px;
}


.bsit_statusdiv .mui-select__menu>div:hover,
.bsit_statusdiv .mui-select__menu>div[selected] {
  background-color: #EEE;
}


.tableWide-wrapper {
  /*overflow-x: auto;  */
  /*width: 100% !important;*/
  /*min-width: 100px !important;  */
}

/*.tableScrollTop {
  overflow-x: scroll;
  box-sizing: border-box;
  margin: 0;
  height:20px;
  width: 100%;
}
*/
.tableWide {
  width: 1500px;
  table-layout: fixed;
  margin-top: 0 !important;
}

.bsit_schedules_scroll .fc-scroller-canvas.tableWide-wrapper {
  /*overflow: hidden;*/
}

.bsit_schedules_scroll_unset .fc-scroller {
  /*overflow: unset !important;*/
}


.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 3px !important;
}
.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 28px !important;
}

.fc-button-group.bsit_schedule_calendar .fc-button {
  min-height: 32px !important;
}

/*kevin 11-6-2020*/

.bsit_display_none {
  display: none !important;
}

.mui--appbar-height {
    height: 40px;
}

  @media (max-width: 768px) {
    #all_frame_data {
      flex-wrap: wrap;
    }

    .propertyData {
      width: 100%;
    }
  }


/*END*/

@media (max-width: 768px) {

  .bsit_cal_day_sticky.sticky {
    position: inherit;
    padding: 0;
    width: auto;
    z-index: 0;
    display: none !important;
  }

}


.bsit_cal_popup .select {
  float: left;
  width: 100%;
}

.bsit_user_block .fc-expander-space {
  display: inline-block !important;
  margin-right: 12px;
}

.bsit_user_img {
  width: 40px !important;
  height: 40px !important;
}

.bsit_user_img img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

/*END*/

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(100%);
    padding-top: 60px;
    z-index: 111;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    margin-left: 50px;
    color: #7f8fa4;
}

.sidenav .closebtn:hover{
  outline: none;
  text-decoration: none;
}
.open-bg #header{
  transition: right 0.2s;
  right: 300px;
}
.open-bg #content-wrapper{
  margin-right: 300px;
  transition: margin-right 0.2s;
}
.open {
  transform: translateX(0px);
}
.sidenav {
    padding-top: 25px !important;
    padding: 10px;
  }
.sidenav .bsit_form_titel {
  border-bottom: 2px solid #ccc;
  padding: 17px 0;
}
.sidenav .bsit_form_titel ~ hr {
  display: none;
}
.bsit_form .bsit_side_nave_blank_title{
   font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  margin: 15px 0;
  float: left;
  width: 100%;
}
.bsit_out {
  display: none;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 25px;
    
  }
  .sidenav a {font-size: 18px;}
}

/*END*/

#loginForm {
  /*position: absolute;*/
  width: 100%;     /* added by kevin */
  margin: 0 auto;
  /*right: 0;
  top: 60px;
  left: 0;*/
  z-index: 1;
  /*border-radius: 15px;
  box-shadow: 0 2px 20px 0px #000;*/
  box-shadow: none;
  padding: 74px 103px;
}
#loginForm a {
      width: 100%;
    display: block;
    text-align: left;
}

.fc th, .fc td{
  padding: 5px !important;
}


.mui-float-right {
  float: right;
}
#loginLogoImg {
  width: 180px;
  /*margin-left: 40px;*/
}

#loginFormTitle {
  text-align: center;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  left: -250px;
  /*overflow: auto;*/
  z-index: 2;
  background-color: #334150;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  /* overflow-x: hidden; */
  margin-left: 0px;
  transition: margin-left 0.2s;
  margin-bottom: -180px;
  padding-bottom: 0px;
  /*padding-bottom: 160px;*/
}

#footer {
  height: auto;
  padding: 20px 0;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 249px;
  }
  #sidedrawer {
    transform: translate(250px);
  }
  #content-wrapper {
    margin-left: 250px;
  }
  #footer {
    /*margin-left: 250px;*/
  }
  body.hide-sidedrawer #header {
    left: 0;
  }
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}

#sidedrawer.active {
  transform: translate(250px);
}

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  font-weight: normal;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}

#footer {
  background-color: #2196F3;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  position: sticky;
  text-align: center;
  /*bottom: 0;*/
  bottom: -46px;
  left: 0;
  float: left;
  height: 85px;

}

#footer a {
  color: #fff;
  text-decoration: underline;
}

#sidedrawer-brand {
  padding-left: 20px;
  background-color: #1e91e9;
  color: #fff;

}

#sidedrawer ul.content.mCustomScrollbar {
  list-style: none;
  padding-bottom: 10px;
  overflow: auto;
  height: 86vh;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: #fff;
}

/*added by kevin 23-03-2020*/
#sidedrawer #footer{
  background-color: #334150 !important;
  height: 40px;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  position: fixed;
}
/*END*/
#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  /*padding-top: 15px;*/
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #e0e0e0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}

#calendarMainArea {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #ffffff;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 340px !important;
  padding: 8px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #2196f3;
  /*border-color: rgb(23 124 115);*/
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  -webkit-box-shadow: 0 5px 10px 2px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 5px 10px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 5px 10px 2px rgb(0 0 0 / 20%);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#bsit-upload-modal {
        z-index: 1039;
}
.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-menu-item {
  display: block;
  height: auto;
  /*height: 48px;*/
  padding: 8px;
  font-size: 16px;
  clear: both;
  font-weight: normal;
  text-decoration: none;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
  cursor: pointer;
}

.float_0 {
  float: none;
}

.action_div {
  cursor: initial;
}

.filter_text_class {
  top: 8px;
}

#example_wrapper .mdl-grid:nth-of-type(1) {
  display: none;
}

.filter_main_div {
  margin: 8px !important;
}

.filter_main_div select {
  margin-right: 8px;
  padding: 8px 25px 8px 10px;
  float: left;
  background-position: 96% 54%;
}

.input_with_search {
  float: left;
  position: relative;
  margin-bottom: 5px;

}

.filter_list_div {
  float: left;
  margin-bottom: 5px;
}

.input_with_search input {
  padding: 6px 4px 6px 40px;
  float: left;
}

.filter_submit {
  position: absolute;
    cursor: pointer;
    left: 12px;
    color: #7F8FA4;
    /*float: left;*/
    top: 23px;
    z-index: 9;
}

#pagination_output {
  text-align: right;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  opacity: 0.5;
  z-index: 99999;
}

.material_loder {
  position: relative;
  top: 50%;
  left: 53%;
}

.pagination {
  margin: 10px 0 0 0;
  float: left;
  width: 100%;
  display: block;
}

.mdl-button {
  font-weight: normal !important;
}

svg {
  vertical-align: baseline !important;
}

#table td a {
  text-decoration: none;
 font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  white-space: nowrap;
  display: block;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
   border-radius: 4px;
  background-color: #f5f6f7 !important;
}

#table th,
.action_class {
  cursor: pointer;
}

.table-hover {
  background-color: #fff;
}

.action_class:hover {
  color: #2a6496 !important;
}

.BSIT-TableActions {
  cursor: pointer;
}

.main_table_start {
  overflow: auto;
  display: block;
  width: 100%;
  padding-left: 1px;
}

.table-responsive .table {
  padding: 15px 0 15px 1px;
  float: left;
  width: 100%;
  /*display: block;*/
  /*margin-left: 1px;*/
  min-height: 250px;
}

.table-responsive .first {
  position: absolute;
  background: white;
  display: table-cell;
  border-bottom: 0 !important;
  padding: 4px 8px !important;
  height: 35px;
  
}

.table tbody > tr > td {
  border: none;
  padding: 10px;
      font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #334150;
    white-space: nowrap;
}
.table tbody > tr > td:nth-last-child(3) {

}

.table thead > tr > th:nth-last-child(3){
  padding-right: 103px;
}

.table tbody > tr {
  /*border: 1px solid #fff;*/
}

.table thead > tr > th {
  vertical-align: top;
   font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #7f8fa4;
  white-space: nowrap;
  border: 0;
  text-transform: capitalize;
}

table.table {
  border-collapse: collapse;
}



/*END*/

.disp_filter {
  background-color: #f5f6f7;
  float: left;
  margin-right: 5px;
  margin-left: 10px;
  padding: 9px 10px;
  border: 1px solid #13537f;
  font-family: Lato;
  border-radius: 4px;
  margin-top: 10px;
  color: #000;
  height: 40px;
}
.disp_filter [data-filter_type="without_history"] {
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(127, 19, 19, 0.6);
}

.disp_filter:hover {
  background-color: rgba(36, 154, 243, 0.09);
}

.bsit-filter-area {
/*  float: left;
  display: block;
  width: 100%;*/
}

.disp_filter1 {
  background-color: #fff;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-left: 3px solid #13537f;
}

.disp_filter .cancle_filter {
  position: relative;
  text-align: right;
  float: right;
}

.cancle_filter svg {
  cursor: pointer;
}

.s_value {
  font-weight: bold;
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.s_name {
  float: left;
  display: inline-block;
}

.cancel_filter {
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}

.s_operator {
  float: left;
  margin-left: 7px;
}

pagination_tr td {
  border: none;
}

pagination_tr {
  border-top: 1px solid #ddd;
}

.pagination_tr {
  float: left;
  width: 100%;
}

.download_button_div {
  float: left;
  /*margin: 0px 0 0;*/
}

.download_button_div:hover {
  cursor: pointer;
}

.table-responsive h3 {
  margin-left: 8px;
}
.bsit_fram_titel{
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #334150;
  margin: 0 0 20px 0 !important;
  position: relative;

}

.number_of_rec {
  padding: 4px;
  margin: 0 5px;
}

.pagi_arrows {
  float: right;
}

.pagi_arrows input {
  padding: 0;
  min-width: 30px;
  margin: 0 0 0 20px;
}

.call_header_div {
  float: left;
  width: 100%;
}

.call_content_div {
  float: left;
  width: 100%;
  margin-top: 0px;
}

.call_content_div .mui-panel {
  padding: 10px;
}

.call_content_div .mui-col-md-12 {
  padding: 0;
}

#job_view_status_container {
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #00aecc;
}

.status_class {
  width: 270px;
  display: inline-table;
  white-space: normal;
  padding: 5px;
/*table-layout: fixed;*/
}

.opp_title_edit {
  word-break: break-word;
}

.status_class div.mui-panel {
  background-color: #e2e4e6;
}

.status_class .mui-panel .mui-container-fluid {
  min-height: 50px;
  max-height: 500px;
  padding: 0;
}

.status_class_heading {
  padding: 5px 0 10px;
}

.status_class_each_content {
  margin-bottom: 5px;
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: move;
  background-color: white;
}

.status_class_each_content:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mCSB_dragger_bar {
  background-color: #000 !important;
  opacity: 0.4;
}
#sidedrawer .mCSB_dragger_bar{
  background-color: #fff !important;
  opacity: 0.4;
}
.mui-row {
  margin: 0;
}

.mCSB_scrollTools {
  /*width: 3px !important;*/
}

.field_title_disp {
  opacity: 0.7;
}

.each_job_footer_part {
  float: left;
  width: 100%;
  margin-top: 7px;
}

.icons_clock_doller {
  bottom: 2px;
  margin-left: 2px;
  opacity: 0.3;
  position: relative;
}

.icons_clock_doller img {
  width: 22px;
}

.main_table_start table th {
  min-width: 40px;
}

.main_table_start table td img {
  width: 100%;
}

.required_label_class {
  color: #f44336 !important;
}

.required_border_class {
  border-color: #f44336 !important;
  border-width: 2px !important;
}

.edit_multi_checkbox_div {
  opacity: 1 !important;
}

.edit_multi_checkbox_div .edit_multi_checkbox {
  margin-left: 2px !important;
  margin-top: 10px !important;
}

.hasTooltip span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 3px;
}

.hasTooltip span:before{
top: -7px;
    border-width: 0 0.5rem 0.5rem;
    border-bottom-color: rgba(97, 97, 97, 0.9);
    position: absolute;
    content: "";
    border-top-color: transparent;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
  }

.hasTooltip:hover span {
  display: none;
  position: absolute;
  margin: 2px 10px;
  background: rgba(97, 97, 97, 0.9) none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  padding: 5px;
}

.hasTooltip:hover span.last_menu_item {
  bottom: 40px;
}

.hasTooltip:hover span.icon_tooltip {
  background-color: #000;
  opacity: 0.8;
  bottom: 30px;
  margin-left: 0;
  padding: 3px 5px;
}

#download_map_data {
  width: 100%;
  text-align: right;
  margin-top: 5px;
}

#download_map_data a {
  cursor: pointer;
}

#download_map_data div {
  float: right;
  text-align: right;
  width: 25px;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.toast .btn,
.toast .btn-large,
.toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}

#job_sel ul li img {
  opacity: 0.3;
}



.marker_labels {
  margin-bottom: 5px;
}

.main_table_start table td img {
  width: 100%;
}

.brain_error .btn.btn-home-back.focus,
.brain_error .btn.btn-home-back:focus,
.brain_error .btn.btn-home-back:hover {
  color: #fff;
  text-decoration: none;
}

.brain_error .btn-home-back {
  background-color: #333333;
  color: #fff;
}

.brain_error .container {
  background: #ffffff none repeat scroll 0 0;
  margin: 0 auto;
  padding: 25px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.brain_error .img-block-icon {
  width: 110px;
}

.brain_error .img-block-icon img,
.brain_error .img_block img {
  max-width: 100%;
  width: auto;
}

.brain_error .content-l-border {
  border-left: 2px solid #ffcc00;
  padding-left: 30px !important;
}

.brain_error .error-block .right p {
  padding: 15px 0;
  display: block;
  width: 100%;
  float: left;
  font-size: 16px;
}

.brain_error .error-block .right-content {
  margin-right: 15px;
}

body .brain_error {
  //margin-top: 50px;
  
  padding-top: 50px;
}

.brain_error_query {
  margin: 20px 0;
}

.brain_error_query .container {
  background-color: rgba(255, 213, 3, 0.1);
}

.brain_error .img_block img {
  max-width: 70%;
  margin: 60px auto;
  display: block;
}

.brain_error .btn.btn-home-back:hover {
  color: #fff;
}

#filtersClearSearch {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
}

#advancedSearchDropArrow {
  /*cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;*/
}

.job_sel {
  outline: none;
  border: none;
  width: 100%;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 0;
}

#advancedSearch {
  background-color: #ffffff;
  clear: both;
  position: relative;
  left: 0px;
  width: 100%;
  margin: 0px 0px 8px 0px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 8px 8px 8px 16px;
  border: none;
  border-radius: 0px 0px 2px 2px;
  letter-spacing: 0.03em;
  z-index: 100;
  border-top: thin solid #afafaf;
  display: none;
}
#advancedSearch.bsit_schedules_advancedSearchDropArrow {
  display: block !important;
   width: 66.66667%;
    box-shadow:none;
  padding: 0;
  border-top: 0;
}


#advancedSerachDateSelCont {
  display: inline-flex;
  flex-wrap: wrap;
}

#add_job_box {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.job_list_main_div {
  position: relative;
}

.mui-panel .multi_edit_content {
  padding: 17px 0;
  font-size: 20px;
}

.worktypediv .mui-select__menu,
.eventtypediv .mui-select__menu,
.statusdiv .mui-select__menu {
  z-index: 999;
}

p.red {
  padding: 1px 5px;
  color: #fff;
  background: #ff0000;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: normal;
  font-size: 12px;
}

p.yellow {
  padding: 1px 5px;
  color: #fff;
  background: #ffee00;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: normal;
  font-size: 12px;
  color: #000;
}

.icon img {
  vertical-align: middle;
  opacity: 0.5;
}

.cust5 {
  margin-top: 10px;
  position: relative;
}

.plus button.mui-btn {
  font-size: 40px;
}

.job .plus {
  text-align: center;
}

#addEditEventForm .mui-select__menu {
  z-index: 9;
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .common {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .common {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .common {
    width: calc(100% / 2);
    margin-bottom: 10px;
  }
  body .cust-select {
    padding: 0 19px 0 5px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .common {
    width: calc(100% / 2);
    margin-bottom: 10px;
  }
}

.margin_top_15 {
  margin-top: 15px;
}

.margin_top_25 {
  margin-top: 25px;
}

.margin_0 {
  margin: 0;
}

.job_card_loader {
  display: block;
  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.job_card_loader .material_loder {
  left: 48%;
}

#event_content_header {
  position: relative;
}

#event_content_body {
  position: relative;
}

#event_content_footer {
  position: relative;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}


.tbl-action td.first a {
  display: inline-block;
  padding: 0 1px;
}

/* New added by HD*/
.mui-select.mui-cust-select {
  padding-top: 0;
}

body .cust-select {
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0 25px 0 10px;
  height: 34px;
}

/*checkbox design */
/* The container */
.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.container input:disabled ~ .checkmark {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* TODO: Remove hardcoded */
#page_frame_19_content .table thead > tr > th:nth-child(5),
#page_frame_19_content .table tbody > tr > td:nth-child(4) {
  /*padding-left: 125px !important;*/
}

#page_frame_56_content .table thead > tr > th:nth-child(5),
#page_frame_56_content .table tbody > tr > td:nth-child(4) {
  padding-left: 125px !important;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pl-125 {
  padding-left: 125px !important;
}

.pl_43 {
  padding-left: 43px;
}

.pl-125.pl_50 {
  padding-left: 50px !important;
}

/* Add css for menu change 12/sep/18 added by HD*/
#sidedrawer ul {
  padding-left: 0px;
}

#sidedrawer strong.header-data:hover {
  background: none !important;
}

#sidedrawer .header-data {
  display: inline-block;
  padding: 0px 22px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
#sidedrawer ul{
  padding-top: 40px;
  float: left;
  width: 100%;
}

#sidedrawer ul li {
      line-height: 0;
    float: left;
    width: 100%;
    display: block;  
}
#sidedrawer ul li .main_menu_item:hover{
  box-shadow: inset 3px 0 0 0 #249af3;
  background-color: rgba(191, 199, 209, 0.09);
}

#sidedrawer ul li a {
  float: left;
  width: 100%;
}
#sidedrawer ul li .main_menu_item:hover,
#sidedrawer ul li .active .main_menu_item {
  opacity: 1;
}
#sidedrawer ul li .main_menu_item:hover .menu_item_icon img {
  opacity: 1;

}

.header-data .main_menu_item {
  padding: 0;
}

.header-data .menu_item_icon img {
  left: 18px;
}

.header-data .menu_item_icon {
  width: 27px;
  padding-right: 27px;
}

.sub-menu-data {
  display: block;
  z-index: 5;
  border: 1px solid #dedede;
  float: left;
  width: 100%;
  border-width: 0px 0px;
  padding: 0 !important;
}
.sub-menu-data li .main_menu_item{
  padding: 0px 0px 0px 30px !important;
}


#sidedrawer strong + ul.sub-menu-data > li {
  padding: 0px;
}

/*new css for mui-select*/
.cust-timesheet.cust-alter.filter_main_div .mui-select {
  padding-top: 0px;
}


.bsit-filter-svg {
  -moz-user-select: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  fill: #7f8fa4;
  height: 15px;
  width: 15px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: pointer;
}

#bsit-notes-flex-container {
  display: block;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-end;
}

.notes-select{
   display: inline-block;
    width: calc(50% - 4px);
}

#bsit-notes-container {
    max-height: 250px;
    overflow: auto;
}

#bsit-note-save-btn {
  flex-grow: 1;
  margin-bottom: 20px;
  margin-left: 20px;
}

#bsit-notes-container {
  display: none;
  background-color: #cfcfcf;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ui-autocomplete.ui-menu {
    max-height: 250px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
    top: 100% !important;
}
/* ADD COLLECTION CSS*/

.or-div {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin: 30px 0;
}
.or-div span {
    padding: 0 15px;
    background: #fff;
    position: relative;
}
.or-div:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 9px;
    background: #ddd;
    left: 0;
}


.select-collection {
    display: flex;
    justify-content: space-between;
}
.select-collection .mui-select {
    width: 80%;
}


/**
  Changes at 24/09/2019
 */
.login-reset-password {
  color: #6200EE;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none !important;

}
.login-reset-password :hover,.login-reset-password :focus {
  color: #6200EE;
  text-decoration: none !important;
}
.reset-password {
  margin-top: 14px
}
.customFieldHoneyPot {
  display: none;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.change-password-icon {
/*  width: 26px;
  filter: brightness(0) invert(1);
  -webkit-filter:invert(1);
  padding-right: 4px;
  padding-left: 0px;
  cursor: pointer; */
}
#change-password-error-report {
  color: #cf0404;
}
.blockUI.blockMsg.blockPage{
  border: none !important;
  text-align: left !important;
  z-index: 99999 !important;
}
.block-user-message {
  text-align: center !important;
}
.blockUI.blockOverlay {
  z-index: 99998 !important;
  }
.modal {
  /*z-index: 99997 !important;*/
}


/*END*/
.ck.ck-editor__editable_inline {
  min-height: 150px;
  max-height: 200px;
}
.BSIT-CalCompleteEvent {
   /* background-image: linear-gradient(to top, #f68136, #ffffff);
    color: #000 !important;*/
    position: relative;
    padding: 4px 6px 4px 15px !important;
}

.BSIT-CalCompleteEvent:after {
  /* content: "\f005"; */
  position: absolute;
  top: 7px;
  left: 1px;
  font: normal normal normal 12px/1 FontAwesome;
}

/*.bsit_cal_sch_event_block {
  display: block;
  width: 100%;
  float: left;
  border-left: 1px solid #ddd;
}
*/
/*.bsit_cal_sch_event_block #bsit_cal_schedules_event {
  min-height: 29px;
  background: #fff;
}

.bsit_cal_sch_event_block table tr, .bsit_cal_sch_event_block table tr td{
  box-sizing: content-box;
}*/



/*css property not change only html file class remove*/
.bsit_visibility_hidden {
  visibility: hidden;
  display: none !important;
}
/*END*/



.bsit_add_job_delete_btn_remove {
  display: none; 
}

.bsit_schedules_deleted_btn button,
.bsit_schedules_deleted_btn button:hover,
.bsit_schedules_deleted_btn button:focus,
.bsit_schedules_deleted_btn button:active {
  border: 0px solid #e1e8ee;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 10px;
  float: left;
  width: 100%;  
  font-size: 34px;
  height: 42px;
  line-height: 100%;
  outline: 0;
  color: #2196F3;
}

.bsit_check_switch {
  position: relative;
  padding-left: 60px !important;
  height: 23px;
}

.bsit_check_switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.bsit_checkmark_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 40px;
}

.bsit_checkmark_slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.bsit_check_switch input:checked + .bsit_checkmark_slider {
  background-color: #2196F3;
}

.bsit_check_switch input:focus + .bsit_checkmark_slider {
  box-shadow: 0 0 1px #2196F3;
}

.bsit_check_switch input:checked + .bsit_checkmark_slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}


.bsit_checkmark_slider {
  border-radius: 34px;
}

.bsit_checkmark_slider:before {
  border-radius: 50%;
}



/*MULTI SELECT START 19-OCT-2020*/

.bsit_multi_select {
  padding: 0;
  list-style-type: none;
  border: 1px solid #e1e8ee;
  margin-top: 10px;
  border-radius: 4px;
  float: left;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

.bsit_multi_select .li-input .bsit_select_textbox,
.bsit_multi_select .li-inputnote .bsit_select_textbox {
  border: 0;
  margin-top: 0;
  min-height: 35px !important;
  width: 250px;
}

.bsit_multi_select .li-input,
.bsit_multi_select .li-inputnote {
  background-color: transparent !important;
  padding: 0;
}

.bsit_multi_select li {
  float: left;
  margin-right: 5px;
  background-color: #e1e8ee;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bsit_multi_select li .del-multi-select-val,
.bsit_multi_select li .del-user-multi-select-val {
  color: #000;
  font-size: 12px;
  margin-right: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.bsit_not_multi_select {
  float: left;
  width: 100%;
}
/*MULTI SELECT END*/

.bsit_notes_popup {
  width: 50%;
}

@media (max-width: 991px) {
  .bsit_notes_popup {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bsit_notes_popup {
    width: 100%;
  }

  .bsit_notes_popup .notes-select {
    width: 100%;
  }
}

.bsit_opportunity_date {
  border: 0;
  display: inline-block;
  width: auto;
  background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*opportunity Follow Up Date */
.bsit_opportunity_date,
.bsit_opportunity_date:hover,
.bsit_opportunity_date:focus,
.bsit_opportunity_date:active {
  border: 0;
  display: inline-block;
  width: 100px;
  background-color: transparent;
  outline: 0;
}

.bsit_opp_followup_date_red .bsit_opportunity_date {
  color:#FF0000;
}
.bsit_opp_followup_date_light_red .bsit_opportunity_date {
  color:#FFA07A;
}
.bsit_opp_followup_date_black .bsit_opportunity_date {
  color:#000000;
}
.bsit_opp_followup_date_block .ui-datepicker-trigger {
  width: 24px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.opp_followup_date {
  padding-left: 26px;
  position: relative;
}

/*END*/
/*#addForm51 .ui-front.mui-textfield {
  z-index: 99999 !important;
}*/

.bsit_allow_quick_filter {
  padding-left: 5px;
  display: inline-block;
  vertical-align: text-top;
}

.bsit_allow_quick_filter i {
  font-size: 16px;
  line-height: 15px;
  display: none;
}

.bsit_allow_quick_filter.bsit_allow_quick_filter_show i {
display: inline-block;
}

.bsit_page_table_listing tr th {
  position: relative;
}

.bsit_allow_quick_filter_ul {
  display: none;
  list-style-type: none;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(39, 43, 47, 0.2);
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
  padding: 0;
  max-height: 200px;
  overflow: auto;
}

.bsit_allow_quick_filter_ul li {
  float: left;
  width: 100%;
  padding: 5px 15px 5px 10px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bsit_allow_quick_filter_ul li:hover {
  background-color: #f5f5f5;
}

.quick_filter_text_box {
  padding: 6px 4px 6px 40px;
  float: left;
  width: 264px;
  border-radius: 4px;
  border: solid #e1e8ee;
  border-width: 1px !important;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  height: 40px !important;
  margin: 10px;
  
}

.quick_filter_text_box:focus {
  outline: 0;
  border-color: #2196F3;
}

.quick_filter_text_box_icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  width: 40px;
  height: 40px;  
}

.quick_filter_text_box_icon:before {
  position: absolute;
  top: 10px;
  left: 10px;
}


.frame_start ul.nav-tabs {
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
}

.frame_start ul.nav-tabs li {
      border-bottom: 2px solid;
      border-color: transparent;
      font-size: 16px;
    margin-bottom: -1px;
}
.frame_start ul.nav-tabs li:hover {
  border-color: #2196F3;
}
.frame_start ul.nav-tabs li.active {
  border-color: #2196F3;
  
} 
.frame_start ul.nav-tabs li a {
  color: #000000;
  border: 0;
  padding: 15px 20px;
}

.frame_start ul.nav-tabs li a:hover, .frame_start ul.nav-tabs li a:focus {
  background-color: #ffffff;
  color: #000000;
}

/*.frame_start ul.nav-tabs li.active a{
color: #ffffff;
background: #2196F3;
}*/
.frame_start ul.nav-tabs li.active a:hover , .frame_start ul.nav-tabs li.active a:focus {
  border: 0;
}

.bsit_cola_tab {
  margin-top: 10px;
}



.bsit_cola_tab ~ .tab-content .mui-panel .frame-panel {
  margin-top: 0;
  
}

.bsit_cola_tab ~ .tab-content .bsit_page_frame_panel .frame-panel {
  border-radius: 0 0 4px 4px;
}

/*added by kevin Datte: 07-12-2020 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/*
.bsit_form input, .bsit_form textarea, .bsit_form select {
  margin-top: 0;
  min-height: 54px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.bsit_form label {
  display: inline-block;
  width: auto;
  background-color: #ffffff;
  top: 6px;
  left: 34px;
  padding: 0 5px;
  z-index: 1;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: 'Lato', sans-serif; 

}

.table-responsive .table {
  min-height: auto;
}

.mui-btn--primary {
   background: #177C73 !important;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.bsit_save_btn {
  background: #177C73 !important;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  float: right;
  min-width: 100px;
}

.bsit_cancel_btn {
  color: #757575 !important;
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent !important;
  margin-right:10px;
  border-width: 0; 
  text-transform: capitalize;
  min-width: 72px;
  width: 72px;
  padding: 0;
}
*/
.mui-textfield {
  margin-bottom: 15px;
}

.bsit_form label.bsit_check {
  padding-left: 20px !important;
  top: 8px;
  left: 0;
}

.bsit_form_titel_popup label{
  left: 0 !important;
}

.notes-select {
  width: 100%;
  padding: 0;
}

.bsit_multi_select {
  margin-top: 0;
}

.bsit_statusdiv .mui-select__menu {
  z-index: 111;
}

.bsit_form_titel {
  text-align: left;
  padding-left: 15px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 20px;
  font-family: 'Lato', sans-serif !important;
  color: #212121;
  margin-top: 0;
}

.modal-body {
  padding: 15px;
}

.bsit_check input:checked ~ .bsit_checkmark {
  background-color: #2196F3;
}

.bsit_filter_div .filter_main_div .input_with_search input  {
  min-height: 40px !important;
  margin-top: 10px;
}



.bsit_cancel_btn:hover, .bsit_cancel_btn:focus {
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  outline: 0;
  color: #757575;

} 

#bsit-note-save-btn {
  margin-left: 0 !important
}



.bsit_form input[name="primary_phone"],
.bsit_form input[name="secondary_phone"] {
  background-image: url('../../../assets/core/images/cola_phone.png');
      background-size: 24px;
    background-position: 99% center;
    background-repeat: no-repeat;
    padding-right: 45px;
}
.bsit_form input[name="email"] {
  background-image: url('../../../assets/core/images/cola_email.png');
      background-size: 24px;
    background-position: 99% center;
    background-repeat: no-repeat;
    padding-right: 45px;
}
.bsit_form input[name="address_line1"],
.bsit_form input[name="address_line2"] {
  background-image: url('../../../assets/core/images/cola_address.png');
      background-size: 24px;
    background-position: 99% center;
    background-repeat: no-repeat;
    padding-right: 45px;
}

.table tbody > tr > td:nth-last-child(2), .table thead > tr > th:nth-last-child(2) {
  /*float: left;*/
  min-width: 200px;
}

.bsit_main_popup {
  width: 744px !important;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  height: min-content;
}

.bsit_main_popup form {
  float: left;
  width: 100%;
  /*max-height: 72.3vh;*/
  overflow: auto;
  padding-right: 10px;
  min-height: 250px;
  height: 75vh;
  max-height: 100vh;
}

.mui-textfield {
  padding-left: 10px;
  padding-right: 10px;
}

.bsit_main_popup .mui-panel {
  padding: 20px;
}

.modal-backdrop.in {
  opacity: .7;
}

.status_class_content.task-list .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  right: -14px;
}

.bsit_main_popup .bsit_save_btn {
  margin-right: 4px;
}

.icon-pen:hover:before, .bsit_ahm_btn.mui-btn--primary:hover {
  color: #2196F3 !important;
}


#sidedrawer ul li .main_menu_item:hover {
      box-shadow: inset 3px 0 0 0 #2196F3;
}

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0 !important;
}

.bsit_notes_popup .modal-header {
  padding-top: 20px !important;
}

.bsit_main_popup  .bsit_popup_scroll .mCSB_outside + .mCSB_scrollTools{
  right: -10px !important;
}
.bsit_form select:focus, .mui-select:focus>select {
  margin-bottom: 0;
}

.main_table_start::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.main_table_start::-webkit-scrollbar
{
  width: 10px;
  height:10px;
  background-color: #F5F5F5;
}

.main_table_start::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.bsit_popup_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.bsit_popup_scroll::-webkit-scrollbar
{
  width: 10px;
  height:10px;
  background-color: #F5F5F5;
}

.bsit_popup_scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  cursor: pointer;
}

.bsit_form textarea {
  padding-top: 10px;
}

/*scroll bar design*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  height:10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  cursor: pointer;
}

.bsit_form textarea {
  padding-top: 10px;
}
/*END scroll bar design*/


/*date picker design */

.picker__day {
  font-weight: 600 !important;
  color: #000000;
}

.picker__day--today {
  background-color: #177C73;
  color: #ffffff;
  border-radius: 5px;
}

.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
  background: #177C73 !important;
    color: #fff;
    border-radius: 12px 0;
}

#change-password-error-report {
  padding-left: 15px;
    padding-bottom: 20px;
}

.bsit_active {
  outline: 2px solid #2196F3;
}

.main_table_start .table tbody > tr > td:last-child, .main_table_start .table thead > tr > th:last-child {
  right: 30px;
}

/*END*/

/* Notifications Design */

.bsit_header_menu {
  margin: 0;
}

.bsit_notifications_block {
  line-height: 100%;
  position: relative;
  float: right;
  margin-right: 10px;
}

.bsit_notifications_no {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background-color: #000000;
  color: #ffffffff;
  font-size: 10px;
  border-radius: 50px;
  text-align: center;
  line-height: 17px;
  letter-spacing: 1px;

}
.bsit_notifications_icon, .bsit_notifications_icon:focus, .bsit_notifications_icon:active {
  border: 0 solid #000000;
  line-height: 100%;
  padding: 5px;
  min-height: auto;
  background-color: transparent;
  box-shadow: none !important;
  outline: 0;
  /*font-size: 26px;*/
  /*display: block !important;*/
  position: relative;
}

.bsit_notifications_icon span {
  position: absolute;
  top: 18px;
  left: -4px;
  width: 18px;
  height: 18px;
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
}

/*end Date: 18-03-2021*/
/*loader*/

.lds-dual-ring {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  /*border: 1px solid #000000;*/
  background-color: #f5f6f7;
  right: 5px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 50%;
  border: 3px solid #1c9991;
  border-color: #1c9991 transparent #1c9991 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*End*/


.bsit_notifications_icon img {
  width: 45px;
}

.bsit_notifications_icon i {
  -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.bsit_notifications_block ul.dropdown-menu {
  width: 300px;
  left: unset;
  right: 0;
  padding-bottom: 0;
  padding-top: 0;
 
  /*overflow: auto;*/
}
.bsit_notifications_block ul.dropdown-menu:after {
      content: '';
    position: absolute;
    top: -6px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /* box-shadow: 0 5px 0px #BFC7D1; */
    z-index: -1;
}

.bsit_notifications_block ul ul {
   max-height: 75vh;
   padding: 0;
}

.bsit_notifications_block ul .mCSB_container {
  margin-right: 10px;
}

.bsit_notifications_block ul ul li {
  float: left;
  width: 100%;
  text-align: left;
  position: relative;  
  border-bottom: 1px solid #4C4C4C;
  padding: 15px 30px 15px 0;
  margin-left: 0;
}

.bsit_notifications_block ul ul li:hover {
  background-color: #f5f6f7;
  cursor: pointer;
}

.bsit_notifications_block ul li a {
  float: left;
  width: 100%;
  padding: 15px 30px 15px 0;
}

.bsit_notifications_block ul li a:hover {
  background-color: #f2f2f2;
}

.bsit_notifications_name {
  float: left;
  width: 30px;
  height: 30px;
  background-color: #5551ff;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  border-radius: 50px;
  margin-right: 10px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.bsit_notifications_description {
  float: left;
  width: 100%;
  padding-left: 15px;
  font-size: 12px;
  color: #4C4C4C;
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  line-height: 14px;
  margin: 0;
}

.bsit_notifications_description span {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}


.bsit_notifications_description p {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}


.bsit_notifications_read {
  position: absolute;
  right: 5px;
  top: 11px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  color: #000000;
  font-weight: bold;
  padding-right: 1px;
}

.bsit_notifications_footer {
  float: left;
  width: 100%;
  display: flex;
  padding: 10px;
  text-align: left;
  background-color: #dddddd;
  margin-left: 0;
}

.bsit_notifications_footer a, .bsit_notifications_footer a:hover {
   color: #000000 !important;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal !important;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    border: 0;
    height: 40px;
    padding: 0  10px !important;
    background-color: transparent !important;
    line-height: 40px !important;
    cursor:pointer !important;
  }

.bsit_notifications_footer .bsit_notifications_view {
    
    
}

.bsit_notifications_footer .bsit_notifications_dismiss {
    
    text-align: right;
}



/*End*/
.cola_word_barck ~ p span, .cola_word_barck ~ p {
  word-break: break-all;
  word-break: break-word;
  }
.notclosepopup {
  opacity: 1;
  display: block !important;
}
.notclosepopup:after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.notdisplaypopup {
  display: none;
}


.modal_customModelopp.bsit_main_popup form {
  height: 75vh;
  max-height:100vh;
}

/*#addModel20 .bsit_popup_title_fix {
       position: -webkit-sticky;
  position: sticky;
  
    top: 0px;
    left: 30px;
    width: 667px;
    z-index: 9;
    background: #fff;
}
#addModel20 .bsit_form {
  float: left;
    width: 100%;*/
    /*padding-top: 60px;*/
/*}*/


/*menu design start*/

.bsit_main_nave {
  float: left;
  width: 100%;
}

.bsit_header_section {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.bsit_main_nave .bsit_header_section li {
  float: left;
}

.bsit_main_nave .bsit_header_section .bsit_header_search_bar {
    margin-left: auto;
    width: 30%;
}

.bsit_main_nave .bsit_header_section .bsit_header_profile {
  margin-top: 0;
}

.bsits_header_search_bar .input-group.header_search {
  width: 100%;
}
.bsit_main_nave .bsit_header_section .bsit_menu_user_icon {
  margin-left: auto;
  display: flex;
    align-items: center;

}
.bsit_main_nave .bsit_header_section .bsit_header_profile::before {
  display: none;
}
.bsit_main_nave .bsit_header_section .bsits_header_search_bar {
  margin-left: auto;
  width: 30%;
}

.bsit_menu_user_icon .bsit_header_menu {
  order: 2;
  display: flex;
}

@media (max-width: 1199px) {

  .bsit_main_nave .bsit_header_section .bsits_header_search_bar {
    width: 40%;
  }
} 

@media (max-width: 991px) {

  .bsit_header_menu_icon {
    display: flex;
    order: 1;
    align-items: center;
  }

  .bsit_header_search_bar {
    display: flex;
    order: 3;
    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 0 !important;
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .bsit_menu_user_icon {
    display: flex;
    order: 2;
  }

  .bsit_header_section {
    flex-wrap: wrap;
  }

  #content-wrapper>.mui--appbar-height {
    height: 90px;
  }
 
}
@media (max-width: 600px) {
  .bsit_main_nave {
    position: unset;
    transform: translateY(0);
    background-color: transparent;
  }
}
/*Header Design End */

  @media (max-width: 1199px) {

  }

  @media (max-width: 1366px) {
   /* .bsit_main_popup {
    width: 70% !important;
  }*/
  }

  @media (max-width: 991px) {
   /* .bsit_main_popup {
    width: 80% !important;
  }*/
  }

  @media (max-width: 768px) {
    .bsit_main_popup {
    width: 100% !important;
  }
  .bsit_main_popup .bsit_save_btn {
    margin-right: 0px;
  }
}

/*END*/
.bsit_visible_mobile {display: none;}
.bsit-page-frame {
  /*min-height: 81vh; */
}

.ck-toolbar-dropdown .ck.ck-button .ck-tooltip, .ck-toolbar-dropdown a.ck.ck-button .ck-tooltip{
  display: none !important;
}

/*menu design start*/

.coal_main_nave {
  float: left;
  width: 100%;
}

.cola_header_section {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.coal_main_nave .cola_header_section li {
  float: left;
}
.coal_main_nave .cola_header_section .bsit_header_profile {
  margin-top: 0;
}

.colas_header_search_bar .input-group.header_search {
  width: 100%;
}
.coal_main_nave .cola_header_section .cola_menu_user_icon {
  margin-left: auto;
  display: flex;
    align-items: center;

}
.coal_main_nave .cola_header_section .bsit_header_profile::before {
  display: none;
}
.coal_main_nave .cola_header_section .colas_header_search_bar {
  margin-left: auto;
  width: 30%;
}

.cola_menu_user_icon .bsit_header_menu {
  order: 2;
  display: flex;
}


.cola_checkbox_section.cola_checkbox_display {
  display: inline-block !important;
}

@media (max-width: 1366px) {
}
@media (max-width: 1199px) {

  .coal_main_nave .cola_header_section .colas_header_search_bar {
    width: 40%;
  }
} 

@media (max-width: 991px) {

  .cola_header_menu_icon {
    display: flex;
    order: 1;
  }

  .colas_header_search_bar {
    display: flex;
    order: 3;
    display: flex;
    order: 3;
    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 0 !important;
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .cola_menu_user_icon {
    display: flex;
    order: 2;
  }

  .cola_header_section {
    flex-wrap: wrap;
  }

  #content-wrapper>.mui--appbar-height {
    height: 90px;
  }
 
}

@media (max-width: 768px) {
  .cola_checkbox_section {
    display: none !important;
  }
  .bsit_page_table_listing {
    display: block;
  }
  .bsit_page_table_listing thead {
    display: none;
  }

  .bsit_page_table_listing tbody {
    float: left;
    width: 100%;
  }

  .bsit_page_table_listing tr.changeme {
    display: block;
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
    position: relative;
    padding-right: 0;
    padding-bottom: 20px;
    border-radius: 0px;
    margin: 7px 0;
    /*background-color: #f5f5f5;*/
    /*border: 2px solid #a4a4a4;*/
    border-bottom: 2px solid #eeeeee;
    /*border: 0;*/
  }
  .bsit_page_table_listing tr.changeme.cola-cp-rm {
    padding-left: 45px;
  }

  .bsit_page_table_listing tr .bsit_show_hide a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  
  .bsit_page_table_listing tr.changeme td:last-child {
    background-color: transparent !important;
  }

  .bsit_page_table_listing tr.changeme td:last-child {
    right: 0 !important;
    margin: 0 !important;
    height: auto !important;
    top: 0px !important;/*
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);*/
    width: auto !important;
    /*z-index: 1;*/
    padding: 0 !important;
  }

  .bsit_page_table_listing tr.changeme:nth-child(2n+2){
    background-color: #CCCCCC;
    border: 2px solid #4d4d4d;
  }

  .bsit_page_table_listing tr.changeme:nth-child(2n+2) td:last-child {
    background-color: #CCCCCC !important;
  }
  .bsit_page_table_listing tr.changeme:hover td {
    background-color: transparent !important;
  }

  .bsit_page_table_listing tr.changeme td {
    display: inline-block;
    padding: 0 8px 0 0 !important;
    float: left;
    width: auto;
    /*margin-right: 15px;*/
    position: relative;
    border-right: 0px solid #4d4d4d;
    white-space: break-spaces;
    margin-right: 8px;
    margin-bottom: 10px;
    border-radius: 0 !important;
    font-size: 16px;
    width: 100%;
    color: #97a4b5;
    margin: 0;
  }
  .bsit_page_table_listing tr.changeme:hover {
    background-color: #ffffff;
  }

  .bsit_page_table_listing tr.changeme td:before {
    /*content: attr(name) ":";*/
    float: left;
    /*font-weight: bold;*/
    margin-right: 8px;
  }

  .bsit_page_table_listing tr.changeme td:last-child:before {
    display: none;
  }

  .bsit_page_table_listing tr.changeme td .bsit_edite_menu {
    transform: rotate(90deg);
    margin-top: 3px !important; 
  }

  .bsit_page_table_listing tr.changeme td:nth-child(2), .bsit_page_table_listing tr.changeme td:nth-child(3){
    display: inline-block;
    width: auto;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    border-right: 0;
    margin-right: 0;
    color: #000000;
  }

  .bsit_page_table_listing tr.changeme td:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
  }

  .bsit_page_table_listing tr.changeme td:nth-child(2) a, .bsit_page_table_listing tr.changeme td:nth-child(3) a {
    font-weight: bold !important;
    font-size: 16px !important;
    color: #334150 !important;
    width: auto;
    text-overflow: unset;
    overflow: unset;
  }
  .bsit_page_table_listing tr.changeme td:nth-child(2):before, .bsit_page_table_listing tr.changeme td:nth-child(3):before {
    display: none;
  }
  .bsit_page_table_listing tr.changeme td:nth-child(2):after {
    content: " -"
  }

  .bsit_page_table_listing tr.changeme td:nth-child(5) {
    /*width: auto;*/
  }

  .bsit_visible_mobile {
    border-right: 0 !important;
    min-width: auto !important;
    width: 100% !important;
    margin: 0 !important;
    /*overflow: hidden;*/
  }
  .bsit_page_table_listing tr.changeme td.bsit_visible_mobile{
    padding-right: 0 !important;
    width: auto !important;
  }
  

  .bsit_visible_mobile:before {
    display: none;
  }

  .bsit_visible_mobile a {
    /*background-color: #2196F3;*/
    color: #000 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 5px 15px 5px 2px;
    border-radius: 6px;    
    /*width: 130px;*/
    text-align: center;
    float: right;
    /*transform: rotate(-46deg );*/
    /*height: 60px;*/
    display: block;
    /*position: relative;*/
    /*top: 5px;*/
    /*right: -72px;*/
  }

  .bsit_visible_mobile a i {
    font-weight: bold;
  }

  .cola_checkbox_section.cola_checkbox_display{
    border-right: 0 !important;
    background-color: transparent;
    position: absolute !important;
    top: 0;
    left: 0;
    width: auto !important;
  }

  .cola_checkbox_section.cola_checkbox_display::before {
    display: none;
  }

  .bsit_page_table_listing .bsit_show_hide a {
    float: left;
    color: #97a4b5 !important;
  }

  .bsit_checkmark {
    width: 26px;
    height: 26px;
    top: 0;
  }

  .bsit_check .bsit_checkmark:after {
    top: 3px;
    width: 9px;
    height: 14px;
    left: 8px;
  }

  .bsit_page_table_listing  .bsit_link {
    float: left;
  }
  .bsit_page_table_listing  .bsit_link a {
    float: left;
  }
  .bsit_active {
    outline: 0;
  }
  
  .bsit_edite_sub_menu li a span:before {
    font-size: 16px;
    font-weight: bold;
  }

  #all_frame_data>.frame_start>.main_content_part_class {
    padding-left: 0;
    padding-right: 0;
  }

  .cola_header_section_menu_icon {
    display: none;
  }
  .tab-content .main_content_part_class {
    padding-left: 0;
    padding-right: 0;
  }

  .bsit_cola_tab {
    padding: 0 !important;
  }

  .frame_start .bsit_cola_tab ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd !important;
  }

  #sidedrawer #footer {
    bottom: -52px;
  }

  .cola_header_section_page_titel {
    float: left;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  .cola_clock_on_off {
    text-align: center;
  }
  .cola_clock_on_off button {
    margin: 0 auto;
    float: none !important;
  }

  .cola_word_barck .bsit-edit-notes-btn span, .cola_word_barck strong{
    font-size: 12px !important;
  }
  
  .bsit_main_popup form {
	  height: 60vh;
  }


  /* added by Kevin Date 05-07-2021 START */
  .bsit_form label.bsit_check {
    display: flex;
    padding-left: 40px !important;
    align-items: center;
    height: 26px;
    line-height: 0;
    flex-wrap: wrap;
    top: 0;
  }
  
  .bsit_form  .mui-checkbox {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .bsit_form  .mui-textfield {
    float: left;
    width: 100%;
  }

  /* added by Kevin Date 05-07-2021 END */

}

@media (max-width: 600px) {
  .coal_main_nave {
    position: unset;
    transform: none;
    background: transparent;
    padding: 0;
    overflow: unset;
  }
}

/*End*/
tr.jt_priority_high > td > a {
  font-weight: bold !important;
  font-style: italic !important;
}

tr.jt_priority_urgent > td.bsit_show_hide  > a {
  font-weight: bold !important;
  color: #ff0000 !important;
}
.cola_word_barck {
  float: left;
  width: 100%;
  border-right: 0;
}

.cola_word_barck .bsit-edit-notes-btn {
  float: right;
}

.cola_word_barck .bsit-edit-notes-btn img {
  width: 16px;
  margin-right: 5px;
}

.cola_word_barck .bsit-edit-notes-btn span{
  font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #757575;
}

.hideInWeb  {
  display: none !important;
}

.hideInMobile  {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .hideInMobile  {
    display: none !important;
  }

  .hideInWeb  {
    display: block !important;
  }
}





@media (max-width: 767px) {
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown,
  .bsit_cola_tab .nav-tabs-dropdown {
    float: left;
    width: 100%;
    position: relative;
  }
  
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown.open{
    position: absolute;
    z-index: 7;
  }
  .bsit_cola_tab.bsit_open + .tab-content {
    padding-top: 61px;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown::after,
  .bsit_cola_tab .nav-tabs-dropdown::after {
    content: "☰";
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 20px;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown.open a,
  .bsit_cola_tab .nav-tabs-dropdown.open a {
    display: block;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown li,
  .bsit_cola_tab .nav-tabs-dropdown li {
    display: block;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown > li > a,
  .bsit_cola_tab .nav-tabs-dropdown > li > a {
    display: none;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown > li.active {
    background-color: ;
  }
  .bsit_cola_tab .nav-tabs.nav-tabs-dropdown > li.active > a,
  .bsit_cola_tab .nav-tabs-dropdown > li.active > a {
    display: block;
  }
  
	.bsit_progress_cust .progress-bar {
		top: 0;
		line-height: 0 !important;
	}
	.progwidth {
		width: 100% !important;
	}
}

/*Upload document popup */
#bsit-upload-container {
    max-height: 250px;
    overflow: auto;
}
#bsit-upload-container {
  display: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.bsit_upload_popup .modal-header {
  padding-top: 20px !important;
}


/*********Frame comman Title issue id 88***************/
.FrameMainTitle {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 10px;
}

.framecolorBox {
  width: 48px;
  height: 48px;
  background: #D57A11;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 24px;
color: #ffffff;
margin-right: 15px;
}

.frameNameDetails {
  width: calc(100% - 65px);
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.frameNameDetails h5 {
  font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
color: #334250;
float: left;
width: 100%;
margin-bottom: 8px;
margin-top: 0;
}

.frameNameDetails p {
  font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
float: left;
width: 100%;
color: #999999;
margin-bottom: 0;
}
.editButtontop {
    position: absolute;
    padding-left: 10px;
}
.uploadmsg {
    color: #237cbf;
    font-weight: bold;
}

.bsit_cola_tab {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.table-responsive .table {
    min-height: auto;
}
.table tbody > tr > td:nth-last-child(2), .table thead > tr > th:nth-last-child(2) { 
padding-right: 130px;
}
#bsit-document-modal .main_table_start .table tbody > tr > td:last-child, #bsit-document-modal .main_table_start .table thead > tr > th:last-child {
    right: 10px;
}
.progwidth{
	width: 600px;
    float: left;
}

