    
@font-face {
    font-family: 'SF Pro Text';
    src: url('../../../assets/fonts/SFProText-Regular.eot');
    src: url('../../../assets/fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        /*url('../../../assets/fonts/SFProText-Regular.woff2') format('woff2'),*/
        url('../../../assets/fonts/SFProText-Regular.woff') format('woff'),
        url('../../../assets/fonts/SFProText-Regular.ttf') format('truetype'),
        url('../../../assets/fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../../assets/fonts/SFProText-Bold.eot');
    src: url('../../../assets/fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        /*url('../../../assets/fonts/SFProText-Bold.woff2') format('woff2'),*/
        url('../../../assets/fonts/SFProText-Bold.woff') format('woff'),
        url('../../../assets/fonts/SFProText-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/*added by kevin 07-12-2020*/

#job_view_status_container {
  background-color: #ffffff;
}

.status_class_heading {
  color: #8D9EB1;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0;
}
.status_class_heading b {
  color: #2196f3;
  font-size: 18px;
  
}

.status_class div.mui-panel {
  background: #F5F5F5;
  border-radius: 4px;
}
.status_class_each_content.bsit_opportunity_data_block {
  border-radius: 4px;
  box-shadow: 0px 1px 21px rgba(203, 214, 224, 0.4);
  background-color: #ffffff;
  border: 0;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}
.bsit_opportunity_data_block .opp_title_edit {
  color: #2196f3;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  /*padding-left: 10px;*/
  float: left;
  /*width: 100%;*/
  display: inline-block;
  padding-right: 3px;
}
.bsit_opportunity_data_block .BSIT-TableActions {
  opacity: 1;
}

.bsit_opportunity_data_block .opp_followup_date .bsit_opportunity_date {
  font-size: 12px;
  font-weight: bold;

}

.bsit_opp_cal {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 18px;
}

.bsit_opp_followup_date_red .bsit_opportunity_date {
    color: #9E9E9E;
}

.bsit_opp_followup_date_light_red .bsit_opportunity_date {
  color: #FFA07A;
}

.bsit_opp_followup_date_black .bsit_opportunity_date {
  color: #000000;
  opacity: 0.7;
}

#job_view_status_container {
  overflow: auto;
}

/*.bsit_opportunity_data_block .each_job_footer_part1>div {
  padding: 0 10px 10px 10px !important;
  float: left;
  width: 100%;
}*/

.bsit_opportunity_total_est {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.bsit_opportunity_total_est p {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0
}

.status_class .mui-panel .mui-container-fluid {
  float: left;
  width: 100%;
}

.bsit_opp_followup_date_block {
  float: left;
  width: 100%;
  border-top: 2px solid #F5F5F5;
  margin-top: 5px;
  padding: 0 10px 10px 10px !important;
}

.bsit_opp_followup_date_block .ui-datepicker-trigger {
  width: 18px;
  top: 3px;
  left: 3px;
}

.bsit_opp_delete_edit, .bsit_opp_delete_edit img {
  width: 18px;
  margin-top: 3px;
}

.bsit_cola_opp_add {
  float: left;
  padding: 0;
  border-radius: 3px;
  border: 0 !important;
  background-color: transparent !important;
  color: #757575 !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  float: left;
  width: 100%;
}

.opp_followup_date {
  margin-top: 6px;
}

.each_job_footer_part1:first-child {
 padding: 0 10px 8px 10px !important;
}

.bsit_opp_to_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 10px;
  color: #616161;
  line-height: 24px;
  text-align: center;
  background: #F5F5F5;
  /*float: right;*/
  /*margin-right: 10px;*/
  font-weight: 900;
  right: 20px;
  top: 10px;
}

.bsit_opp_add_block {
  position: relative;
  clear: both;
  padding: 0 10px 12px 10px !important;
  float: left;
  width: 100%;
  display: none;
}

.bsit_opp_data_block_top {
  float: left;
  width: 100%;
  display: block;
  position: relative;
/*padding-bottom: 10px;*/
}

.bsit_opp_top_block_add {
  padding-right: 50px;
  float: left;
  width: 100%;
  display: block;
  padding-left: 10px;
}

/*.bsit_opp_followup_date_block  .opp_followup_date{
  margin-left: 10px;  
}
*/
/*.bsit_opp_followup_date_block  .opp_followup_date ~ div {
  margin-right: 10px;
}
*/

/*END*/


/*opportunity Overview page Date 11-12-2020*/

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.bsit_opp_overview {
  float: left;
  width: 100%;
}

.bsit_opp_overview .bsit_opp_overview_titel h2.bsit_form_titel {
  padding-left: 0;
  letter-spacing: 0.15px;
  float: left;
  display: inline-block;
}

.bsit_opp_overview_titel {
  float: left;
  width: 100%;
}

.bsit_opp_overview .bsit_opp_overview_titel span {
  float: right;
  color: #034398;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  font-family: 'SF Pro Text';
  background: #E3F1FC;
  border-radius: 3px;
  /*padding: 5px 8px;*/
}

.bsit_opp_overview_titel .bsit_opp_delete_edit{
  opacity: 1;
  margin-top:   0;
  width: 15px;
  margin-right: 10px !important;
}

.bsit_opp_overview_titel .bsit_opp_delete_edit img {
  opacity: 1;
  margin-top:   0;
  width: 15px;
}

.bsit_opp_overview_date_range {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.bsit_opp_overview_date_range span {
  margin-left: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #757575;
  font-family: 'Lato', sans-serif;
}

.bsit_opp_overview_info {
  float: left;
  width: 100%;
}

.bsit_opp_overview_value_block {
  float: left;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  /*padding-left: 30px;*/
  margin-bottom: 15px;
}

.bsit_opp_overview_value,a.bsit_opp_overview_value {
  float: left;
  width: calc(65% / 2 - 20px);
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bsit_opp_overview_value.bsit_opp_overview_desc {
  width: 100%;
  padding: 0;
  border: 0;
}
.left{
  width: 60% !important;
}
 h3.left {
  float:left !important;
  font-weight: bold !important;
  color: #2196f3 !important;
    text-transform: uppercase !important;
    font-style: normal !important;
    font-size: 16px !important;
}
 .right {
  float:right !important;
  margin-right: 3%;
 /* width: 30% !important;*/
 

}
 h3.but {
 
  display: block;
  padding: 05px 15px;
  border-radius: 11px;
  color: #fff !important;
  background-color: #757575;
  min-width: 130px;
  width: 150px !important;
  text-align: center;
  font-weight: bold;
  font-size: 14px !important;

}
.bsit_opp_overview_value:last-child {
  margin-right: 0;
}

.bsit_opp_overview_value h3 {
  color: #2196f3;
  letter-spacing: 0.18px;
  font-style: normal;
  font-weight: normal !important;
  font-size: 25px;
  float: left;
  width: 100%;
  margin: 0;
  word-break: break-all;
}
.bsit_opp_overview_value label {
  color: #616161;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  float: left;
  width: 100%;
  margin: 0;
}

.bsit_opp_overview_value.bsit_opp_overview_desc h3  {
  font-size: 16px;
  line-height: 18px;
}

.bsit_opp_overview_value.bsit_opp_overview_desc label  {
  font-weight: normal; 
  line-height: 18px;
}

.bsit_opp_overview_client_details {
 float: left;
 width: 100%;
 /*padding-left: 15px;*/
 font-family: 'Lato', sans-serif;
 /*margin-top: 15px;*/

}
.bsit_opp_overview_client_details .bsit_client_details_info {
  display: block;
  float: left;
  width: 30%;
  padding: 15px;
}

.bsit_opp_overview_client_details .bsit_client_task_info {
  display: block;
  float: left;
  width: 70%;
  padding: 15px 0 15px 15px;
}

.bsit_opp_overview_client_details .bsit_client_details_info h3, .bsit_opp_overview_client_details .bsit_client_task_info h3 {
  float: left;
  width: 100%;
  margin: 0 0 14px 0;
  color: #2196f3;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 14px;
  line-height: 100%;
}

.bsit_client_details_info .bsit_client_block {
  float: left;
  width: 100%;
  padding-left: 30px;
  margin: 10px 0;
  background-size: 20px;
  background-repeat: no-repeat;
  word-break: break-all;
}

.bsit_client_details_info .bsit_client_block label {
  float: left;
  width: 100%;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 16px;
}

.bsit_client_details_info .bsit_client_block p {
  float: left;
  width: 100%;
  margin: 0;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /*word-break: break-all;*/
}

.bsit_client_details_info .bsit_client_name {
  background-image: url(../../../assets/core/images/opp_user.png);
}

.bsit_client_details_info .bsit_client_email {
  background-image: url(../../../assets/core/images/opp_email.png);
}

.bsit_client_details_info .bsit_client_phone {
  background-image: url(../../../assets/core/images/opp_phone.png);
}

.bsit_client_details_info .bsit_client_address {
  background-image: url(../../../assets/core/images/opp_location.png);
}

.bsit_client_details_info .bsit_client_opp_owner {
  background-image: url(../../../assets/core/images/opp_user.png);
}

.bsit_client_task_info .bsit_table_check_box {
  float: left;
  margin-bottom: 0;
  padding-top: 1px;
      font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #212121;
padding-left: 25px;
}

.bsit_client_task_info .bsit_table_check_box.bsit_check .bsit_checkmark:after {
      left: 5px;
    /*top: 2px; */
}


.bsit_client_task_info .bsit_table_check_box .bsit_checkmark{
border: 2px solid #9E9E9E;
}

.bsit_client_task_info .bsit_table_check_box input {
  margin-right: 10px;
  margin-top: 0;
}

.bsit_client_task_info .table-responsive {
  float: left;
  width: 100%;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}

.bsit_client_task_info table {
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-family: 'Lato', sans-serif !important;
  padding: 15px;
  margin: 0;

}

.bsit_client_task_info table tr:nth-child(2), .bsit_client_task_info table tr:nth-child(3), .bsit_client_task_info table tr:nth-child(4) {
  /*border-top: 1px solid #EEEEEE;*/
  background: rgba(255, 235, 230, 0.5);
}

.bsit_client_task_info table tr th {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #616161;
border-top: 0px solid #000;
padding-top: 22px;
padding-bottom: 10px;
}

.bsit_client_task_info table tr th span {
  float: right;
}

.bsit_client_task_info table tr th span img {
  width: 8px;
  height: auto;
}

.bsit_client_task_info table tr td {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
color: #212121;
border-top: 1px solid #EEEEEE;
}

.bsit_client_task_info .table tbody > tr > td:nth-last-child(2), .bsit_client_task_info .table thead > tr > th:nth-last-child(2) {
  float: unset;
  min-width: auto;
  padding-right: 0;
}

.bsit_opp_overview_activity {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.bsit_opp_overview_activity_title {
  float: left;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}

.bsit_opp_overview_activity_title h3 {
  display: inline-block;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px;
  line-height: 24px;
  color: #2196f3;
  margin: 0;
}

.bsit_opp_overview_activity_title .bsit_statusdiv{
  float: right;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.bsit_opp_overview_activity_title select {
  width: 65px;
  height: 24px !important;
  min-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  border-width: 0 !important;
  background-image:  url(../../../assets/core/images/opp_arrow_down.png);
  background-size: 14px;
}

.bsit_opp_overview_activity_list {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  
}

.cola_activity_list_scroll{
  overflow: auto;
  max-height: 70vh;
  float: left;
  width: 100%;
}

.bsit_opp_overview_activity_list>label {
  color: #424242;
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  padding: 3px 10px;
  background: #EEEEEE;
  border-radius: 30px;
  margin-bottom: 8px;
}

.bsit_opp_overview_activity_list ul {
  float: left;
  width: 100%;
  list-style-type: none;
  padding: 0 10px 0 0;
}

.bsit_opp_overview_activity_list li {
  float: left;
  width: 100%;
  padding-left: 40px;
  margin: 8px 0 0 0;
  position: relative;
  border-left: 8px solid;
  border-color: #ffffff;
}

.bsit_opp_overview_activity_list li label {
  font-style: normal;
  font-weight: normal !important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #424242;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
.bsit_opp_overview_activity_list li label span {
  color: #757575;
}

/* Show more and less css changes start */
.bsit_opp_overview_activity_list li span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  /*float: left;
  width: 100%;
  display: block;*/
  letter-spacing: 0.1px;
  color: #9E9E9E;
}
.bsit_opp_overview_activity_list li .more {
  letter-spacing: 0.1px;
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 0;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/* Show more and less css changes end */

.bsit_opp_overview_activity_list li:after {
  content: '';
  background: #2196f33d;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.bsit_opp_overview_activity_list li:before {
  content: '';
  position: absolute;
  top: 32px;
  left: 12px;
  width: 2px;
  height: 16px;
  background: #E0E0E0;
  border-radius: 10px;
}

.bsit_opp_overview_activity_list li.bsit_activity_list_comment:after {
  background-image: url(../../../assets/core/images/opp_list_comment.png);
}

.bsit_opp_overview_activity_list li.bsit_activity_list_documents:after {
  background-image: url(../../../assets/core/images/opp_list_documents.png);
}

.bsit_opp_overview_activity_list li.bsit_activity_list_called:after {
  background-image: url(../../../assets/core/images/opp_list_call.png);
}
.bsit_opp_overview_activity_list li.bsit_status_update:after {
  background-image: url(../../../assets/core/images/status_update.png);
  background-size: 18px;
}

.bsit_opp_overview_activity_list li.cola_exclamation_mark:after {
  background-image: url(../../../assets/core/images/exclamation_mark.png);
  background-size: 12px;
  background-color: rgb(225 242 242 / 0.4);
  top: 8px;
}

.bsit_cola_overview_edit_notes {
  background-color: transparent !important;
}

.cola_exclamation_mark {
  padding: 8px 0px 0px 40px;
  border-color: #F7E4DB !important;
}
.cola_exclamation_mark p {
  margin-bottom: 8px;
}
li.cola_exclamation_mark:before {
  top: 40px
}

.bsit_cola_not_found {
  margin-bottom: 0;
  font-style: normal;
font-weight: normal;
font-size: 12px;
color: #212121;
}

.customerCurrentStatusList, .customerCurrentStatusList:focus, .customerCurrentStatusList:hover {
  border: 0;
    background: #e3f1fc;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 3px;
}

  @media (max-width: 1199px) {

  }

  @media (max-width: 1366px) {
  
  }

  @media (max-width: 991px) {
    
    .bsit_opp_overview_value, a.bsit_opp_overview_value {
      width: 100%;
      margin-right: 0;
      margin-top: 15px;
    }  

    .bsit_opp_overview_client_details .bsit_client_details_info {
      width: 100%;
    }
    .bsit_opp_overview_client_details .bsit_client_task_info {
      width: 100%;
    }
  }

  @media (max-width: 768px) {


    
  }

  
  .bsit_relativ_value {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  float: left;
  width: 100%;
  padding-left: 6px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.bsit_relativ_value span {
  color: #2196f3;
}

.bsit_relativ_value .bsit_suburb {
  float: right;
  color: #757575;
}

.bsit_over_view_map {
  width: 100%;
  margin-top: 10px;
  float: left;
  
}

.bsit_over_view_map iframe {
  height: 100px;
}


.cola_high_priority td {
  color: #ff0000 !important;
}

.bsit_ahm_btn.mui-btn--primary {
  margin-left: 4px !important;
}


.bsit_activity_list_comment p, .bsit_activity_list_documents p, .bsit_status_update p, .bsit_activity_list_called p {
  margin: 0;
  line-height: 100%;
}


/*colasolar readmore read less*/
.cola_more {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    letter-spacing: 0.1px;
    color: #757575;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px !important;
    max-height: auto; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    word-break: break-all;
    padding-right: 15px;

  }
  .cola_more.intro {
    display: block;
  }
  .readLessNOte {
    display: none;
  }
  .readMoreNOte {
    background-color: transparent !important;
    color: #38A5EE !important;
    padding: 0;
    cursor: pointer;

  }
  .readLessNOte {
    background-color: transparent !important;
    color: #38A5EE !important;
    padding: 0;
    cursor: pointer;
  }
  .readLessNOte:hover, .readMoreNOte:hover {
    color: #2a6496 !important;
  }

  .readlessactive{
    display: block;
  }
  .readlessinactive{
    display: none;
  }

  .bsit_activity_list_comment .bsit-edit-notes-btn, .cola_exclamation_mark .bsit-edit-notes-btn, .bsit_activity_list_documents .bsit-edit-documents-btn {
    float: right;
    display: none;
    padding-right: 20px;
  }

  .bsit_activity_list_comment:hover  .bsit-edit-notes-btn, .cola_exclamation_mark:hover .bsit-edit-notes-btn, .bsit_activity_list_documents:hover .bsit-edit-documents-btn{
    display: block;
  }

  .bsit_activity_list_comment .bsit-edit-notes-btn img, .cola_exclamation_mark .bsit-edit-notes-btn img {
    width: 14px;
    margin-right: 5px;;
  }
 a.bsit-edit-notes-btn.noteEditbtn {
    float: right !important;
}
.BSIT-TableActions {
    opacity: 1 !important;
}

/*.bsit_activity_list_comment ~ p span, .bsit_activity_list_comment ~ p {
  word-break: break-all;
}*/



/*.bsit_opp_data_block_top {
  float: left;
  width: 100%;
  display: block;
  /*padding-bottom: 10px;*/
/*}*/

/*END*/

