
.bsit_calendar_header {
  display: inline-block !important;
  float: left;
  margin-right: 10px;
  margin-bottom: 0 !important;
  padding-top: 0;
  width: auto !important;
}

.bsit_calendar_header.bsit_form select {
  padding: 0 25px 0 10px;
  background-position: 93% 54%;
  background-size: 11px;
  height: 32px !important;
  min-width: 120px;
  margin-top: 0;
}

.schedule_calendar .fc-bg .fc-slats table colgroup col {
  width: 100px !important;
}

.schedule_calendar .fc-time-area col {
  width: 100px !important;
}


/* .schedule_calendar .fc-widget-content {height:130px;} */

.schedule_calendar .fc-bgevent {
  min-height: 130px !important;
}

#calendarMainArea {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #ffffff;
}

.BSIT-CalCompleteEvent {
  border: 5px solid;
}


/*new code for add hrs strip 03-08-2021*/


/* 04-08-2021 */

.fc-widget-content {
  border-right: none !important;
}

.hrtd {
  padding: 0px !important;
  overflow: hidden;
  width: 100%;
  float: left;
  text-align: right;
  border-left: none !important;
  border-top: hidden !important;
}

.hrstrip {
  display: block;
  margin: 0;
  padding: 0;
  float: right;
  width: 20px;
}

.box {
  display: block;
  width: 16px;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
}

.firstt {
  background-color: #C4C4C4;
}

.secondt {
  background-color: rgb(196 196 196 / 20%);
  color: rgb(127 143 164 / 40%);
  font-size: 9px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.htext {
  font-size: 10px;
  display: block;
  text-align: center;
}

.holiday {
  background-color: #F5F5F5 !important;
}


/*05-08-2021*/

#calendar .fc-day-sun,
#calendar .fc-day-sat {
  background-color: #F5F5F5 !important;
}

#calendar td.fc-day-sun,
#calendar td.fc-day-sat {
  background-color: #F5F5F5 !important;
}


/*24-08-2021*/

.BSIT-stripsEvent {
  background-image: repeating-linear-gradient( 45deg, transparent, transparent 15px, #ccc 10px, #ccc 20px);
}


/* 25-08-2021*/

.fc-content .fc-title {
  padding-left: 6px !important;
}

.BSIT-CalCompleteEvent {
  padding: 4px 6px 4px 5px !important;
}


/*End code*/

.select2 {
  width: 100% !important;
}


/*add by kevin Date: 14-05-2020 */

div#completeCheckbox.bsit_sch_checkbox .bsit_checkmark {
  top: 2px;
}

div#completeCheckbox.bsit_sch_checkbox.mui-checkbox>label {
  padding-left: 25px;
}

div#completeCheckbox.bsit_sch_checkbox {
  /* display: inline-block; */
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
  margin-top: 30px;
  float: left;
  width: 100%;
}

.event_content_header form#addEditEventForm {
  display: flex;
  flex-wrap: wrap;
}


/*END*/


/* cp 13-08-2021*/

tr td.bsit_hours_total_over {
  position: relative;
  padding-bottom: 15px !important;
}

tr td.fc-widget-content {
  position: relative;
  padding-bottom: 15px !important;
}

.bsit_custom_width tr td.fc-widget-content,
.bsit_custom_width tr td.hrtd {
  padding-bottom: 15px !important;
}


/* 11-08-2021*/

.resthoursingreen {
  color: green;
  font-size: 11px;
  font-weight: bold;
}

.resthoursinred {
  color: red;
  font-size: 11px;
  font-weight: bold;
}


/* cp 16-08-2021*/

.fc td,
.fc th {
  position: relative;
}

.jobhours {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  font-weight: bold;
}

.halfclass .fc-title {
  margin-left: -15px !important;
}

.fc-icon.bsit_user_img {
  overflow: unset !important;
}

.fc-icon.bsit_user_img .bsit_sch_user_name {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  color: #2e2c2c;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #2e2c2c;
  height: 100%;
  width: 100%;
}

.fc-event-container.bsit_cal_day_event_space .BSIT-CalCompleteEvent:after {
  /*content: "\f005";*/
  position: absolute;
  /* top: 7px;*/
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  font: normal normal normal 12px/1 FontAwesome;
}

.bsit_hours_total_over.fc-widget-content .BSIT-CalCompleteEvent:after {
  /* content: "\f005";*/
  position: absolute;
  top: 7px;
  /* top: 50%; */
  transform: translateY(-50%);
  left: 1px;
  font: normal normal normal 12px/1 FontAwesome;
}

.bsit_fc_toolbar_display {
    display: none;
}

.fc-timeline-event .fc-title {
   font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  /*color: #aa3af3;*/
}

.fc-ltr .fc-timeline-event {
  border-radius: 4px;
  border-width: 0 2px;
  border-style: solid;
  padding: 4px 10px;
  margin-right: 6px !important;
}

.bsit_schedule_calendar .fc-center h2 {
      font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #334150;
}

.bsit_schedule_calendar .fc-cell-text {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #7f8fa4;
}

/********** nd for scrolling issue *************/
.bsit_custom_width {
   z-index: unset !important;
}
.fc-time-area.fc-widget-header.sticky{
    position: fixed;
    top: 64px;
    z-index: 9;
}
th.bsit_user.fc-widget-header.sticky {
    position: fixed;
   top: 65px;
    z-index: 9;
   
}
.bsit_left-right-scroll button.sticky {
    position: fixed;
    z-index: 2;
     top: 65px;
}

.bsit_schedule_calendar .fc-timeline th.fc-widget-header {
  background-color: rgba(225, 232, 238, 0.12)!important;
  background-color: #fbfcfd !important;
  border-color: #e1e8ee;
}

td.fc-resource-area.fc-widget-header{
    width: 15%;
    position: sticky;
    top: 63px;
    z-index: 999; 
    border-color: #e1e8ee;     
}
/********** nd for scrolling issue *************/

.bsit_schedule_calendar .fc-timeline th.fc-widget-header {
  background-color: rgba(225, 232, 238, 0.12);
  border-color: #e1e8ee;
}
.bsit_schedule_calendar .fc-widget-header.fc-time-area,
.bsit_schedule_calendar .fc-widget-header.fc-resource-area,
.bsit_schedule_calendar .fc-time-area.fc-widget-content.fc-unselectable,
.bsit_schedule_calendar .fc-resource-area.fc-widget-content {
  padding: 0 !important;
}

.bsit_schedule_calendar .fc-widget-content .fc-cell-content .fc-cell-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #334150;
  text-transform: capitalize;
}

.bsit_schedule_calendar .fc-resource-area.fc-widget-content td.fc-widget-content>div {
  display: flex;
  align-items: center;
}

.bsit_schedule_calendar .fc-button {
  background-color: #fff;
  background-image: none;
  border-color: #249af3;
  box-shadow: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}
.bsit_schedule_calendar .fc-timelineNext3Months {
  box-shadow: none;
}

.bsit_schedule_calendar button .fc-icon {
  color: #249af3;
  position: relative;
  top: -.05em;
  margin: 0 .2em;
  vertical-align: middle;
}

.bsit_month_title {
  /*background-color: #fff !important;*/
}

.bsit_schedule_calendar .fc-cell-text.bsit_user_title {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #334150;
}
.bsit_schedule_calendar .fc-timeline th.fc-widget-header.bsit_user{
  background-color: #fff; 
}

.bsit_schedule_calendar .fc-button.fc-state-active{
  background-color: #249af3;
  color: #fff;
}

.fc-toolbar.fc-header-toolbar.bsit_schedule_calendar {
  margin-bottom: 0;
}

.fc-timelineNext3Months-view .bsit_sche_width .bsit_custom_width {
  width: 9000px;
}

.fc-timelineCustomWeek-view .bsit_sche_width .fc-scroller, .fc-timelineCustomDay-view .bsit_sche_width .fc-scroller {
  overflow: hidden !important;
}

.bsit_month_title_name {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}


/*bsit_schedules_popup */

.bsit_schedules_popup label {
  display: block;
}

.bsit_schedules_popup .select {
  width: 100%;
}

.bsit_schedules_search_icon {
  position: absolute;
   top: 16px;
  left: 21px;
  z-index: 1;
}
.bsit_dropdoen_img.bsit_schedules_search_icon img {
  margin-top: 0;
}

.bsit_dropdoen_img img {
  margin-top: 17px;
}

.mui-row:focus, .bsit_form:focus, .bsit_form label:focus {
outline: none;
}
.select2-container--default .select2-selection--multiple{
  border: 0 !important;
}

/*END*/

.bsit_schedules_date, .bsit_cal_date_day {
  display: none;
}

.showsidedrawer.hide-sidedrawer .bsit_cal_day_sticky.sticky.bsit_schedules_date {
  display: block;
  width: 98%;
  left: 15px;  
}
.showsidedrawer .bsit_cal_day_sticky.sticky.bsit_schedules_date {
  display: block;
    width: 81.5%;
    left: 265px;
}

.cust_back_color .cust_color {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  min-height: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
}

.cust_back_color .cust_color .job {
  font-size: 13px;
}

.cust_back_color .cust_color .job label,
.cust_back_color .cust_color .project label {
  margin-bottom: 0;
}
.cust_color .icon p.blue {
  padding: 1px 5px;
  color: #fff;
  background: #0004ff;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: normal;
  font-size: 12px;
}

.cust_color .job,
.cust_color .project,
.cust_color .icon {
  width: 100%;
  float: left;
}

.cust_back_color .cust_color.active {
  background-color: #f4f4f4 !important;
}

.cust_color:hover {
  background-color: #eeeeee;
  border: 1px solid #bbb;
}

.cust_back_color .cust_color.active:before {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 2px #06a911;
  content: "";
  top: 0;
  left: 0;
}

.bsit_schedules_search_text_box.job_sel {
  padding-top: 15px;
  margin-bottom: 20px;
  padding-left: 0;
}

#event_duration {
  padding-left: 15px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 6px;
  font-size: 14px;
}

.bsit_schedules_deleted_btn {
  float: right;
  width: 40px;
  margin-right: 10px;
}
.bsit_check_schedules_btn {
  float: right;
  width: 60px;
  margin-right: 10px;
  /*border: 1px solid #e1e8ee;*/
  border-radius: 4px;
  /*background-color: #2196F3;*/
  margin-top: 10px;
  color: #2196F3;
  /*padding: 10px;*/
  position: relative;
}
.bsit_check_schedules_btn .bsit_check1 {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding-left: 24px;
  cursor: pointer;
  height: 42px;
}
.bsit_check_schedules_btn .bsit_check1 input[type=checkbox] {
  position: absolute;
     opacity: 0; 
    cursor: pointer;
    height: 0;
    width: 0;
}

.bsit_check_schedules_btn .bsit_check1 .bsit_schedules_checkmark{
  position: absolute;
  top: 0px;
  left: 4px;  
  width: 26px;
  height: 20px;
}
.bsit_check_schedules_btn .bsit_check1 .bsit_schedules_checkmark:after {
  left: 4.9px;
    top: 1px;   
    content: "\f006";
    position: absolute;
    font: normal normal normal 44px/1 FontAwesome;
}
.bsit_check_schedules_btn .bsit_check1 input:checked ~ .bsit_schedules_checkmark:after {
  display: block;
  content: "\f005";
}



.bsit_save_schedules_btn {
  float: right;
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

.schedules_job_deleted_btn .fa-trash {
  display: none;
}

.schedules_job_deleted_btn.bsit_delete_file .fa-trash {
  display: block;
  margin-top: 2px;
}

.schedules_job_deleted_btn.bsit_delete_file .fa-trash-o {
  display: none;
}

#bsit_schedules_job_delete_popup:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 0.5);
  position: absolute;
  z-index: -1;
}

#bsit_schedules_job_delete_popup .modal-dialog {
  -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0%,100%);
}

#addEditEventForm #filtersSearch {
  background-color: #ffffff;
  /*width: auto;*/  
  width: 33.33333%;  
  height: 65px;
  margin: 0px;
  /*box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);*/
  box-shadow: none;
  display: -webkit-box;
  display: flex;
  /*padding: 2px 26px;*/
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  line-height: 36px;
  vertical-align: middle;
  letter-spacing: 0.03em;
  overflow: hidden;
  position: relative;
}

#addEditEventForm label {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #000;
}

/*menu design start*/

.bsit_main_nave {
  float: left;
  width: 100%;
}

.bsit_header_section {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.bsit_main_nave .bsit_header_section li {
  float: left;
}

.bsit_main_nave .bsit_header_section .bsit_header_search_bar {
    margin-left: auto;
    width: 30%;
}

.bsit_main_nave .bsit_header_section .bsit_header_profile {
  margin-top: 0;
}

.bsits_header_search_bar .input-group.header_search {
  width: 100%;
}
.bsit_main_nave .bsit_header_section .bsit_menu_user_icon {
  margin-left: 0;
  /*margin-left: auto;*/
  display: flex;
    align-items: center;

}
.bsit_main_nave .bsit_header_section .bsit_header_profile::before {
  display: none;
}
.bsit_main_nave .bsit_header_section .bsits_header_search_bar {
  margin-left: auto;
  width: 30%;
}

.bsit_menu_user_icon .bsit_header_menu {
  order: 2;
  display: flex;
}

.bsit_header_week_month {
  float: left;
  width: auto;
}

.bsit_sch_month_title_name {
  margin: 0 auto;
}

@media (max-width: 1199px) {

  .bsit_main_nave .bsit_header_section .bsits_header_search_bar {
    width: 40%;
  }
} 

@media (max-width: 991px) {

  .bsit_header_menu_icon {
    display: flex;
    order: 1;
    align-items: center;
  }

  .bsit_header_week_month {
    display: flex;
    order: 2;
  }

  .bsit_sch_month_title_name {
    display: flex;
    order: 3;
  }

  .bsit_header_search_bar {
    display: flex;
    order: 3;
    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 0 !important;
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .bsit_menu_user_icon {
    display: flex;
    order: 4;
  }

  .bsit_header_section {
    flex-wrap: wrap;
  }

  #content-wrapper>.mui--appbar-height {
    height: 90px;
  }
 
  #calendarMainArea{
    outline: 1px solid #e1e8ee;
    outline-offset: -1px;
  }
}
@media (max-width: 600px) {
  .bsit_main_nave {
    position: unset;
    transform: translateY(0);
    background-color: transparent;
  }

  .bsit_main_nave .bsit_header_section .bsit_menu_user_icon {
    margin-left: auto;
  }
}
/*Header Design End */

.BSIT-CalPlannedEvent {
  /*opacity: 0.6;*/
  background-image: url(../images/stripes.png);
}

.BSIT-CalDeletedEvent {
  opacity: 0.6;
  background-image: url(../images/delete.png);
  background-position: 0px 9px;
  background-repeat: no-repeat;
}

.BSIT-CalMaterialEvent {
  opacity: 0.6;
  background-image: url(../images/methods.png);
  background-repeat: no-repeat;
}


.cust_back_color {
  background-color: #e0e0e0;
  padding-top: 10px;
  max-height: 360px !important;
  min-height: 235px;
  overflow-y: scroll;
  margin-top: 20px;
}


#add_job_box span {
  position: absolute;
  left: 45%;
  font-size: 17px;
  top: 68%;
  color: #333333;
}

#parent_job_sel .ui-autocomplete {
  max-height: 270px;
  overflow-y: scroll;
}

.bsit_left-right-scroll {
  position: relative;
}

.bsit_left-right-scroll button,
.bsit_left-right-scroll button:hover,
.bsit_left-right-scroll button:focus,
.bsit_left-right-scroll button:active {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  top: -5px;
  z-index: 19;
  outline: 0;

}

.bsit_left-right-scroll button#slideBack { 
  left: 250px
}

.bsit_left-right-scroll button#slide { 
  right: 20px
}


.bsit_scroll_btn_sticky.sticky,
.bsit_scroll_btn_sticky.sticky:hover,
.bsit_scroll_btn_sticky.sticky:focus,
.bsit_scroll_btn_sticky.sticky:active {
  position: fixed !important;
  top: 66px !important;
}

.showsidedrawer.hide-sidedrawer button#slide.bsit_scroll_btn_sticky.sticky {
  right: 50px;
}
.showsidedrawer.hide-sidedrawer button#slideBack.bsit_scroll_btn_sticky.sticky {
  left: 280px;
}

.showsidedrawer button#slide.bsit_scroll_btn_sticky.sticky {
  right: 50px;
}
.showsidedrawer button#slideBack.bsit_scroll_btn_sticky.sticky {
  left: 530px;
}

.bsit_cal_fix.bsit_cal_sch_event_block {
    position: fixed !important;
    top: 113px;
    z-index: 9 !important;
    background: #fff;
    border-bottom: 4px double #ddd;
    padding-top: 0px;
    left: auto;
    border-right: 1px solid #ddd;
}


@media (min-width: 1920px) {

  .showsidedrawer.hide-sidedrawer button#slideBack.bsit_scroll_btn_sticky.sticky {
    left: 330px;
  }

  .bsit_left-right-scroll button#slideBack { 
    left: 300px
  }
}
@media (max-width: 768px) {
  .bsit_cal_fix.bsit_cal_sch_event_block {
    position: inherit !important;
    border-width: 0;
  }
}


@media (min-width: 1366px) {
  body .cust_back_color {
    /*max-height: 17.2vw;
    min-height: 17.2vw;*/
  }
  .cust_back_color.bsit_schedules_job_list_block {
    max-height: 430px !important;
    min-height: 430px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cust_color {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    min-height: 100px;
    border: 1px solid transparent;
    cursor: pointer;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .cust_back_color {
    max-height: 121px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .cust_back_color {
    max-height: 121px;
  }
}
