/* overall section */
.system_bg_color{
  background-color: #2196F3;
}
.secondary_bg_color{
  background-color: #2196F0;
}
/* Overwrite the problem Divs */
.call_header_div .filter_main_div{
  display:none;
}
/* Top Bar section */
.header-main{
  color:white;
  vertical-align: center;
  box-shadow: 1px 1px 2px 0px #000;
}
.header-topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;

  height: 100%;
}
.header-topbar-left{
  flex-grow: 1;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-topbar-right{
  align-items: center;
  margin-top: 6px;
}

/* dashboard params sections */
.dashboard-params-main{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding-left:15px;
  padding-right:15px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  flex-wrap:wrap;
}

.dashboard-param{
  padding:0px 5px 5px 5px;
}

.dashboard-param select{
  height:36px;
  border-radius: 2px;
  border: none;
  line-height:30px;
}

.dashboard-param label{
  color: rgba(0,0,0,.87);
  font-weight: normal;
  padding-right: 20px;
  margin-left: 20px;
}

.dashboard-btn{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,.87);
  background-color: #FFF;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
}

/* Dashboard title section */
.dashboard-title{
  padding-left:15px;
  padding-right:15px;
  padding-top:48px;
  color:black;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  padding-bottom: 24px;
  text-align: center;
}

/* Std Chart Areas */
.chart_main{
  color: rgba(0,0,0,.87);
}
.chart_head{
  margin-bottom: 10px;
}
.chart_body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chart_body_icondetails{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.chart_metric{
  display: block;
}
.chart_metric_50{
  display: block;
  width: 50%;
  text-align: center;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.chart_title{
  color: rgba(0,0,0,.87);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}
.chart_subhead{
  color: rgba(0,0,0,.40);
  font-size: 16px;
  line-height: 16px;
}
.chart_measure_descriptor{
  text-transform: uppercase;
}
.chart_info_textblock{
  font-size: 14px;
  line-height: 14px;
}
.chart_primary_metric{
  font-size: 40px;
  line-height: 40px;
  padding-top: 5px;
}
.chart_primary_symbol{
  font-size: 12px;
  line-height: 12px;
}
.chart_secondary_metric{
  font-size: 24px;
  line-height: 24px;
}
.chart_image_cont{
  margin-bottom: 8px;
}
.chart_image_cont img{
  width: 75%;
}
.chart_metric_iconleft{
  display: flex;
  flex-direction: row;
  text-align:left;
  width:33%;
  min-width:200px;
  margin-bottom: 15px;
}
.chart_metric_iconleft div.chart_image_cont{
  width:40px;
}
.chart_milk_aveminmax{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.chart_milk_aveminmax_metric{
  display: block;
  display: inline-flex;
  flex-grow: 1;
  min-width:75px;
  text-align: left;
  max-width: 150px;
  padding-right: 7px;
  padding-bottom: 5px;
}

/* footer section */
.chart_footer{
  text-align:right;
}

@media screen and (min-width: 776px){
  /* Dashboard title section */
  .dashboard-title{
    font-size: 44px;
    line-height: 56px;
    padding-top: 72px;
  }
}
