
.bsit_progress_cust {
  background-color: transparent;
  box-shadow: none;
  position: relative;
  border-radius: 10px;
}

.bsit_progress_cust .progress-bar {
  border-radius: 10px;
  text-align: right;
  padding-right: 10px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute !important;
  left: 0;
}

.bsit_progress_cust .progress-bar:nth-child(1) {
  position: relative;
  z-index: 4;
}

.bsit_progress_cust .progress-bar:nth-child(2) {
  /*margin-left: -15px;*/
  position: relative;
  z-index: 3;
  border-radius: 0 10px 10px 0;
}

.bsit_progress_cust .progress-bar:nth-child(3) {
  position: relative;
  z-index: 2;
  /*margin-left: -15px;*/
  border-radius: 0 10px 10px 0;
  width: 100% !important;
}

.bsit_progress_cust .progress-bar:last-child {
  width: 100% !important;
}

.bit_progress_side {
  float: left;
  width: 93%;
}
.bit_progress_side .tooltip  {
  opacity: 1;
}

.progress-bar-sch {
    background-color: #A1EB73;
     color: rgb(0 0 0 / 50%);
}
.progress-bar-est {
    background-color: #E8E8E8;
     color:rgb(0 0 0 / 50%);
}
.progress-bar-act {
    background-color: #FF7171;
    color: #ffffff;
}
.bsit_est_sch_act {
  display: inline-block;
  line-height: 1;
  margin: 0;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #7f8fa4;
  white-space: nowrap;
}
span.est{
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 3px;
  background-color: #E8E8E8;
  border: 1px solid #BCBCBC;
  margin-right: 8px;
}

span.act{
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #BCBCBC;
  background-color: #FF7171;
  margin-right: 8px;
}

span.sch{
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #BCBCBC;
  background-color: #A1EB73;
  margin-right: 8px;
}

.bsit_est_sch_act_section {
  float: left;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin-bottom: 0;
  padding-top: 5px;
  padding-left: 5px;
}

.bsit_est_sch_act_section li {
  float: left;
  margin-right: 16px;
  display: flex;
  align-content: center;
}
.progressSide {
    width: calc(100% - 90px);
    float: left;
}
div#example_paginate {
    float: right;
}
.mdl-button{
    font-family: 'Lato';
    text-transform: capitalize;
}

.maxhrs {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
  float: right;
  width: 80px;
}

.progressSide .tooltip .tooltip-inner  {
  background-color: #ffffff;
  float: left;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.27);
  border-radius: 16px;
  width: 260px;
  padding: 9px 15px;
  max-width: 260px;
}

.progressSide .tooltip .tooltip-arrow  {
      top: -10px;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #ffffff;
    border-width: 0 15px 15px;
}

.apg_progress_section {
  float: left;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.apg_progress_section span {
  float: left;
  width: calc(100% / 3);
}

.apg_progress_section .apg_progress_label {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  float: left;
  text-align: left;
  font-family: Lato;
}

.apg_progress_section .apg_progress_bar_tooltip {
  padding-left: 10px;
}
.apg_progress_section .progress-bar {
  height: 6px;
  border-radius: 10px;
  /*margin-left: 10px;*/
  float: left;
  margin-right: auto;
  float: left;
}

.apg_progress_section .apg_progress_hr {
  color: #8A8A8A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  float: right;
  text-align: right;
  font-family: Lato;
}
#filter_list_div_pt {
    padding: 10px;
}