.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 635px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#PageHeader {
    float: none;
    height: 48px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageHeaderContainer {
    float: none;
    height: 48px;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
}

body {
    font-family: Roboto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#image1 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 169px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}

#SubmitOrderArea {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(137, 137, 137);
    padding-bottom: 16px;
}

#text14 {
    float: right;
    font-size: 16px;
    width: 100px;
    height: 36px;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 20px;
    margin-top: 20px;
    clear: both;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    background-color: rgb(68, 138, 255);
}

#ListItem3 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 16px;
    padding-left: 0px;
    min-width: 0px;
}

#image6 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText5 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
}

#ListItemTitle5 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity9 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text11:active {
    color: rgb(137, 137, 137);
}

#text11:focus {
    color: rgb(68, 138, 255);
}

#text11 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput9:active, .textinput9:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput9:focus, .textinput9:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput9, .textinput9 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity10 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text12:active {
    color: rgb(137, 137, 137);
}

#text12:focus {
    color: rgb(68, 138, 255);
}

#text12 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput10:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput10:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput10 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity11 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text13:active {
    color: rgb(137, 137, 137);
}

#text13:focus {
    color: rgb(68, 138, 255);
}

#text13 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput11:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput11:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput11 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Image_Area3 {
    float: left;
    height: 31.060422%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#ListItem {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 16px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#image3 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText2 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
}

#ListItemTitle2 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text2:active {
    color: rgb(137, 137, 137);
}

#text2:focus {
    color: rgb(68, 138, 255);
}

#text2 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput:active,.textinput:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput:focus, .textinput:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput, .textinput {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text3:active {
    color: rgb(137, 137, 137);
}

#text3:focus {
    color: rgb(68, 138, 255);
}

#text3 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput1:active, .textinput1:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput1:focus,.textinput1:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput1, .textinput1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
    border-bottom-style: none;
}

#text4:active {
    color: rgb(137, 137, 137);
}

#text4:focus {
    color: rgb(68, 138, 255);
}

#text4 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput2:active, .textinput2:active{
    border-bottom-color: rgb(68, 138, 255);
}

#textinput2:focus, .textinput2:focus{
    border-bottom-color: rgb(68, 138, 255);
}

#textinput2, .textinput2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#ListItem1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 16px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area1 {
    float: left;
    height: 31.060422%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#image4 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText3 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
}

#ListItemTitle3 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text5:active {
    color: rgb(137, 137, 137);
}

#text5:focus {
    color: rgb(68, 138, 255);
}

#text5 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput3:active {
    border-bottom-color: rgb(68, 138, 255);
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

#textinput3:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text6:active {
    color: rgb(137, 137, 137);
}

#text6:focus {
    color: rgb(68, 138, 255);
}

#text6 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput4:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput4:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text7:active {
    color: rgb(137, 137, 137);
}

#text7:focus {
    color: rgb(68, 138, 255);
}

#text7 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput5:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput5:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#ListItem2 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 16px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area2 {
    float: left;
    height: 31.060422%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#image5 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText4 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
}

#ListItemTitle4 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text8:active {
    color: rgb(137, 137, 137);
}

#text8:focus {
    color: rgb(68, 138, 255);
}

#text8 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput6:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput6:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput6 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text9:active {
    color: rgb(137, 137, 137);
}

#text9:focus {
    color: rgb(68, 138, 255);
}

#text9 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput7:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput7:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput7 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#Quantity8 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text10:active {
    color: rgb(137, 137, 137);
}

#text10:focus {
    color: rgb(68, 138, 255);
}

#text10 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput8:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput8:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput8 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Order_Notes {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text16:active {
    color: rgb(137, 137, 137);
}

#text16:focus {
    color: rgb(68, 138, 255);
}

#text16 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput13:active,.textinput13:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput13:focus,.textinput13:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput13,.textinput13 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 16px;
    display: block;
    width: 100%;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
    min-height: 0px;
    font-weight: 500;
}

#Order_Total {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text15:active {
    color: rgb(137, 137, 137);
}

#text15:focus {
    color: rgb(68, 138, 255);
}

#text15 {
    float: none;
    font-size: 16px;
    width: 125px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(244, 67, 54);
}

#textinput12:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput12:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput12 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#text1 {
    float: none;
    font-size: 16px;
    width: 98%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(68, 138, 255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 8px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    display: block;
}

#image2 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 12px;
    left: auto;
    right: 12px;
    bottom: auto;
}

#Label {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
}

#ListItemText {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#Address {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#PhoneIcon {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText1 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#box {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#Contact {
    border-bottom: 1px inset rgba(0, 0, 0, 0.118);
    clear: none;
    display: block;
    float: right;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.loader{
	background-color: rgb(0, 0, 0); 
	opacity: 0.2;   
	text-align:center; 
	width:100%;
	height:100%;
}

.ListItemCaption {
    clear: both;
    color: rgb(186, 186, 186);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1em;
    margin: 0;
    min-height: 0;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: left;
    width: auto;
}
/*
-------------------
SEARCH SECTION
-------------------
*/
#CustItemSearch {
	float: none;
	height: 48px;
	margin-left: auto;
	margin-top: 20px;
	clear: none;
	width: 800px;
	margin-bottom: 0px;
	padding-top: 0px;
	-webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	margin-right: auto;
	display: block;
	background-color: rgb(255, 204, 221);
	position: relative;
	min-width: 0px;
}
.ListItemCaption {
    clear: both;
    color: rgb(186, 186, 186);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1em;
    margin: 0;
    min-height: 0;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: left;
    width: auto;
}
.tt-query, .tt-hint {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    height: 48px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 100%;
}
 
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	color: #111;
	width: 100%;
	max-width: 500px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding:20px 16px 20px 16px;
	min-height:48px;
}
.tt-suggestion.tt-cursor,.tt-suggestion.tt-is-under-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.twitter-typeahead{
    width:100%;
}

#search, .typeahead {
	width: 100%;
	font-size: 16px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-top: 0px;
	min-height: 38px;
	padding-top: 16px;
	padding-bottom: 8px;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 8px;
	display: block;
	margin-left: 7px;
	padding-left: 0px;
	box-shadow: none;
	font-family: roboto;
}

.search{ 
	background-color: rgb(255, 255, 255);
	height:48px;
}

.search_button{
	height: 48px;
     margin-top: -4px;
}

#search_button{
	background-color:rgb(255, 255, 255);
	border:0;
}

#search_button i {
	color: #fff;
}

#search{ 
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: #aaa;
    font-style: italic;
}

#search::-webkit-input-placeholder {
	color:#aaa;
	 font-style: italic;
}
#search:-moz-placeholder {
	color:#aaa;
	 font-style: italic;
}
#search::-moz-placeholder {
	color:#aaa;
	 font-style: italic;
}
#search:-ms-input-placeholder {
	color:#aaa;
	 font-style: italic;
}
/* 
----------------------
MOBILE RESIZE
----------------------
*/
@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #PageMain {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #image1 {
        clear: none;
        margin-top: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
        margin-left: 12px;
        float: right;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    #text14 {
        height: 36px;
        line-height: 1em;
        min-height: 0px;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        min-width: 64px;
        margin-top: 20px;
    }

    #ListItem3 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #image6 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #text11 {
        font-weight: 500;
    }

    #textinput9 ,.textinput9{
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text12 {
        font-weight: 500;
    }

    #textinput10 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text13 {
        font-weight: 500;
    }

    #textinput11 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #SubmitOrderArea {
        height: auto;
    }

    #Image_Area3 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText5 {
        clear: none;
        margin-top: 0px;
    }

    #ListItem {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #image3 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #ListItemText2 {
        clear: none;
        margin-top: 0px;
    }

    #text2 {
        font-weight: 500;
    }

    #textinput, .textinput {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text3 {
        font-weight: 500;
    }

    #textinput1, .textinput1 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text4 {
        font-weight: 500;
    }

    #textinput2, .textinput2 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #ListItem1 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area1 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #image4 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #ListItemText3 {
        clear: none;
        margin-top: 0px;
    }

    #text5 {
        font-weight: 500;
    }

    #textinput3 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text6 {
        font-weight: 500;
    }

    #textinput4 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text7 {
        font-weight: 500;
    }

    #textinput5 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #ListItem2 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area2 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #image5 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #ListItemText4 {
        clear: none;
        margin-top: 0px;
    }

    #text8 {
        font-weight: 500;
    }

    #textinput6 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text9 {
        font-weight: 500;
    }

    #textinput7 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text10 {
        font-weight: 500;
    }

    #textinput8 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text16 {
        font-weight: 500;
    }

    #textinput13, .textinput13 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text15 {
        font-weight: 500;
    }

    #textinput12 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

	#CustItemSearch {
		width: 96%;
		position: relative;
	}

    #text1 {
        height: auto;
        width: 98%;
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #image2 {
        margin-right: 0px;
        margin-top: 0px;
        clear: none;
        position: absolute;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #box {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #ListItemText1 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #PhoneIcon {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #Address {
        padding-left: 0px;
    }
}