/*
-----------------------------
MISC - UNORGANISED
-----------------------------
*/
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    display: block;
}

#PageHeader {
    float: none;
    height: 48px;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-height: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: both;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 2px;
}

body {
    font-family: /assets/css/Roboto;
}

#ListItem {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem1 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text2 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem2 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text3 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem3 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text4 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem4 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text5 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem5 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: left;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text6 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#ListItem6 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: left;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#text7 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 32px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#image8 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#image7 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#image6 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#image5 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#image4 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#image2 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#image3 {
    float: left;
    width: auto;
    max-width: 3.002611%;
    height: 24px;
    margin-left: 0px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 12px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#PageHeaderContainer {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 800px;
    min-width: 0px;
    margin-bottom: 8px;
    display: block;
    margin-right: auto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#image1 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 700px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(177, 171, 171);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}


/*
--------------------------
SIMPLE LIST 
 - Heading and body;
 - Right side icon - if choose;
--------------------------
*/
.ListItem {
	float: right;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-color: rgba(0, 0, 0, 0.117647);
	border-bottom-width: 1px;
	border-bottom-style: inset;
	display: block;
	position: relative;
}
.ListItemTextDiv {
	width: auto;
	float: none;
	overflow: hidden;
}
.ListItemTextHeading {
	float: left;
	font-size: 16px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
.ListItemTextBody {
	float: left;
	font-size: 14px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	min-height: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	color: rgb(186, 186, 186);
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
/* left hand image icon */
.ListItemImgDiv{
	display:block;
	position:static;
	padding-left:0px;
	padding-right:32px;	
	float:left;
}
.ListItemImg {
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 16px;
    border-color: rgb(186, 186, 186);
    border-width: thin;
    border-style: solid;
}
.ListItemImgRound{
	border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
}
/* List - right hand action button */
.actionIcon {
	float: right;
	position: absolute;
	top: 24px;
	left: auto;
	bottom: auto;
	right: 16px;
	display: block;
	clear: none;
}
.menuIcon {
	width: 24px;
	max-width: none;
	height: 24px;
	margin-left: 0px;
	clear: none;
	color: rgb(0, 0, 0);
}
/* Allow room for icon on right of text */
.ListItemIconRight {
	padding-right: 32px;
}


/*
---------------------
MOBILE
---------------------
*/
@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
        clear: both;
    }

    #PageMain {
        width: 100%;
        clear: both;
    }

    #ListItem {
        margin-right: 0px;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #ListItem3 {
        margin-right: 0px;
        margin-top: 0px;
        clear: both;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #ListItem4 {
        margin-right: 0px;
        margin-top: 0px;
        clear: both;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #ListItem5 {
        margin-right: 0px;
        margin-top: 0px;
        clear: both;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #ListItem6 {
        margin-right: 0px;
        margin-top: 0px;
        clear: both;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #ListItem2 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #image8 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image7 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image6 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image5 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image4 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image2 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #image3 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #image1 {
        clear: none;
        margin-left: 12px;
        margin-right: 12px;
        float: right;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-right: 3px;
        margin-bottom: 8px;
        margin-left: 0px;
        float: right;
        width: 65%;
    }

    #text1 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text2 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text3 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text4 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text5 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text6 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text7 {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

