.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    height: 635px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    display: block;
}

#PageHeader {
    float: left;
    height: 48px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 20px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageHeaderContainer {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
}

body {
   font-family: /assets/css/Roboto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#image1 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 169px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}

#Phone3 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText3 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle3 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption3 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Phone4 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText4 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle4 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption4 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Phone {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Phone1 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Phone2 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText2 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle2 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Phone5 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText5 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle5 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption5 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption2 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption1 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #PageMain {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #image1 {
        clear: none;
        margin-left: 12px;
        margin-right: 12px;
        float: right;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    #ListItemCaption3 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #ListItemText3 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #ListItemText {
        clear: none;
    }
}

#text1 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 48px;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-left: 16px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-top: 14px;
}

#text2 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 48px;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-left: 16px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-top: 14px;
    display: block;
}

#text3 {
    float: left;
    font-size: 16px;
    width: 100%;
    height: 48px;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-left: 16px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-top: 14px;
    display: block;
}

#DropMenu {
    float: left;
    height: auto;
    clear: right;
    width: 136px;
    min-height: 50px;
    position: absolute;
    top: 30px;
    left: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-shadow: rgba(118, 118, 118, 0.45098) 1px 2px 5px 2px;
    box-shadow: rgba(118, 118, 118, 0.45098) 1px 2px 5px 2px;
    display: block;
    background-color: rgb(255, 255, 255);
    right: 12px;
}

