.pull-center {
	float: center;
	margin: 0 auto;
}

@-moz-document url-prefix() { 
	.pull-center{
		float: center !important;
	}
	.col-lg-9.pull-center.main-content{
		float: center !important;
	}
}


.nav > li > a > img.icon {
	max-width: 25px;
	display: block;
	float: center;
	margin: 0 auto;
}
#bs-example-navbar-collapse-1 > ul > li {
	width: 9%;
	text-align: center;
	border-right: 1px solid #53230d;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(1) {
	border-right: 1px solid #53230d;
	border-left: 0 !important;
}

#bs-example-navbar-collapse-1 > ul > li:nth-child(11) {
	border-right: 0 !important;
}

#bs-example-navbar-collapse-1 > ul > li > a {
	padding: 5px;
	font-size: 15px;
}

#bs-example-navbar-collapse-1 > ul > li.active {
	background: #a34f0b;
}

#bs-example-navbar-collapse-1 > ul > li.active > a {
	text-decoration: none;
}
#bs-example-navbar-collapse-1 {
	max-height: 570px !important;
}

.content-tab {
	background: #fff;
/*	margin-left: 15px;
	margin-right: 15px;*/
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.push-right {
	margin-right: -30px;
}
.nav-tabs > li > a {
	padding-right: 30px;
	padding-left: 30px;
}
.nav-tabs > li > a {
	background: #ccc;
	color: #3e362c !important;
}
.panel-default {
 	border-color: rgba(221, 221, 221, 0); 
}
.panel-body {
	padding: 15px;
	padding-top: 0;
}
.content-tab > div {
	margin-top: 20px;
}

@media only screen and (max-width: 768px){

	#bs-example-navbar-collapse-1 > ul > li {
		width: 100%;
		text-align: left;
		border-right: 0 !important;
		}

	.navbar-header{
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0;
	}
	#bs-example-navbar-collapse-1 > ul {
		margin-left: 0;
	}

	.nav > li > a > img.icon {
		max-width: 25px;
		margin-right: 5px;
		margin-bottom: 5px;
		display: inline-block;
	}
	.glyphicon-search {
		display: none !important;
	}
	.table-responsive{
		border: 0 !important;
	}
}
