/* 
------------------
MISC - YET TO ORGANISE
------------------
*/
.primaryContainer {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgb(247, 247, 247);
}
body {
 font-family: /assets/css/Roboto;
}
.search {
	background-color: rgb(255, 255, 255);
	height: 48px;
}
.search_button {
	height: 48px;
}
#search_button {
	background-color: rgb(255, 255, 255);
	border: 0;
}
#search_button i {
	color: #fff;
}
#MainContainer {
	float: none;
	height: 100%;
	margin-left: auto;
	margin-top: 0px;
	clear: none;
	width: 100%;
	margin-right: auto;
	margin-bottom: 0px;
	background-color: rgb(247, 247, 247);
	display: block;
}
#MainPage {
	float: none;
	height: auto;
	margin-left: auto;
	margin-top: 0px;
	clear: none;
	width: 100%;
	margin-right: auto;
	margin-bottom: 0px;
	min-height: 0px;
	display: block;
}
#PageHeader {
	float: none;
	height: 48px;
	margin-left: auto;
	margin-top: 0px;
	clear: none;
	width: 100%;
	min-height: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	border-bottom-color: rgb(228, 228, 228);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	display: block;
	-webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
	box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
	opacity: 1;
	background-color: rgb(244, 67, 54);
	min-width: 0px;
}
#PageHeaderContainer {
	float: none;
	height: auto;
	margin-left: auto;
	margin-top: 0px;
	clear: none;
	width: 800px;
	min-width: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	display: block;
}
#image {
	float: left;
	width: auto;
	max-width: none;
	height: 36px;
	clear: none;
	color: rgb(0, 0, 0);
	margin-top: 6px;
	margin-right: 12px;
	margin-left: 6px;
	display: block;
	margin-bottom: 6px;
}
#text {
	float: left;
	font-size: 24px;
	width: auto;
	height: 24px;
	text-align: left;
	font-weight: 300;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 12px;
	clear: none;
	min-height: 0px;
	margin-right: 0px;
	color: rgb(255, 255, 255);
}
#image1 {
	float: right;
	width: auto;
	max-width: 100%;
	height: 24px;
	margin-left: 12px;
	margin-top: 12px;
	clear: none;
	color: rgb(0, 0, 0);
	display: block;
	margin-right: 12px;
	margin-bottom: 12px;
}
.PageMainSection {
	float: none;
	height: auto;
	clear: none;
	width: 800px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: rgb(228, 228, 228);
	border-right-color: rgb(228, 228, 228);
	border-left-color: rgb(228, 228, 228);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: rgb(228, 228, 228);
	-webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 2px;
	background-color: rgb(255, 255, 255);
	min-width: 0px;
}
#ListItemTitle1 {
	float: left;
	font-size: 16px;
	width: auto;
	height: 46px;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	min-height: 0px;
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
	color: rgb(244, 67, 54);
}
#DropMenu, .DropMenu {
	background-color: rgb(255, 255, 255);
	bottom: auto;
	box-shadow: 1px 2px 5px 2px rgba(118, 118, 118, 0.45);
	clear: right;
	float: right;
	height: auto;
	left: auto;
	min-height: 50px;
	padding-bottom: 8px;
	padding-top: 8px;
	position: relative;
	right: 24px;
	top: 170px;
	width: 220px;
	margin-top: -220px;
}
/*
--------------------------
SIMPLE LIST 
 - Heading and body;
 - Right side icon - if choose;
--------------------------
*/
.ListItem {
	float: right;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-color: rgba(0, 0, 0, 0.117647);
	border-bottom-width: 1px;
	border-bottom-style: inset;
	display: block;
	position: relative;
}
.ListItemTextDiv {
	width: auto;
	float: none;
	overflow: hidden;
}
.ListItemTextHeading {
	float: left;
	font-size: 16px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
.ListItemTextBody {
	float: left;
	font-size: 14px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	min-height: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	color: rgb(186, 186, 186);
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
/* left hand image icon */
.ListItemImgDiv{
	display:block;
	position:static;
	padding-left:0px;
	padding-right:32px;	
	float:left;
}
.ListItemImg {
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 16px;
    border-color: rgb(186, 186, 186);
    border-width: thin;
    border-style: solid;
}
.ListItemImgRound{
	border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
}
/* List - right hand action button */
.actionIcon {
	float: right;
	position: absolute;
	top: 24px;
	left: auto;
	bottom: auto;
	right: 16px;
	display: block;
	clear: none;
}
.menuIcon {
	width: 24px;
	max-width: none;
	height: 24px;
	margin-left: 0px;
	clear: none;
	color: rgb(0, 0, 0);
}
/* Allow room for icon on right of text */
.ListItemIconRight {
	padding-right: 32px;
}
/*
---------------------------
LIST SECTION LABEL (HEADING)
---------------------------
*/
.SectionLabelListItem {
	float: left;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	width: auto;
	min-height: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: block;
	padding-left: 0px;
}
.SectionLabel {
	float: none;
	height: auto;
	margin-left: auto;
	margin-top: 0px;
	clear: both;
	width: 100%;
	margin-right: auto;
	margin-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-color: rgba(0, 0, 0, 0.117647);
	border-bottom-width: 1px;
	border-bottom-style: inset;
	display: block;
}
.SectionLabelTitle {
	float: left;
	font-size: 16px;
	width: auto;
	height: 46px;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	min-height: 0px;
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
	color: rgb(244, 67, 54);
}
/*
-------------------
SEARCH SECTION
-------------------
*/
#CustItemSearch {
	float: none;
	height: 48px;
	margin-left: auto;
	margin-top: 20px;
	clear: none;
	width: 800px;
	margin-bottom: 0px;
	padding-top: 0px;
	-webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
	margin-right: auto;
	display: block;
	background-color: rgb(255, 204, 221);
	position: relative;
	min-width: 0px;
}
.ListItemCaption {
    clear: both;
    color: rgb(186, 186, 186);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1em;
    margin: 0;
    min-height: 0;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: left;
    width: auto;
}
.tt-query, .tt-hint {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    height: 48px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 100%;
}
 
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	color: #111;
	width: 100%;
	max-width: 500px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding:20px 16px 20px 16px;
	min-height:48px;
}
.tt-suggestion.tt-cursor,.tt-suggestion.tt-is-under-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.twitter-typeahead{
    width:100%;
}

#search, .typeahead {
	width: 100%;
	font-size: 16px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-top: 0px;
	min-height: 38px;
	padding-top: 16px;
	padding-bottom: 8px;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 8px;
	display: block;
	margin-left: 7px;
	padding-left: 0px;
	box-shadow: none;
	font-family: roboto;
}

.search{ 
	background-color: rgb(255, 255, 255);
	height:48px;
}

.search_button{
	height: 48px;
	margin-top: -4px;
}

#search_button{
	background-color:rgb(255, 255, 255);
	border:0;
}

#search_button i {
	color: #fff;
}

#search{ 
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: #aaa;
	font-style: normal;
}

#search::-webkit-input-placeholder {
	color:#aaa;
	 
	font-style: italic;
}
#search:-moz-placeholder {
	color:#aaa;
	 
	font-style: italic;
}
#search::-moz-placeholder {
	color:#aaa;
	 
	font-style: italic;
}
#search:-ms-input-placeholder {
	color:#aaa;
	 
	font-style: italic;
}
/* 
----------------------
MOBILE RESIZE
----------------------
*/
@media only screen and (max-width: 850px) {
	#PageHeader {
		display: block;
		width: 100%;
	}
	#PageHeaderContainer {
		width: 100%;
	}
	.PageMainSection {
		width: 100%;
	}
	#CustItemSearch {
		width: 96%;
		position: relative;
	}
}
/* ------
-- desktop classes unused
---------
	#unused_desktop_list_image_text{
		
	}

#text5 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}
	
#text6 {
    clear: none;
    float: left;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 1em;
    margin: 0;
    min-height: 0;
    min-width: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-top: 14px;
    text-align: left;
    width: 100%;
}

#text1 {
    float: none;
    font-size: 16px;
    width: 98%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(68, 138, 255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 8px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    display: block;
}

#text4 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text10 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text11 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text9 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text8 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text7 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text12 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text13 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text14 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text15 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text16 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text17 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text18 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text19 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItem8 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem7 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem6 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem5 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem4 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem3 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem2 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItem1 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#image2 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 12px;
    left: auto;
    right: 12px;
    bottom: auto;
}

#image4 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image5 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image6 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image7 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image8 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image9 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image10 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}

#image11 {
    float: right;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0.03263708%;
}
*/

/*
---------------
-- mobile classes unused
---------------
@media only screen and (max-width: 850px) {
	#unused_mobile_list_image_text{
		
	}
	
    #image4 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image5 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image6 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image7 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image2 {
        margin-right: 0px;
        margin-top: 0px;
        clear: none;
        position: absolute;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #image8 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image9 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image10 {
        width: 24px;
        max-width: none;
        height: 24px;
    }

    #image11 {
        width: 24px;
        max-width: none;
        height: 24px;
    }


    #text1 {
        height: auto;
        width: 98%;
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }
}
*/
#PageMain {
    float: none;
    height: auto;
    clear: none;
    max-width: 800px;
    width:100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}