/*
-----------------------------
MISC - UNORGANISED
-----------------------------
*/
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
     background-color:rgb(247, 247, 247);
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    height: 933px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    display: block;
}

#PageHeader {
    float: left;
    height: 48px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
    margin-bottom: 20px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageHeaderContainer {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
}

body {
    font-family: Roboto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#image1 {
    float: right;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 186px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}

#Phone {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    border-top-style: inset;
    border-top-color: rgba(0, 0, 0, 0.117647);
    border-top-width: 1px;
}

#text7 {
    float: right;
    font-size: 16px;
    width: 144px;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    background-color: rgb(68, 138, 255);
}

#ListItem {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#ListItemText {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#ListItemTitle {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text1 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#CalIcon {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#Image_Area1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

#Box {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItem2 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area4 {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text3 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#ListItemText2 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#Box2 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItemTitle2 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption2 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Image_Area5 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

#CalIcon2 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#ListItem1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area2 {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text2 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#ListItemText1 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#Box1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItemTitle1 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption1 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Image_Area3 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    position: relative;
}

#CalIcon1 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#image2 {
    float: none;
    width: 600px;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 579px;
    left: 20.652971%;
    max-width: none;
    z-index: 1005;
    right: auto;
}

#ListItem3 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area6 {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#formgroup3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text4 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#ListItemText3 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#Box3 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItemTitle3 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption3 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Image_Area7 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

#CalIcon3 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#ListItem5 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area10 {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#formgroup5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text6 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#ListItemText5 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#Box5 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItemTitle5 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption5 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Image_Area11 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    position: relative;
}

#CalIcon5 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#ListItem4 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area8 {
    float: left;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#formgroup4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#input4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text5 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

#ListItemText4 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#Box4 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#ListItemTitle4 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#ListItemCaption4 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Image_Area9 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 28px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

#CalIcon4 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}
/*
--------------------------
SIMPLE LIST 
 - Heading and body always;
 - Right side icon - if choose;
 - Left Side image
--------------------------
*/
.ListItem {
	float: right;
	height: auto;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-color: rgba(0, 0, 0, 0.117647);
	border-bottom-width: 1px;
	border-bottom-style: inset;
	display: block;
	position: relative;
}
.ListItemTextDiv {
	width: auto;
	float: none;
	overflow: hidden;
}
.ListItemTextHeading {
	float: left;
	font-size: 16px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
.ListItemTextBody {
	float: left;
	font-size: 14px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	margin-left: 0px;
	margin-top: 0px;
	clear: both;
	min-height: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	color: rgb(186, 186, 186);
	display: block;
	margin-right: 0px;
	margin-bottom: 0px;
}
/* left hand image icon */
.ListItemImgDiv{
	display:block;
	position:static;
	padding-left:0px;
	padding-right:32px;	
	float:left;
}
.ListItemImg {
    height: 24px;
	width: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 16px;
    border-color: rgb(186, 186, 186);
    border-width: thin;
    border-style: solid;
}
.ListItemImgRound{
	border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
}
/* List - right hand action button */
.actionIcon {
	float: right;
	position: absolute;
	top: 24px;
	left: auto;
	bottom: auto;
	right: 16px;
	display: block;
	clear: none;
}
.menuIcon {
	width: 24px;
	max-width: none;
	height: 24px;
	margin-left: 0px;
	clear: none;
	color: rgb(0, 0, 0);
}
/* Allow room for icon on right of text */
.ListItemIconRight {
	padding-right: 32px;
}

@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #PageMain {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #image1 {
        clear: none;
        margin-left: 12px;
        margin-right: 12px;
        float: right;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    #text7 {
        height: 36px;
        line-height: 1em;
        clear: none;
        min-height: 0px;
        padding-right: 8px;
        padding-left: 8px;
        min-width: 64px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #ListItem {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area1 {
        clear: none;
    }

    #ListItem2 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area4 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText2 {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption2 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area5 {
        clear: none;
    }

    #ListItem1 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area2 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText1 {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption1 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area3 {
        clear: none;
    }

    #ListItem3 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area6 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText3 {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption3 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area7 {
        clear: none;
    }

    #ListItem5 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area10 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText5 {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption5 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area11 {
        clear: none;
    }

    #ListItem4 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area8 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText4 {
        clear: none;
        margin-top: 0px;
    }

    #ListItemCaption4 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Image_Area9 {
        clear: none;
    }

    #image2 {
        width: 80%;
        max-width: none;
        left: 20.99999756px;
        right: auto;
        top: 579px;
    }
}



