div#container
{
   width: 994px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
body
{
   text-align: center;
   margin: 0;
   background-color: #FFFFFF;
   color: #000000;
}
#backgroundimage
{
   height: auto;
   left: 0;
   margin: 0;
   min-height: 100%;
   min-width: 994px;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#Image1
{
   border: 0px #000000 solid;
}
#Editbox1
{
   border: 1px #00008B solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #DCDCDC;
   color :#1E90FF;
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   text-align: left;
   vertical-align: middle;
   position: absolute; 
   left: 880px; 
   top: 158px; 
   width: 330px; 
   height: 42px; 
   line-height: 42px; 
   z-index: 2;
}
#Editbox2
{
   border: 1px #00008B solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #DCDCDC;
   color :#4169E1;
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   text-align: left;
   vertical-align: middle;
   position: absolute; 
   left: 880px; 
   top: 218px;
   width: 330px; 
   height: 42px; 
   line-height: 42px; 
   z-index: 3;
}
#Button1
{
   color: white;
   font-family: Arial;
   font-size: 15px;
   position: absolute; 
   left: 1000px; 
   top: 280px; 
   width: 100px; 
   height: 40px; 
   z-index: 4;
   background-color: #3399ff;
 
}
#Image3
{
   border: 0px #000000 solid;
}
#Image4
{
   border: 0px #000000 solid;
}
#Line1
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0px;
   margin: 0; padding: 0; position: absolute; left: 716px; top: 161px; width: 1px; height: 37px; z-index: 7;
}
#Line2
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0px;
   margin: 0; padding: 0; position: absolute; left: 716px; top: 221px; width: 1px; height: 37px; z-index: 8;
}

#wb_shape1{
	position: absolute;
	left: 650px; 
	top: 124px; 
	width: 599px; 
	height: 250px; 
	opacity: 0.50; 
	-moz-opacity: 0.50; 
	-khtml-opacity: 0.50; 
	filter: alpha(opacity = 50); 
	z-index: 0;
}

#wb_image1{
	position: absolute; 
	left: 660px; 
	top: 152px; 
	width: 196px; 
	height: 196px; 
	z-index: 1;
}

#wb_image2{
	position: absolute; left: 1170px; top: 170px; width: 21px; height: 22px; z-index: 5;
}

#wb_image3{
	position: absolute; left: 1170px; top: 230px; width: 17px; height: 22px; z-index: 6;
}

#form_login {
   margin-top:190px;
   margin-left: 450px;
}
