.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 635px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#PageHeader {
    float: none;
    height: 48px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageHeaderContainer {
    float: none;
    height: 48px;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
}

body {
    font-family: /assets/css/Roboto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 169px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}

#Label {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
}

#ListItemText {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#Type {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#PhoneIcon2 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText3 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle3 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption2 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#box2 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#Status {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#box {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#PhoneIcon {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText1 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Date {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#PhoneIcon1 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText2 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle2 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption1 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#PageMain1 {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

#Label1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
}

#ListItemText4 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle4 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#Status1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#ListItemText5 {
    float: none;
    height: auto;
    margin-left: 16px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle5 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption3 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#LogRecord {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#ListItemText6 {
    float: none;
    height: auto;
    margin-left: 16px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle6 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption4 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Address {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#ListItemText8 {
    float: none;
    height: auto;
    margin-left: 16px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle8 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption6 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#LogRecord1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#ListItemText7 {
    float: none;
    height: auto;
    margin-left: 16px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle7 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption5 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #PageMain {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    #box2 {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #ListItemText3 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #PhoneIcon2 {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #Type {
        padding-left: 0px;
    }

    #Status {
        padding-left: 0px;
    }

    #box {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #PhoneIcon {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #ListItemText1 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #Date {
        padding-left: 0px;
    }

    #box1 {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #PhoneIcon1 {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #ListItemText2 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #PageMain1 {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #Status1 {
        padding-left: 0px;
    }

    #ListItemText5 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #LogRecord {
        padding-left: 0px;
    }

    #ListItemText6 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #Address {
        padding-left: 0px;
    }

    #ListItemText8 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #LogRecord1 {
        padding-left: 0px;
    }

    #ListItemText7 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

