.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 320px;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
    display: block;
}

#MainPage {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    display: block;
}

#StockOnHand {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 2px;
}

body {
    font-family: /assets/css/Roboto;
}

#Label {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItemText1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#PageHeader {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
    background-color: rgb(244, 67, 54);
}

#PageHeaderContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    min-height: 0px;
    visibility: visible;
}

#BackIcon {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

#CustomerTitle {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: right;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#CustHeader {
    float: left;
    font-size: 20px;
    width: 100%;
    height: 71px;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 30px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    padding-right: 30px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#Interaction3 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    position: relative;
}

#Title {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 16px;
    padding-bottom: 16px;
}

#SizeQty {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-width: 0px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    min-height: 48px;
}

#PhoneIcon1 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 48px;
    margin-bottom: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#Availability {
    float: right;
    height: 93px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PhoneIcon {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: both;
    color: rgb(0, 0, 0);
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption1 {
    float: left;
    font-size: 14px;
    width: 89.29988%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 58px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-y: auto;
    overflow-x: auto;
}

#Interaction2 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#Interaction1 {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PurchaseHist {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

#Label1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
}

#ListItemText3 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle5 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#Interaction11 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText4 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle6 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption3 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Interaction32 {
    float: right;
    height: 72px;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText5 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle7 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption4 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0.5625px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
}

#text1 {
    float: left;
    font-size: 16px;
    width: 13.521948%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 48px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(177, 171, 171);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 8px;
    margin-right: 0px;
    color: rgb(0, 0, 0);
    display: block;
}

#Qty {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
    display: block;
}

#_10 {
    float: left;
    font-size: 16px;
    width: 8.48156%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 48px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(177, 171, 171);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 8px;
    margin-right: 0px;
    color: rgb(0, 0, 0);
    display: block;
}

#ListItemTitle4 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemTitle2 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemTitle3 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text {
    float: right;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ProductImages {
    float: none;
    height: 295px;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    background-image:url("http://localhost/ci/assets/images/8202308%20big.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: auto 80%;
    background-size: auto 80%;
}

#Interaction31 {
    float: right;
    height: 28px;
    margin-left: 0px;
    margin-top: 267px;
    clear: none;
    width: 100.000001%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemText2 {
    float: left;
    height: 34px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
}

#ListItemCaption2 {
    float: left;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

#Add_Button {
    float: left;
    height: auto;
    clear: both;
    width: auto;
    min-height: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    position: absolute;
    top: 114px;
    left: 92.665536%;
    display: block;
    background-color: rgb(68, 138, 255);
    z-index: 100;
    right: auto;
    -webkit-box-shadow: rgb(176, 172, 172) 1px 1px 1px 1px;
    box-shadow: rgb(176, 172, 172) 1px 1px 1px 1px;
}

#image {
    float: left;
    width: 24px;
    max-width: 100%;
    height: 24px;
    margin-left: 16px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 16px;
    margin-bottom: 16px;
}

#text2 {
    float: right;
    font-size: 16px;
    width: 13.601026%;
    height: 36px;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 8px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 138, 255);
}

#CartIcon {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 12px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 850px) {
    #CustHeader {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #ProductImages {
        width: 100%;
    }

    #PageMain {
        width: 100%;
    }

    #PurchaseHist {
        width: 100%;
    }

    #StockOnHand {
        width: 100%;
    }

    #Availability {
        height: auto;
    }

    #text1 {
        width: auto;
        margin-top: 0px;
        margin-left: 48px;
        clear: none;
    }

    #_10 {
        width: auto;
        margin-top: 0px;
        margin-left: 48px;
        clear: none;
    }

    #text2 {
        width: 13.601026%;
        height: 36px;
        line-height: 1em;
        clear: none;
        min-height: 0px;
        padding-right: 8px;
        padding-left: 8px;
        min-width: 64px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #Qty {
        margin-top: 12px;
        margin-left: 0px;
        clear: none;
    }

    #PhoneIcon1 {
        margin-top: 12px;
        margin-left: 48px;
        clear: none;
    }

    #Add_Button {
        left: auto;
        right: 12px;
    }

    #ListItemTitle {
        height: 36px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #ListItemCaption1 {
        height: auto;
        width: 100%;
    }

    #ListItemText {
        width: 100%;
    }
}

