 
body{
    font-family: /assets/css/Roboto;
}
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

#MainContainer {
    float: none;
    height: 100%;
    margin: 0px auto;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(247, 247, 247);
    min-width: 0px;
    min-height: 0px;
}

#image {
    float: none;
    width: auto;
    height: 160px;
    clear: none;
    color: rgb(0, 0, 0);
    margin: 30px auto 5px;
    display: block;
    max-width: 100%;
}
#image1 {
     
    margin-top: 0px;float:right;
    margin-right:10px;
     
     
}



#logo {
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    height: 36px;
    margin: 6px 12px 6px 6px;
    max-width: none;
    width: auto;
}

ul.navbar-nav li a:{
    background-color:  rgb(247, 247, 247);
}


#MainPage {
    float: none;
    height: auto;
    margin: 48px auto 0px;
    clear: none;
    width: 400px;
    min-height: 0px;
    display: block;
}

#PageHeaderContainer {
    float: none;
    height: auto;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
    padding-bottom: 16px;
    -webkit-box-shadow: rgb(226, 226, 226) 2px 0px 3px 0px;
    box-shadow: rgb(226, 226, 226) 2px 0px 3px 0px;
}



#PageHeader {
    float: none;
    height: 48px;
    margin: 0px auto;
    clear: none;
    width: 80%;
    min-height: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    -webkit-box-shadow: rgb(226, 226, 226) 3px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 3px 3px 2px 0px;
    opacity: 1;
    background-color: rgb(244, 67, 54);
}

.navbar  {
    float: none;
    height: auto;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    display: block;
    background-color:#E6E5FC;
    padding-bottom: 16px;
    -webkit-box-shadow: rgb(226, 226, 226) 2px 0px 3px 0px;
    box-shadow: rgb(226, 226, 226) 2px 0px 3px 0px;
    color:#000000;
}

#text4 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin: 6px auto 0px;
    clear: none;
    min-height: 0px;
    padding: 8px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    font-style: normal;
    display: block;
}

#signin, .signin {
    background-color: rgb(244, 67, 54);
    border-bottom: 1px solid rgb(228, 228, 228);
    box-shadow: 3px 3px 2px 0 rgb(226, 226, 226);
    clear: none;
    display: block;
    float: none;
    height: 48px;
    margin: 20px auto;
    min-height: 0;
    opacity: 1;
    width: 80%;border-style:none;
    cursor: pointer;
}

.text6 {
    clear: none;
    color: rgb(255, 255, 255);
    display: block;
    float: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    line-height: 1em;
    margin: 8px auto 0;
    min-height: 0;
    min-width: 0;
    padding: 8px;
    text-align: center;
    width: auto;border-style:none; background-color: rgb(244, 67, 54);padding-top:15px
}

#text {
    float: none;
    font-size: 24px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    display: block;
    margin-right: auto;
}

#logotext {
    clear: none;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 24px;
    font-weight: 300;
    height: 24px;
    line-height: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
    min-height: 0;
    text-align: left;
    width: auto;
}

#text1 {
    float: none;
    font-size: 16px;
    width: 80%;
    height: 40px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px auto 8px;
    clear: both;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-color: rgb(177, 171, 171);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: rgb(172, 172, 172);
}

 
#text2 {
    color: rgb(172, 172, 172);
    display: inline-block;
    float: none;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    line-height: 1em;
    padding: 0 0.5em;
    text-align: left;
    width: auto;
    margin-left:30px
}

#box {
    float: left;
    height: 48px;
    margin-left: 0%;
    margin-top: 26px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-bottom: 8px;
}

 
#formgroup {
    clear: none;
    display: block;
    float: none;
    height: auto;
    margin: 0 auto;
    min-height: auto;
    padding-bottom: 16px;
    padding-top: 8px;
    text-align: left;
    width: 80%;
}

#input {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text3 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    color: rgb(172, 172, 172);
}
.btn-baxter{
    background-color: rgb(244, 67, 54);
    border-bottom: 1px solid rgb(228, 228, 228);
    box-shadow: 3px 3px 2px 0 rgb(226, 226, 226);
    clear: none;
    display: block;
    float: none;
    height: 48px;
    margin: 0 auto;
    min-height: 0;
    opacity: 1;
    width: 80%;
    color: #fff;
}

.navbar-default {
  background-color: #f32d18;
  border-color: #635e5e;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f32d18;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #635e5e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f32d18;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #635e5e;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #635e5e;
}
.navbar-default .navbar-toggle {
  border-color: #635e5e;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #635e5e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #635e5e;
  }
}
.navbar-inverse .navbar-nav > li > a{
    color:#fff;
}

#textinput:active,.textinput:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput:focus, .textinput:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput, .textinput {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
}

#textinput, .textinput {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

#formgroup {
    clear: none;
    display: block;
    float: none;
    height: auto;
    margin: 0 auto;
    min-height: auto;
    padding-bottom: 16px;
    padding-top: 8px;
    text-align: left;
    width: 80%;
}
/* -------------------------*/
/* HTML and styling for * (all) elements
 * |------------------------------------------
 * | Styling defaults to chrome browser
 * | -use another (external) stylesheet to style different browsers
 * |------------------------------------------
 * 
 */
* {
    word-wrap: break-word;
}
html {
    height: 100%;
}
body {
    height: 100%;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}

/*
 * .page and .page types
 * |------------------------------------------
 * |    must be classes of <body>
 * |------------------------------------------
 * - login
 * - single
 * - multiple
 * - product
 * - search
 * - checkout
 */
.page {
    background-color: #f7f7f7;
}
.login {
    background: #f7f7f7;
}
.single {
}
.multiple {
}
.product {
}
.search {
}
.checkout {
}



/*
 * wrappers
 * |-----------------------------------------
 * |    may be used to create sticky footers
 * |-----------------------------------------
 * - .wrapper class
 * - #main
 * - .container (in this case we'll use up to 768px)
 */
.wrapper {
    height: 100%;
}
#main {
    height: 100%;
}
/**
 * we'll remove container padding from mobile devices'
 */
.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0px;
}
@media screen and (min-width: 769px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/**
 * Horiontally and vertically center a block element.
 */
.abscenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
}

/**
 * customized form inputs 
 */
input[type=text].form-control,
input[type=password].form-control,
input[type=search].form-control

{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding: 0;
}
input.form-control:focus,
input.form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #555;
}


/**
 * For login page
 */
#loginBlockContainer {
    max-width: 330px;
    height: 487px;
    padding: 15px;
    
    margin-top: 10%;
}
#loginBlock {
    padding: 15px 30px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    margin-top:-20px;
}


/**
 * Navigation headers (#navHeader)
 */
#navHeader {
    background-color: rgb(244, 67, 54);
    color: #fff;
    min-height: 48px;
}
#navHeader .nav-group {
    position: relative;
}
#navHeader .left-group {
    min-width: 40px;
    position: absolute;
    left: 0;
}
#navHeader .left-group .navbar-brand {
    padding-top: 8px;
    padding-left: 15px;
    color: #fff;
    font-size: 22px;
}
#navHeader .left-group .navbar-brand img {
    width: 36px;
    display: inline-block;
}


#navHeader .right-group {
    min-width: 40px;
}
#navHeader a {
    display: inline-block;
    padding: 12px 6px;
    color: #fff;
    text-decoration: none;
}
#navHeader .right-group img {
    width: 24px;
}
#navHeader .middle-group {
    margin-bottom: 0px;

}
#navHeader .middle-group input[type=text] {
    background-color: transparent;
    border-bottom-color: #fff;
}
#navHeader .middle-group .text-header {
    line-height: 48px;
    
    margin-bottom: 0;
    font-size: 18px;
}

#navHeader .nav-title {
    padding-left: 10px;
}

#navHeader.has-nav-title + .header-fixed {
    margin-top: 105px;
}


/**
 * Header search box
 */
#navHeader .search-box {
    margin-top: 7px;
    margin-bottom: 0;
}
#navHeader .search-box input {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    padding: 0;
    background-color: transparent;
    color: #fff;
}
#navHeader .search-box .search-icon {
    position: absolute;
    
    width: 24px;
    right: 20px;
    top: 5px;
}


/**
 * Styling placeholders
 */
#navHeader .search-box input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}
#navHeader .search-box input:-ms-input-placeholder {
    color: rgba(255,255,255,0.6);
}
#navHeader .search-box input:-moz-placeholder {
    color: rgba(255,255,255,0.6);
}
#navHeader .search-box input::-moz-placeholder {
    color: rgba(255,255,255,0.6);
}

/* #navHeader main menus */
#toggleMenu {
    background-color: transparent;
    border: none;
    padding: 12px 6px;
}
#navHeader .dropdown-menu {
    margin-right: 5px;

}
#navHeader .dropdown-menu:before {
    content: ' ';
    border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 7px solid #FFFFFF;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -7px;
    right: 7px;
}
#navHeader .dropdown-menu a {
    width: 100%;
    padding-left: 18px;
    color: #000;
}


/**
 * Page Content
 */
.page-content {

}
.page-content.header-fixed {
    margin-top: 65px;
}

/**
 * Custom panels and list-group-items
 */
.panel {
}
.panel-default {
}
.panel-heading {
    padding-top: 18px;
    padding-bottom: 10px;
    background-color: #fff !important;
    /* border-bottom: none; */
    font-size: 15px;
}
.panel-heading .list-item {
    padding: 15px 0;
}

.list-group {
}
.list-group-item {
    position: relative;
    padding: 15px;
}
.list-group-item .options {
    margin-right: -15px;
    background: #fff;
    border: 1px solid #A9A9A9;
    z-index: 999;
    left: 100%;
    right: 0;
    margin-left: -180px;
    float: right;
    margin-top: -90px;
    max-width: 180px;
    min-width: 0;
    border-radius: 0;
}
.list-group-item .toggle-options {
    cursor: pointer;
    display: inline-block;
    margin-right: -15px;
    border: none;
    margin-top: 0;
    float: right;    background: url('img/ic_more_vert_black_48dp.png');    
    width: 40px;    
    height: 40px;    
    background-size: 100%;    
    background-repeat: no-repeat;            ;
}
.list-group-item .toggle-options:hover {
}
.list-group-item .toggle-options.open {
    border: none;
    outline: none;
}
.list-group-item .toggle-options.open .options {
    display: block;
}

.list-group-item .toggle-options:before {
    /* content: ' '; */
    /* float: right; */
    /* background: url('img/ic_more_vert_black_48dp.png'); */
    /* width: 40px; */
    /* height: 40px; */
    /* background-size: 100%, 100%; */
    /* background-repeat: no-repeat; */
    /* background-position: 15px, 100%; */
    /* position: relative; */
    /* right: -16px; */
}
.list-group-item .options li {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    padding: 0;
}
.list-group-item .options li a {
    padding: 10px 15px;  
}
.list-group-item .options li a:hover,
.list-group-item .options li a:active,
.list-group-item .options li a:focus {
    background-color: #f5f5f5;

}


.list-group-item label {
    font-weight: normal;
    display: block;
}


/**
 * icon badges, like Bootstrap's media items, except we use icons
 * we'll use this inside list-group-items'
 */
.list-group-item .icon-badge {
    display: block;
    position: relative;
    float: left;
    max-width: 40px;
    padding-left: 7px;
    height: 100%;
    padding-right: 10px;
}
.list-group-item .icon-badge img {
    width: 30px;
    padding-top: 5px;
}
.icon-badge input[type=checkbox] {
    -webkit-box-shadow: none;
    
    box-shadow: none;
    /* background-color: #fff; */
    /* -webkit-border-radius: 0; */
    /* border-radius: 0; */
}

.icon-badge img {
    width: 30px;
}










/**
 * ------------------------------------------
 *      UTILITY CLASSES
 * ------------------------------------------
 */
/**
 * .btn-wide must be accompanied with .btn class
 */
.btn-wide {
    padding-left: 20px;
    padding-right: 20px;
}

/**
 * .sharp-corner(s)  - sharp corners
 */
.sharp-corners, .sharp-corner {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

/**
 * .no-padding class
 */
.no-padding {
    padding: 0 !important;
}
.no-hor-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-ver-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/**
 * .show-more
 */
a.show-more {
    color: #f00;
    font-size: 13px;
}
a.show-more:after {
    content: '...';
}
a.show-more:hover {
    background: none;
    text-decoration: underline;
    color: #f00;
}

/**
 * position: sticky, use for webkit (safari) browsers only
 * - iPhone, iPad, iPod Touch, Safari
 */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#navHeader + .page-content.header-fixed .sticky {
    top: 47px;
}
#navHeader.has-nav-title + .page-content.header-fixed .sticky {
    top: 85px;
}



/**
 * STOCK ON HAND
 */

#stockOnHand {

}
#stockOnHand table {

}
#stockOnHand table tr {

}
#stockOnHand table td {
}

/**
 * IMAGE SLIDER CSS
 */
.owl-carousel {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    list-style: none;
}
.owl-carousel .item {
    cursor: move;
}
.owl-carousel .item a {
}
.owl-carousel .item img {
    width: 100%;
    
    height: auto;
}



/**
 * SEARCH module
 */
.search-panel {
    background: #E79E9E;
    margin: 0 15px;
    border: 1px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    max-width: 768px;
    position: relative;
}
.search-panel input {
    background: #fff;
    padding-left: 10px !important;
}
.search-panel .search-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}
.list-group.search-result-items {
    max-width: 700px;
    width: auto !important;
    margin: 0 25px;
}
.list-group.search-result-items .list-group-item {
    border: none;

    padding: 6px 12px;
    margin: 0;
}
.list-group.search-result-items .list-group-item.ui-state-focus {

}






/**
 * Qty Price Total
 */
.qty-price-total {
    width: 90px;
    padding: 0 10px;
    display: inline-block;
    height: 65px;
    vertical-align: top;
}
.qty-price-total .label {
    color: #000;
    display: block;
    line-height: 24px;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
}
.qty-price-total .content {
    height: 100%;
    width: 100%;
    line-height: 36px;
    position: relative;
}
.qty-price-total .content .currency {
    position: absolute;
}
.qty-price-total .content input.price {
    padding-left: 14px;
}


.order-details .qty-price-total {
    height: 50px;
}
.order-details .qty-price-total .label {
    line-height: 12px;
    margin-top: 6px;
    padding-left: 0;
}
.order-details .qty-price-total .content {
    line-height: 18px;
    height: 20px;
}

.order-total {
}
.order-total small {
    color: #DF4034;

}
#orderTotal {
    font-weight: 600;
    font-size: 16px;
}
input:focus {outline: none; }