.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

#MainContainer {
    float: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: rgb(247, 247, 247);
}

#MainPage {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 635px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#PageHeader {
    float: none;
    height: 48px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    background-color: rgb(244, 67, 54);
    -webkit-box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    box-shadow: rgb(226, 226, 226) 0px 3px 2px 0px;
    opacity: 1;
}

#PageMain {
    float: none;
    height: auto;
    clear: none;
    width: 800px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-right-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    box-shadow: rgb(226, 226, 226) 1px 1px 3px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#PageHeaderContainer {
    float: none;
    height: 48px;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 800px;
    min-width: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
}

body {
    font-family: /assets/css/Roboto;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-right: 12px;
    margin-bottom: 12px;
}

#text {
    float: left;
    font-size: 16px;
    width: 169px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 38px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0px;
}

#SubmitOrderArea {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: -0.78125px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(137, 137, 137);
    padding-bottom: 16px;
}

#ListItem2 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#image3 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText6 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
}

#ListItemTitle6 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text7:active {
    color: rgb(137, 137, 137);
}

#text7:focus {
    color: rgb(68, 138, 255);
}

#text7 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput6:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput6:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput6 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text8:active {
    color: rgb(137, 137, 137);
}

#text8:focus {
    color: rgb(68, 138, 255);
}

#text8 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput7:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput7:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput7 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity8 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text9:active {
    color: rgb(137, 137, 137);
}

#text9:focus {
    color: rgb(68, 138, 255);
}

#text9 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput8:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput8:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput8 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Image_Area2 {
    float: left;
    height: 31.060422%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#ListItem {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#image1 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText4 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#ListItemTitle4 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text1:active {
    color: rgb(137, 137, 137);
}

#text1:focus {
    color: rgb(68, 138, 255);
}

#text1 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text2:active {
    color: rgb(137, 137, 137);
}

#text2:focus {
    color: rgb(68, 138, 255);
}

#text2 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput1:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput1:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
    border-bottom-style: none;
}

#text3:active {
    color: rgb(137, 137, 137);
}

#text3:focus {
    color: rgb(68, 138, 255);
}

#text3 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput2:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput2:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#ListItem1 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
}

#Image_Area1 {
    float: left;
    height: 31.060422%;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#image2 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    margin-left: 0px;
    margin-top: 16px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
}

#ListItemText5 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#ListItemTitle5 {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#Quantity3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text4:active {
    color: rgb(137, 137, 137);
}

#text4:focus {
    color: rgb(68, 138, 255);
}

#text4 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput3:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput3:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text5:active {
    color: rgb(137, 137, 137);
}

#text5:focus {
    color: rgb(68, 138, 255);
}

#text5 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput4:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput4:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Quantity5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text6:active {
    color: rgb(137, 137, 137);
}

#text6:focus {
    color: rgb(68, 138, 255);
}

#text6 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(225, 225, 225);
}

#textinput5:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput5:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
}

#Order_Notes {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text11:active {
    color: rgb(137, 137, 137);
}

#text11:focus {
    color: rgb(68, 138, 255);
}

#text11 {
    float: none;
    font-size: 12px;
    width: 70px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(137, 137, 137);
}

#textinput10:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput10:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput10 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 16px;
    display: block;
    width: 100%;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(137, 137, 137);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    color: rgb(137, 137, 137);
    min-height: 0px;
    font-weight: 500;
}

#Order_Total {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 16px;
}

#text10:active {
    color: rgb(137, 137, 137);
}

#text10:focus {
    color: rgb(68, 138, 255);
}

#text10 {
    float: none;
    font-size: 16px;
    width: 125px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    color: rgb(244, 67, 54);
}

#textinput9:active {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput9:focus {
    border-bottom-color: rgb(68, 138, 255);
}

#textinput9 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 125px;
    min-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    margin-bottom: 8px;
    border-bottom-color: rgb(225, 225, 225);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: rgb(186, 186, 186);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#Label {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    border-bottom-width: 1px;
    border-bottom-style: none;
    display: block;
}

#ListItemText {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

#ListItemTitle {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(244, 67, 54);
}

#Address {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: inset;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#PhoneIcon2 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText3 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle3 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption2 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#box2 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#Status {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#box {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#PhoneIcon {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText1 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle1 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Date {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    border-bottom-color: rgb(137, 137, 137);
    border-bottom-width: 2px;
    border-bottom-style: none;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-color: rgb(137, 137, 137);
    border-top-width: 1px;
    border-top-style: none;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    padding-right: 32px;
    padding-left: 16px;
    margin-bottom: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
}

#PhoneIcon1 {
    float: left;
    width: 24px;
    max-width: none;
    height: 24px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0px;
    min-height: 0px;
    max-height: none;
}

#ListItemText2 {
    float: none;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: auto;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ListItemTitle2 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 0px;
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

#ListItemCaption1 {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: rgb(186, 186, 186);
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 850px) {
    #PageHeader {
        display: block;
    }

    #PageHeaderContainer {
        width: 100%;
    }

    #PageMain {
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #text {
        clear: none;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    #ListItem2 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #image3 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #text7 {
        font-weight: 500;
    }

    #textinput6 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text8 {
        font-weight: 500;
    }

    #textinput7 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text9 {
        font-weight: 500;
    }

    #textinput8 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #SubmitOrderArea {
        height: auto;
    }

    #Image_Area2 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #ListItemText6 {
        clear: none;
        margin-top: 0px;
    }

    #ListItem {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #image1 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #ListItemText4 {
        clear: none;
        margin-top: 0px;
    }

    #text1 {
        font-weight: 500;
    }

    #textinput {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text2 {
        font-weight: 500;
    }

    #textinput1 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text3 {
        font-weight: 500;
    }

    #textinput2 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #ListItem1 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        clear: both;
    }

    #Image_Area1 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #image2 {
        width: 25px;
        max-width: none;
        height: 25px;
    }

    #ListItemText5 {
        clear: none;
        margin-top: 0px;
    }

    #text4 {
        font-weight: 500;
    }

    #textinput3 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text5 {
        font-weight: 500;
    }

    #textinput4 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text6 {
        font-weight: 500;
    }

    #textinput5 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text11 {
        font-weight: 500;
    }

    #textinput10 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #text10 {
        font-weight: 500;
    }

    #textinput9 {
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
    }

    #box2 {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #ListItemText3 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #PhoneIcon2 {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #Address {
        padding-left: 0px;
    }

    #Status {
        padding-left: 0px;
    }

    #box {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #PhoneIcon {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #ListItemText1 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #Date {
        padding-left: 0px;
    }

    #box1 {
        float: left;
        margin-top: 0px;
        clear: none;
        margin-bottom: 0px;
    }

    #PhoneIcon1 {
        margin-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        clear: none;
        margin-bottom: 12px;
    }

    #ListItemText2 {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

