html, body {
  height: 100%;
  background-color: #f4f3d7;
/*  background-color: #e5e6e6;*/
}

.pull-center {
  float: center;
  margin: 0 auto;
}

@-moz-document url-prefix(){
  .pull-center{
    float: none !important;
  }
}

body.login{
  background: url("../images/loginBG.jpg") repeat scroll 0 0 /  auto rgba(0, 0, 0, 0);

}

#ui-datepicker-div {
  z-index: 1000;
}

.border {
  border-bottom: 1px solid #EEE9E9;
}
.alert{
  margin-top: 10px;
}
.progress {
  text-align: center;
}
.ui-widget-header {
  color: #333 !important;
}
.ui-widget-header {
  border: 1px solid #e78f08;
  background: none repeat scroll 0 0 #AE2A2F !important;
  color: #ffffff;
  font-weight: bold;
}

/*
.modal-lg
{
  width: 1000px;
}*/

#mce_45 {
  width: 100% !important;
}

video.img-thumbnail, canvas.img-thumbnail{
  height: 300px !important;
}

.breadcrumb>.active {
  color: #504A4A;
  font-weight: bold;
  width: 100%;
}

.main-tab {
  border-top: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.btn-warning {
  color: #fff !important;
  background-color: #D16516 !important;
  border-color: #AD6B0D !important;
}
.btn-warning:hover{
  color: #256610 !important;
  background-color: #fff !important;
  border-color: #24B824 !important;
}

.note-list{
  padding-top:10px;
  padding-bottom:10px;
  background: #EDEDED;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
   border-radius: 5px;
}
.attachment-title{
  font-weight:bold;
  color:#4B6D8C;
  text-decoration:none !important;
}

.highlight > td {
  background: #f5f5f5;
}

.modal-header
{
  background-color: rgb(115, 125, 134) !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

thead.colored {
  background: rgb(89, 92, 94) !important;
  color: #fff;
  font-weight: normal !important;
  border-top-right-radius: 5px !important;
}

.text-right {
  float: right;
  display: inline;
  text-align: right;
}
label{
  font-weight: normal;
}
.repo-name {
  font-size: 12px;
  font-weight: normal;
}

.pointer {
  cursor: pointer !important;
}

.custom-panel{
/*
  background-color: #FCFBFB;*/
}
.simple-firstname {
  margin-bottom: -20px;
}

.btn-simple {
  padding: 0 10px !important;
}
.divider {
border-bottom: #ccc dashed 1px;
}

/* Eunice INSETS*/
.form-horizontal .control-label{
  text-align: left;
}
.dataTable > tbody > tr {
  cursor: pointer;
}

#bs-example-navbar-collapse-1 {
/*  max-height: 515px !important;*/
}

h3.title {
  margin-top: 0px;
  padding-left: 0;
  margin-left: 30px;
  text-decoration: underline;
}

.no-effect {
  min-height: 0 !important;
}

a.list-heading {
  font-size: 25px;
  text-decoration: none;
  color: #242424;
  padding: 20px 35px !important;
}

.side-bar > li > a {
  padding-left: 30px;
}

.custom-container{
  background-color: #FCFBFB;
  border:solid 1px #D2D2D2;
    -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:30px;
}

.padded-25{
  padding-left:25px;
  padding-right:25px
}

.padded-15{
  padding-left:15px;
  padding-right:15px;
}

.padded-bottom{
  padding-bottom:20px;
}
.padded-bottom-15{
  padding-bottom:15px;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f8f8f8;
  text-align: right !important;
  float: right !important;
  margin-right: -35px;
}

.content {
  background-color: #fff;
  margin-top: 1px;
}

.nav>li>a.pill-list-heading:hover, .nav>li>a.pill-list-heading:focus {
  background: #f8f8f8 !important;
}
.nav-pills.sub-nav>li>a{
  border-radius: 0px;
}
.nav> li > a {
  color: #777;
}

.nav.nav-pills.sub-nav> li > a {
  color: #777;
  padding-top: 25px;
  padding-bottom: 30px;
}
.nav-pills>li.active>a {
  background-color: #e5e6e6 !important;
  border-radius: 0px !important;
  color: #534F4F !important;
}
.side-bar {
  background-color: #e5e6e6;
  margin-top: -20px;
  max-height: 500px;
}

.side-bar > li.active {
  background-color: #e6383e !important;
}

.side-bar > li.active a {
  background-color: #e6383e !important;
  color: #fff;
}

.main {
/*  text-transform: uppercase;*/
}
.submain {
font-size: 14px;
}
input.small {
  width: 70px;
}
.sub-nav {
  height: 75px;
/*  padding-top: 15px;*/

}
.pill-list-heading {
  color: #000 !important;
  font-weight: bold;
}
.sub-nav-container{
  background-color: #f8f8f8;
  margin-top: -20px;
}

#snap-container {
  float: center;
  text-align: center;
  margin: 10px 0px 0px !important;
}
.inline {
  display: inline;
}
.table_list {
  cursor: pointer;
}
.search-div label {
  width: 50%;
  float: right;
}
.dataTables_paginate ul.pagination {
  float: right;
}

/* END INSETS*/

.main-content{
  max-width: 100%;
}
h6{
  color: #fff;
}
.headbg{
  background: url("../images/head_bg.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  min-height: 100%;
}
.wrap{
  display: block;
  min-height: 100%;
   height: auto;
   margin: 0 auto -61px;
/*   padding: 0 0 60px;*/
}
.header{
  background: url("../images/header.jpg") no-repeat scroll 0 0 / auto rgba(0, 0, 0, 0);
  height: 125px;
  background-size: 100% 100%;
}
.login .footer{
  width: 100%;
  height: 70px;
  bottom: 0px;
  position: relative;
  margin-top: -75px;
  background: url("../images/head_bg.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}

/************************ login2 ******/

body.login2{
  background: url("../images/loginBG.jpg") repeat scroll 0 0 /  auto rgba(0, 0, 0, 0);
}
.login2 .footer{
  width: 100%;
  height: 70px;
  bottom: 0px;
  position: relative;
  margin-top: -75px;
  background: url("../images/head_bg.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}

.login2 .headbg, .stairsBG{
  min-height: 100%;
}
/************************ login3 ******/


/************************ login3 ******/
.colored > td {
  background: rgb(118, 119, 121) !important;
  color: #fff;
  font-weight: normal;
}
.search-input {
  width: 100% !important;
}
body.login3 {
    background-image: url("../images/bg1.jpg");
    background-size: 100% auto;
}
body.login3 .login-holder{
  background: url("../images/loginBG.jpg");
  box-shadow: 0px 3px 9px 2px;
}
.login3 .headbg{
  background: none !important;
}
/************************ login3 ******/
.block-title {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.footer{
  /*background: url("../images/bkg.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);*/
  min-height: 60px;
  clear: both;
  width: 100%;
}
.nav > li > a > img{
  max-width: 30px;
}
.simpleBTN > li{
  display: block;
}
.simpleBTN > li a {
transition: background-color 0.5s ease;
background: none repeat scroll 0 0 #F7E6D2;
/*background: #692F11;*/ /* Old browsers */ /*#cb8220 #B67216*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiODIyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTM1MDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
*//*background: -moz-linear-gradient(top,  #cb8220 0%, #493508 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb8220), color-stop(100%,#493508));*/ /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #cb8220 0%,#493508 100%);*/ /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #cb8220 0%,#493508 100%);*/ /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #cb8220 0%,#493508 100%);*/ /* IE10+ */
/*background: linear-gradient(to bottom,  #cb8220 0%,#493508 100%);*/ /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb8220', endColorstr='#493508',GradientType=0 );*/ /* IE6-8 */
/*border-bottom: #AD6161 3px solid;*/
border-bottom:2px solid #B1A6A6;
    /*border-radius: 8px;*/
    border-radius: 4px;
    /*color: #FFFFFF;*/
    color:#333;
    margin-bottom: 10px;
    padding: 10px 25px;
    text-align: left;

/*    padding: 10px;
    text-align: center;*/
}
.simpleBTN > li a:hover, .simpleBTN > li a:focus, .simpleBTN > li a:active, .simpleBTN > li.active a{

}
.simpleBTN > li a:hover, .simpleBTN > li a:focus, .simpleBTN > li a:active, .simpleBTN > li.active a {

/*background: #DC1A22; /* Old browsers */
background: none repeat scroll 0 0 #595C5E !important;
color:#FFFFFF;
  }
.simpleBTN > li a i.glyphicon{
  margin-right: 5px;
}

.subNavigation .simpleBTN > li a {
/*    background: #F7E6D2;
    transition: background-color 0.3s ease;*/
/*    border-bottom: 1px dashed #fff;*/
/*    border-radius: 0;
    color: #333333;
    margin: 0;
    text-align: left;*/

    background: #F7E6D2;
transition: background-color 0.3s ease;
border-bottom: 2px solid #B1A6A6;
border-radius: 0;
color: #333333;
text-align: left;
border-radius: 4px;
}

.subNavigation .simpleBTN > li a:hover, .subNavigation .simpleBTN > li.active a {
    background: rgb(89, 92, 94) !important; /*#333*/
    color: #fff;
  }
.navbar-default .navbar-nav > li > a{
  padding: 10px 25px;
}
nav.navbar {
  background-color:#000000;
  border-top: 2px solid #53230d;

/*  border-top:1px solid #FFFFFF;*/
/*  background-color: #2B1E0D;*/
/*border-top: 2px solid #585252;*/
   /* background: url("../images/navBG.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);*/
/*  background-color: #3f1c0a;
  border-top: #823b12 2px solid;*/

}
.up-cont {
  height: 10px;
}
.remove-append {
  margin-left: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: none;
  color: #fff;
  text-decoration: underline;
}
.greyBg{
  background: #c0c0c0;
}
.blur{
   background: url("../images/blur.png") repeat scroll 0 0 /  auto rgba(0, 0, 0, 0);
}
.noPadding{
  padding: 0 !important;
}
.padding1{
  padding: 10px;
}
.clear{
  clear: both;
  min-height: 10px;
  width: 100%;
}
.login-holder{
  margin: 0 auto;
  padding: 50px 40px;
  max-width: 550px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  top: 210px;
}
.login-holder .logo{
  clear: both;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.login-holder .logo img{
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}
form .userName{
  background:  url("../images/login3.png") no-repeat scroll 0 0 /  auto rgba(0, 0, 0, 0);
  height: 50px;
  width: 100%;
  max-width: 400px;
  float: left;
  padding: 3px 5px;
   margin-left: 60px;
}
form .passW{
  background:  url("../images/login3.png") no-repeat scroll 0 -52px /  auto rgba(0, 0, 0, 0);
  height: 50px;
  width: 100%;
  max-width: 400px;
  float: left;
  padding: 8px 5px;
  margin-top: 8px;
  margin-left: 60px;
}

.gap{

  width: 100%;
  display: inline-block;
  height: 100px;
}
form .passW:hover, form .passW:focus, form .passW:active{
  background:  url("../images/login3_hover.png") no-repeat scroll 0px -53px /  auto rgba(0, 0, 0, 0);
}
form .userName:hover, form .userName:focus, form .userName:active{
  background:  url("../images/login3_hover.png") no-repeat scroll 0px -0px /  auto rgba(0, 0, 0, 0);
}
.login-holder input.form-control, .login-holder input.form-control:focus, .login-holder input.form-control:hover{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
    border: 0 !important;
    box-shadow: none !important;
}
.stairsBG{
  background:  url("../images/stairs.png") no-repeat scroll center right /  auto rgba(0, 0, 0, 0);
  width: 1200px;
  min-height: 100%;
  height: 770px;
  margin: 0 auto;
}
.login_btn {
    background: none repeat scroll 0 0 #D16516;
    border: medium none;
    border-radius: 50px !important;
    display: block;
    height: 70px;
    position: absolute;
    right: 30px;
    top: 162px;
    width: 70px;
    font-size: 35px !important;
    color: #48250c;
}
.login_btn:hover, .login_btn:focus{
 background: none repeat scroll 0 0 #fff;
 color: #D16516;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: #fff;
  text-decoration: underline;
}
.marginTop1{
  margin-top: 10px;
}
.marginTop2{
  margin-top: 30px;
}
.marginTop3{
  margin-top: 50px;
}
.marginTop4{
  margin-top: 80px;
}
.marginTop5{
  margin-top: 100px;
}
.marginTop6{
  margin-top: 150px;
}


.marginLeft1{
  margin-left: 10px;
}
.marginLeft2{
  margin-left: 30px;
}
.marginLeft3{
  margin-left: 50px;
}
.marginLeft4{
  margin-left: 80px;
}
.marginLeft4{
  margin-left: 100px;
}
.marginLeft4{
  margin-left: 150px;
}
.marginLeft{
  margin-left: 200px;
}

.marginRight1{
  margin-right: 10px;
}
.marginRight2{
  margin-right: 20px;
}
.marginRight3{
  margin-right: 30px;
}
.marginRight4{
  margin-right: 50px;
}
.marginRight5{
  margin-right: 100px;
}
/*.col-lg-2.subNavigation {
width: 175px;
}  */
.sideBarLeft {
/*    max-width: 260px;*/
}
.col-lg-6  .img-thumbnail{
  width: 100%;
  height: 100%;
  max-height: 480px;
}

.indent {
  margin-left: 30px;
}

.right {
  text-align: right;
}
.right > label {
  float: right;
}
.noBorder tr td, .noBorder tr{
  border: 0 !important;
}
.admin-save{
  background-color:#428bca !important;
  border-color:#357ebd !important;
  color:#FFFFFF !important;
}

.admin-save:hover{
  background-color:#3276b1 !important;
  border-color:#285e8e !important;
  color:#FFFFFF !important;
}

.view-timesheet{
  background-color:#428bca !important;
  border-color:#357ebd !important;
  color:#FFFFFF !important;
}

.view-timesheet:hover{
  background-color:#3276b1 !important;
  border-color:#285e8e !important;
  color:#FFFFFF !important;
}



    /********************* Kindle landscape · width: 1024px **********************/
    @media only screen and (max-width: 1024px){

.navbar-nav > li{
  width: 20%;
  text-align: center;
}
      #map-canvas {
        width: 635px !important;
        height: 500px;
        float: right;
      }
    }
    /********************* Kindle portrait · width: 600px **********************/
    @media only screen and (max-width: 600px){


      #map-canvas {
      width: 457px !important;
      height: 500px;
      float: right;
      }
      #img-preview, #img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, #img-cptre > canvas{
        width: 95%;
      }
            .buffer
      {
        height:350px !important;
      }

    }
    /********************* iPad portrait · width: 768px **********************/
    @media only screen and (max-width: 768px){

      #img-preview, #img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, #img-cptre > canvas{
        width: 95%;
      }
      .buffer
      {
        height:350px !important;
      }
      .navbar-collapse{
        width: 100%;
        background: #222;
      }
      .navbar-nav > li{
        width: 100%;
        text-align: left;
      }
      .nav-tabs > li{
        width: 40%;
        text-align: center;
      }

      .clock_in
      {
        width: 100%;
        height: 50px;
        margin:10px 0;
      }

      .clock_out, .status-name, .capture, .start, .material_usage, .job-clockout, .job-clockin, .variation
      {
        width: 100%;
        height: 50px;
        margin:10px 0;
      }
      .search-div{
        width: 100%;
      }
      #Date
      {
        text-align: center;
      }

      ul.time li{
         font-size: 3em !important;
      }

      #greetings
      {

      }

      .task-subtitle{
        font-size: 18px;
      }

    }
    /********************* Android (Nexus 4) portrait · width: 384px**********************/
    @media only screen and (max-width: 384px){
      #map-canvas {
        width: 265px !important;
        height: 500px;
        float: right;
      }
      #img-preview, #img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, #img-cptre > canvas{
        width: 100%;
      }

      #newSignature{
        border: 0px !important;
      }

      #preview, #saveSignature{
        width: 240px;
      }
    }
    /********************* iPhone 5 landscape · width: 568px **********************/
    @media only screen and (max-width: 568px){
      #map-canvas {
        width: 265px !important;
        height: 500px;
        float: right;
      }
        a.list-group-item .list-group-item-heading {
        color: #333;
        padding: 10px 0;
        }
      #img-preview, #img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, #img-cptre > canvas{
        width: 94%;
      }
      .buffer
      {
        height:350px !important;
      }
    }
    /********************* iPhone 3+4 landscape · width: 480px **********************/
    @media only screen and (max-width: 480px){

      a.list-group-item .list-group-item-heading {
        color: #333;
        padding: 10px 0;
        }
        div#DataTables_Table_0_filter >label {
          width: 100%;
        }
      video#video-storage {
      height: 100% !important;
      }
      #map-canvas {
        width: 250px !important;
        height: 500px;
        float: right;
      }

      .btn-lg, .btn-group-lg>.btn{
      font-size: 14px !important;
      }
      #Date {
        font-size: 20px !important;
      }

    #greetings {
    font-size: 30px;
    }
    .nav-tabs > li {
      width: 50%;
      text-align: center;
      }
      div#DataTables_Table_0_filter >label {
      width: 100%;
      }

      #img-preview, ##img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, ##img-cptre > canvas{
        width: 92%;
      }
        .buffer
      {
        height:350px !important;
      }
    }
    /********************* iPhone 3+4 portrait · width: 320px **********************/
    @media only screen and (max-width: 320px){
      #img-preview, #img-cptre{
        position: absolute !important;
        margin-top: 80px !important;
        width: 100%;
      }
      #img-preview, #img-cptre > canvas{
        width: 90%;
        height: 200px !important;
      }

      .buffer
      {
        height:250px !important;
      }
      a.list-group-item .list-group-item-heading {
        color: #333;
        padding: 10px 0;
        }
        div#DataTables_Table_0_filter >label {
        width: 100%;
        }

      video#video-storage {
      height: 100% !important;
      }
    .btn-lg, .btn-group-lg>.btn{
      font-size: 14px !important;
    }
    #Date {

    font-size: 20px !important;
    }
    .nav-tabs > li {
      width: 50%;
      text-align: center;
      }
      .nav-tabs > li > a{
        padding: 10px !important;
      }
    #greetings {
      font-size: 30px;
    }
    .task-subtitle{
      text-align: center;
    }

    .task-subtitle > span{
      padding: 10px !important;
      float: center !important;
    }

    }

    @media print {
      .main-tab, .table-responsive {
      border: 0px !important;
      }

      .table-responsive{
        overflow: hidden !important;
      }

      .search-div{
        display: none !important;
      }
    }
