<!-- full calendar JS -->
<script src='<?php echo base_url();?>Calendar/assets/js/fullcalendar/lib/moment.min.js'></script>
<script src='<?php echo base_url();?>Calendar/assets/js/fullcalendar/fullcalendar.min.js'></script>
<script src="<?php echo base_url();?>Calendar/assets/js/calendar.js" type="module"></script>


<!-- multiselect dropdoen bootstrap -->
<script src="<?php echo base_url();?>Calendar/assets/js/select2.full.js"></script>
<script src="<?php echo base_url();?>Calendar/assets/js/stopwatch.js"></script>
<link rel="stylesheet" href="<?php echo base_url();?>Calendar/assets/css/select2.min.css">
<link rel="stylesheet" href="<?php echo base_url();?>Calendar/assets/css/stopwatch.css">

<!-- full calendar styles -->
<link href='<?php echo base_url();?>Calendar/assets/js/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='<?php echo base_url();?>Calendar/assets/js/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<link href='<?php echo base_url();?>Calendar/assets/css/bsit_calendar.css' rel='stylesheet' type='text/css' />


<style type="text/css">
	#commit-event-startevent {
		display: none;
	}
</style>

<div class="fc fc-unthemed fc-ltr bsit_cal_day_sticky bsit_cal_date_day">
	<div class="fc-view-container" style="">
		<div class="fc-view fc-agendaWeek-view fc-agenda-view">
			<table id="bsit_cal_week_day"> </table>
 		</div>
	</div>
	<!-- <div class="bsit_cal_sch_event_block ">
		<div id="bsit_cal_schedules_event"></div>
		<hr class="fc-divider fc-widget-header">
	</div> -->
</div>


<div id="calendarMainArea">

	<!-- remove by kevin -->

  <!-- <div id="calendarHeader">
    <form class="bsit_form bsit_statusdiv" style="float: left; z-index: 9; ">
      <div class="bsit_cal_user_name mui-select bsit_form ">
      <label>User:</label>
      <select id="jobOwnerSelectDropdown" >
        <?php foreach ($curlDataUsr as $user): ?>
        <?php
					$selected = "";
					if ($userid == $user->UserID){
						$selected = " selected ";
					}
				?>
        <option value="<?php echo($user->UserID)?>" <?php echo($selected)?>> <?php echo($user->FirstName." ".$user->LastName." - ".$user->Nickname)?> </option>
        <?php endforeach; ?>
      </select>
  </div>
    </form>



  </div> -->

  <div class="event-watch-main">
    <div id="event-div">
    	 <div id="job_event_name"></div><span> - </span>
      	<div id="job_event_title"></div>
     </div>

      <div id="stop-watch">
        <div id="display">
            00:00:00
        </div>
        <div class="btn-main">

                 <a class="btn-1 mui-btn mui-btn--primary" date="<?php echo date('Y-m-d');?>" event_id=""  id="startStop" style="cursor: pointer;" onclick="startStop()" target="_blank">
                    Start
                </a>
                <!-- <a class="btn-1 mui-btn mui-btn--primary" id="Reset" style="cursor: pointer;" onclick="reset()">
                    Reset
                </a> -->

        </div>

    </div>
    </div>


  <div id="calendarBody" style="height: 100%">
    <div id='calendar'></div>
  </div>
  <div id="calendarFooter"></div>
</div>

<!-- MODALS -->
<div id="eventContent" class="modal fade in bsit_cal_popup" style="width:99%; min-width:200px; margin:auto; margin-top:10px; margin-bottom:10px; overflow:auto;">

	<div class="mui-panel " style="margin-bottom:0;min-height: 100%;">

	<div class="event_content_header bsit_form">

	<div class="mui-row" style="border-bottom: 1px solid #e4e3e3;">

		<div class="mui-col-md-1" id="close_button">
			<button data-dismiss="modal" style="fill: white; padding: 0.6rem;" class="mui-btn mui-btn--small mui-btn--fab mui-btn--accent bsit_form_close_btn">
				<svg viewBox="0 0 24 24" class=""><path fill="#000000" d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path fill="none" d="M0 0h24v24h-24z"/></svg>
			</button>
		</div>

		<div class="mui-col-md-5" style="padding-left: 0;">
			<form class="bsit_form">
			  <div class="mui-textfield">
				<!--<label>Event Date Time</label>-->
				<div id="dateTimeSelector" style="display:flex; flex-wrap: wrap;">
				  <div> <span>From:</span>
					<input name="fromDate" id="fromDateSelector" class="datepicker" style="width:120px;">
					-
					<input name="fromTime" id="fromTimeSelector" class="timepicker" style="width:70px;"/>
				  </div>
				  <div> <span>To:</span>
					<input name="toDate" id="toDateSelector" class="datepicker" style="width:120px;">
					-
					<input name="toTime" id="toTimeSelector" class="timepicker" style="width:70px;"/>
				  </div>
				  <div>
					<div id="event_duration"></div>
				  </div>
				</div>
			  </div>
			</form>
		</div>

		<div class="mui-col-md-2 eventtypediv bsit_statusdiv">
			<div class="mui-select mui-textfield" tabindex="-1">
				<label>Event Type</label>
				<select name="Type" id="eventType" tabindex="0" style="margin-top: 0;min-height: 48px;">
					<option value="actual">Actual</option>
					<option value="actual-nonbillable">Actual - Non billable</option>
					<option value="planned">Planned</option>
					<option value="allday">All Day</option>
				<!--	<option value="material">Material</option>-->
					<option value="deleted">Deleted</option>
				</select>
			</div>
		</div>
		<div class="mui-col-md-3 worktypediv bsit_statusdiv">
		   <div class="mui-select mui-textfield" tabindex="-1">
			<label>Work Type</label>
			<select name="WorkTypeId" id="selectWorkTypeId" tabindex="0" style="margin-top: 0;min-height: 48px;">
			  <?php foreach ($curlDataWorkType as $wt): ?>
			  <?php
			   $selected1 = "";
				if ($userid==$user->UserID)
				{
					if($user->_id == $wt->_id)
					{
						$selected1 = " selected ";
					}
				}
				?>
			  <option value="<?php echo($wt->_id)?>" <?php echo($selected1)?>> <?php echo($wt->name)?> </option>
			  <?php endforeach; ?>
			</select>
		  </div>
		</div>

		<div class="mui-col-md-1">
			<div style="text-align:right;" id="submit_button">
			  <button id="commit-event-addedit"  is_event_started = 0 class="commit-event-addedit mui-btn mui-btn--primary">Save</button>
			  <button id="commit-event-startevent" is_event_started = 1 class="commit-event-addedit mui-btn mui-btn--primary" style="margin-left: 0px;">Start</button>
			</div>
		</div>
	</div><!-- /.mui-row -->

	<form id="addEditEventForm" data-collid="15">
	<input type="hidden" name="total_active_event" id="total_active_event" value=""/>
		<input type="hidden" name="key_id" id="key_id" value=""/>
		<input type="hidden" name="StartDateTime"  id="startTime" value="" />
		<input type="hidden" name="EndDateTime" id="endTime" value="" />
		<input type="hidden" name="ownerId" id="eventOwner" value="" />


		<div id="completeCheckbox" class="mui-checkbox" style="margin-bottom: 20px;">
		<label class="bsit_check">
			<input type="checkbox" id="checkbox-checked" name="is_active">
			Display Complete Jobs
			<span class="bsit_checkmark"></span>
		</label>

		<label class="bsit_check">
			<input type="checkbox" id="job-checkbox-checked" name="is_active" checked>
			Hide MSP Jobs
			<span class="bsit_checkmark"></span>
		</label>

		<label class="bsit_check">
			<input type="checkbox" id="checkbox-opportunities" name="is_active">
			Display Opportunities
			<span class="bsit_checkmark"></span>
		</label>

	</div>



	  <div id="filtersSearch" class="mui-col-md-4 mui-col-xs-12" style="position: relative;">

			<div id="filtersClearSearch" style="display: none;">
				<meta name="msapplication-TileImage" content="<?php echo base_url();?>assets/core/images/ic_close_24px.svg">
				<img src="<?php echo base_url();?>assets/core/images/ic_close_24px.svg"/>
			</div>

			<!-- <div id="advancedSearchDropArrow" class="bsit_dropdoen_img">
				<img id="advancedSearchDownImg" src="<?php echo base_url();?>assets/core/images/ic_arrow_down_24px.svg"/>
				<img id="advancedSearchUpImg" style="display: none;" src="<?php echo base_url();?>assets/core/images/ic_arrow_up_24px.svg"/>
			</div> -->

			<div id="filtersDimList" class="bsit_dropdoen_img bsit_schedules_search_icon">
					<img src="<?php echo base_url();?>assets/core/images/ic_search_black_24dp.png" />
			</div>

			<div class="mui-textfield ui-front job_sel bsit_form bsit_schedules_search_text_box" id="job_sel" >
				<label style="margin-left: 0; padding-left: 0;">Search</label>
				<input type="hidden" id="sel_job_id" value="">
				<input name="jobId" class="" id="job_title" type="text" value="" data-coll="1" data-columns="['jobId','name','CustName','CustomerID','Status','ParentJobID']" data-modalid="eventContent" placeholder="Search..."  style="padding-left: 40px;"/>
			</div>

	</div>

		<!-- remove by kevin -->
	<!-- <div id="completeCheckbox" class="mui-checkbox">
		<label class="bsit_check">
			<input type="checkbox" id="checkbox-checked" name="is_active">
			Display Complete Jobs
			<span class="bsit_checkmark"></span>
		</label>

		<label class="bsit_check">
			<input type="checkbox" id="job-checkbox-checked" name="is_active" checked>
			Hide MSP Jobs
			<span class="bsit_checkmark"></span>
		</label>

		<label class="bsit_check">
			<input type="checkbox" id="checkbox-opportunities" name="is_active">
			Display Opportunities
			<span class="bsit_checkmark"></span>
		</label>

	</div> -->
		<div id="advancedSearch" class="mui-col-md-8 mui-col-xs-12 bsit_schedules_advancedSearchDropArrow">
		  <div class="mui-row">
			  <div class="mui-col-md-6 bsit_statusdiv bsit_form mui-col-xs-12">
				  <!--<div class="mui-select" tabindex="-1">
						<label>Customer</label>
						<select name="orgsId" id="selectEventCustomerId" tabindex="0">
							<option value=""></option>
							<?php foreach($curlDataCust as $cust){ ?>
							<option value="<?php echo($cust->_id)?>"><?php echo($cust->name)?></option>
							<?php } ?>
						</select>
				  </div>
			  </div>-->

			  <div class="mui-textfield ui-front bsit_form" id="customer_job_sel">
						<label style="margin-left: 0; padding-left: 0;">Customer</label>
						<input type="hidden" id="selectEventCustomerId"  value="">
						<input name="CustomerID" class="autoCompColl1 autoCompColl_cust_job" id="cust_job_title" type="text" value="" data-returnpropname="_id" data-coll="12" data-columns="['_id','name']" data-modalid="eventContent"/>
				  </div>

				 </div>

			  <div class="mui-col-md-6 mui-col-xs-12">
				  <div class="mui-textfield ui-front bsit_form" id="parent_job_sel">
						<label style="margin-left: 0; padding-left: 0;">Project</label>
						<input type="hidden" id="sel_parent_job_id"  value="">
						<input name="ParentJobID" class="autoCompColl1 autoCompColl_parent_job" id="parent_job_title" type="text" value="" data-returnpropname="ParentJobID" data-coll="1" data-columns="['jobId','name','CustName','CustomerID']" data-modalid="eventContent"/>
				  </div>
			  </div>
		  </div>
	  </div>
	</div><!-- /.event_content_header -->


	<div class="event_content_body">

		<div class="mui-row">
						<!-- <div class="mui-col-xs-6 mui-col-md-6 mui-col-lg-12 bsit_form_titel" style="margin: auto; width: 100%; text-align: center; text-decoration: underline; padding-top: 10px;">
				<b>Your recent jobs / Search results</b>
			</div> -->
			<!--<div class="mui-col-xs-6 mui-col-md-6 mui-col-lg-6" style="margin: auto; width: 50%; text-align: center; text-decoration: underline; padding-top: 10px;">
				<b>New Jobs</b>
			</div>-->
		</div>

		<div class="job_list_main_div mui-row" id="all_job_list" style="">

			<div class="cust_back_color mui-col-xs-12 mui-col-md-12 mui-col-lg-12" id="job_list" style="margin-left: -5px;">
			</div>

			<!--<div class="cust_back_color mui-col-xs-6 mui-col-md-6 mui-col-lg-6" id="recent_jobs" style="margin-left: 5px;">

			</div>-->

			<div id="add_job_box">
				<div class="mui-btn mui-btn--fab mui-btn--primary" style="display:none;">+</div>
			</div>

			<div class="job_card_loader" style="display:none;">
				<div class="mdl-spinner mdl-js-spinner is-active material_loder"></div>
			</div>

		</div>

	</div><!--/.event_content_body -->

	<div class="event_content_footer">

	  <div class="mui-row">
		<div class="mui-col-md-5 statusdiv bsit_form bsit_statusdiv" style="margin-top: 15px;">
			 <!-- <div class="mui-textfield" style="margin-bottom: 0px;margin-top: 0px;"><label style="margin-top: 7px;">Status</label></div> -->
			 <div class="mui-select mui-textfield">
			 	<label>Status</label>
				<select name="Status" id="status" style="margin-top: 0; min-height: 48px;">
					<option value=""></option>
				</select>
			 </div>
		</div>
		<div class="mui-col-md-7">
		  <div class="mui-textfield bsit_form" style="margin-top: 15px;">
				<input type="text" name="Description" id="description" placeholder="Invoice Notes..." /><!--style="margin-top: 9px;"-->
				<label>Invoice Notes</label>
		  </div>
		</div>
	</div>

	  <!-- ---------- [START] TaskId-2(Add new job from event screen)->17-Nov-2016 ---------- -->
	<div class="mui-row">
		<div id="eventMaterialCosts" style="display:none;">

			<div class="mui-textfield mui-col-md-6">
				<input type="text" name="MaterialCost" id="MaterialCost" />
				<label>Material Price Paid</label>
			</div>

			<div class="mui-textfield mui-col-md-6">
				<input type="text" name="MaterialChargePrice" id="MaterialChargePrice" />
				<label>Material Customer Charge</label>
			</div>
		</div>
	</div>

	<div class="mui-row mui-col-md-12 event_content_footer2">
		<div class="mui-textfield bsit_form">
			<input type="text" name="InternalNotes" id="internal_notes"  placeholder="Internal Notes..." />
			<label>Internal Notes</label>
		</div>
	</div>

</div><!-- /.event_content_footer -->

<div class="mui-row mui-col-md-12 bsit_statusdiv">
	<div class="mui-select1 bsit_form mui-textfield" tabindex="-1" id="shared_event_div">
		<label>Shared Users</label>
		<select name="shared_user" id="shared_user_id" class="js-example-basic-multiple shared_user_selected" multiple="multiple">
		<?php foreach ($curlDataUsr as $user): ?>
		<?php if($userid!=$user->UserID){ ?>
				<option value="<?php echo($user->UserID)?>" >
					<?php echo($user->FirstName." ".$user->LastName." - ".$user->Nickname)?>
				</option>
		<?php } ?>
        <?php endforeach; ?>
		</select>
	  </div>
	  </div>

		<div class="mui-row mui-col-md-12 job_card_loader1" style="display:none;">
			Loading Data....
		</div>

	</form>

  </div><!-- / .mui-panel -->

	<div class="loader" style="display:none;">
		<div class="mdl-spinner mdl-js-spinner is-active material_loder"></div>
	</div>

</div> <!-- /.eventContent -->


<div id="jobContent" class="modal fade in" style="width:80%; min-width:200px; margin:auto; margin-top:20px; margin-bottom:20px; overflow:auto;z-index: 99999;">

	<div class="mui-panel " style="margin-bottom:0;">
		<div class="mui-row">
			<div class="mui-col-md-6">
				<h2 class="margin_0"> Add </h2>
			</div>
			<div class="mui-col-md-6">
				<button class="mui-btn mui-btn--small mui-btn--fab mui-btn--accent margin_0" id="job_close_button" style="fill: white; float:right; padding: 0.6rem;" data-dismiss="modal">
					<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path><path d="M0 0h24v24h-24z" fill="none"></path></svg>
				</button>
			</div>
		</div>
		<hr/>

		<form id="jobForm" data-collid="1">

			<div class="mui-row">
				<div class="mui-col-md-6">
					<div class="mui-select" tabindex="-1">
						<label>Customer</label>
						<select name="job_orgsId" id="job_selectEventCustomerId" tabindex="0" required="required">
						  <option value=""></option>
						  <?php foreach($curlDataCust as $cust){ ?>
						  <option iscolor='<?php echo($cust->DefaultEventColor)?>' value="<?php echo($cust->_id)?>"><?php echo($cust->name)?></option>
						  <?php } ?>
						</select>
					</div>
				</div>
				<div class="mui-col-md-6">
					<div class="mui-textfield ui-front" id="job_parent_job_sel" style="margin-top: 25px;">
						<label>Project</label>
						<input type="hidden" id="job_sel_parent_job_id">
						<input name="job_ParentJobID" class="autoCompColl job_autoCompColl_parent_job" id="job_parent_job_title" type="text" required="required" value="" data-jobreturnpropname="ParentJobID" data-jobcoll="1" data-jobcolumns="['jobId','name','CustName','CustomerID']" data-modalid="jobContent"/>
					</div>
				</div>
			</div>

			<div class="mui-row">
				<div class="mui-col-md-6">
					<div class="mui-textfield">
						<label class="margin_top_15">Cust Ref #</label>
						<input type="text" name="job_CustRefNum" id="job_CustRefNum" class="mui--is-empty" style="margin-top: 24px;">
					</div>
				</div>
				<div class="mui-col-md-6 bsit_statusdiv">
					<!-- <div class="mui-textfield" style="margin-bottom: 0px;margin-top: 9px;"> -->
					<!-- </div> -->
					<div class="mui-selectc mui-textfield">
						<label>Status</label>
						<select name="job_Status" id="job_status" required="required">
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>

			<div class="mui-row">
				<div class="mui-col-md-4">
					<div class="mui-textfield">
						<label class="margin_top_15">Estimate Hours</label>
						<input type="text" name="job_EstDurationHrs" id="job_EstDurationHrs" class="mui--is-empty margin_top_25">
					</div>
				</div>
				<div class="mui-col-md-4">
					<div class="mui-select">
						<label>Work Type</label>
						<select name="job_workflow_id" id="job_selectWorkTypeId" tabindex="0" disabled>
						  <option value=""></option>
						  <?php foreach ($curlDataWorkType as $wt): ?>
						  <?php
						   $selected1 = "";
							if ($userid==$user->UserID)
							{
								if($user->_id == $wt->_id)
								{
									$selected1 = " selected ";
								}
							}
							?>
						  <option value="<?php echo($wt->_id)?>" <?php echo($selected1)?>> <?php echo($wt->name)?> </option>
						  <?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="mui-col-md-4">
					<div class="mui-select" tabindex="-1">
						<label>Priority</label>
						<select name="job_Priority" id="job_Priority">
							<option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
						</select>
					</div>
				</div>
			</div>

			<div class="mui-col-md-12">
				<div class="mui-textfield">
					<input type="text" name="job_title" id="job_name"  class="mui--is-empty" required="required">
					<label>Job Title</label>
				</div>
			</div>

			<div class="mui-col-md-12">
				<div class="mui-textfield">
					<textarea name="job_desc" id="job_desc" class="mui--is-empty"></textarea>
					<label>Job Description</label>
				</div>
			</div>

			<div class="mui-col-md-12">
				<div class="mui-textfield">
					<input type="text" name="job_InternalNotes" id="job_InternalNotes" class="mui--is-empty">
					<label>Internal Notes</label>
				</div>
			</div>

			<div class="mui-row">
				<div class="mui-col-md-6">
					<div class="mui-textfield" style="margin-bottom: 0px;"><label>Job Terms</label></div>
					<div class="mui-select" tabindex="-1">
						<select name="job_TermsCode" id="job_TermsCode" >
						<option value="Bill">Hourly Billable Work</option><option value="NB">Not Billable</option><option value="QD">Quoted Dollars - Must fill in quote below</option>
						</select>
					</div>
				</div>
				<div class="mui-col-md-6">
					<div class="mui-textfield">
						<input type="text" name="job_QuotedPrice" id="job_QuotedPrice" class="mui--is-empty margin_top_15">
						<label>Quoted Price</label>
					</div>
				</div>
			</div>
		</form>

		<div style="text-align:right;">
			<button id="save_job_data" class="mui-btn mui-btn--flat mui-btn--primary">Add</button>
		</div>
	</div>

</div>


			<!-- container -->
			</div>
    </div>
</html>
