<style type="text/css">
  .input-group.header_search {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
  }
.input-group-append {
    display: flex;
    margin-left: -3px;
  }

  .input-group.header_search .searchData {
    box-shadow: none;
    border: 0;
    border-radius: 6px 0 0 6px;
  }
  .input-group-append .btn-secondary {
    border-right: 0 6px 6px 0;
    background-color: #ffffff;
    color: #000000;
  }
  /*<!-- Search box add css End-->*/

  .input-group.header_search {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    margin-left: -3px;
  }

  .input-group.header_search .searchData {
    box-shadow: none;
    border: 0;
    border-radius: 6px 0 0 6px;
  }
  .input-group-append .btn-secondary {
    border-right: 0 6px 6px 0;
    background-color: #ffffff;
    color: #000000;
    
  }

  .header_search .ui-autocomplete {
  color: #000000;
  text-align: left;
  float: left;
  width: 100% !important;
}

 .header_search .ui-autocomplete li {
  float: left;
  width: 100%;
 }


 .header_search .ui-autocomplete a {
    color: #000000;
  text-align: left;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  float: left;
  width: 100%;
 }

.header_search .ui-autocomplete li.ui-state-focus {
  background: #EEE;
}

 .header_search .ui-autocomplete li.ui-state-focus a {
  color: #000000
 }
 .header_search .ui-autocomplete a span {
  float: left;
  width: 100%;
  margin-top: 5px;
  color: #757575;
  font-size: 14px;
 }

#filtersContainer{
    position:relative;
  }
  #filterSearchResultsLisData li.filterSearchResultLi{
    padding-left:75px;
    cursor:pointer;
    color: #000000;
  }
#filterSearchResultsData{
    background-color:#FFFFFF;
    clear:both;
     color: #000000 !important;
    position:absolute;  
    top: 39px;
    left: 0px;  
    width:100%;
    margin:0px 0px 8px 0px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.2);
    padding: 0px;
    border: none;
    border-radius: 0px 0px 2px 2px;
    letter-spacing: 0.03em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:100;
    border-top: thin solid #AFAFAF;
    display:none;
  }
  
  .filterSearchResultLi{
    padding:8px 0px;  
  }
  
  #filterSearchResultsListData{
    padding-left:0px;
  }
   
  #filterSearchResultsListData li.filterSearchResultLi:hover{
    background-color:#92CDA7;
  }
  
  #filterSearchResultsListData li.noResult{
    padding:8px 0px 8px 75px;
  }
  
  .secondaryTxt{
    color:#8E8E8E;    
  }
  .dimRemover{
    position:absolute;
    right:4px;
    top:3px;  
  }
  

  #dimSelectedULAll li{
    background-color:#FFFFFF;
    padding:10px;
    margin:4px 8px 4px 0px;
    border: none;
      border-radius: 2px;
    display: inline-block;
    border-left:#FB0004 thick solid;
    position:relative;
        color: #000000 !important;
  }
  
  #dimSelectedULAll li.permfilter{
    border-left:#3200FF thick solid;
  }
  
  #filtersClearSearch{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .dimRemover {
    position: absolute;
    right: 4px;
    top: 3px;
}


.autocontent {
    text-decoration: none;
    font-family: Lato;
    font-size: 12px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #334150;
    white-space: nowrap;
}
span.autotitle {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #334150 !important;
}
span.autoright {
    float: right !important;
    width: 35% !important;
    margin-top: 0px !important;
	font-size: 12px !important;
}
span.autoleft {
    float: left !important;
    width: 50% !important;
	font-size: 12px !important;
    margin-top: 0px !important;
}
.input-group.header_search.ui-front.bsit_header_search .ui-menu-item{
	padding-top:3px !important;
}

  /*<!-- Search box add css End-->*/