
  <style>
    .bsit-page-frame {
      min-height: 81vh;
    }

    #navigation {
      margin: 10px 0;
    }

    @media (max-width: 767px) {

      #title,
      #description {
        display: none;
      }
    }
    #fileuploadDoc .fileinput-button {
    float: left;
    margin-right: 5px;
    background-color: #249af3 !important;
    border-color: #249af3 !important;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.6px;
}
  </style>
  <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/css/sample.css">

  <!-- blueimp Gallery styles -->
  <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/multifileupload/css/blueimp-gallery.min.css" />
  <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
  <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/multifileupload/css/jquery.fileupload.css" />
  <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/multifileupload/css/jquery.fileupload-ui.css" />
<!--   <script src="<?php echo base_url(); ?>core/assets/js/Page.js" type="module"></script>
 -->  <!-- CSS adjustments for browsers with JavaScript disabled -->
  <noscript>
    <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/multifileupload/css/jquery.fileupload-noscript.css" />
  </noscript>
  <noscript>
    <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/multifileupload/css/jquery.fileupload-ui-noscript.css" />
  </noscript>

<div id="bsit-upload-modal" class="modal fade" role="dialog" data-backdrop='static' data-keyboard='false'>
  <div class="modal-dialog bsit_upload_popup" style="height: 100%; width:850px;">
    <div class="modal-content" style="float: left; width: 100%;">
      <div class="modal-header" style="padding-top: 0px; padding-bottom: 0px;">
        <button class="mui-btn mui-btn--small mui-btn--fab mui-btn--accent bsit_form_close_btn"
          style="fill: white; float:right; padding: 0.6rem;" data-dismiss="modal">
          <svg class="" viewBox="0 0 24 24">
            <path fill="#000000"
              d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z">
            </path>
            <path d="M0 0h24v24h-24z" fill="none"></path>
          </svg>
        </button>
        <h2 id="bsit-upload-modal-header" class="bsit_form_titel">Documents - ...</h2>
      </div>
      <div class="modal-body">

    <div class="cola_file_upload_section ">
      <!-- The file upload form used as target for the file upload widget -->
      <form  id="fileuploadDoc" class="mui-form bsit_form"  method="post" enctype="multipart/form-data" >

        <div class="mui-textfield ui-front mui-col-md-12" id="maxFileError" style="display: none;">
          <div class="alert alert-danger" >Maximum number of files exceeded. You can upload maximum 20 files at once.</div>
        </div>
      
      <input type="Hidden" name="_id" class="form-control" id="_id" value="" disabled>
      <input type="hidden" name="old_file_location" class="form-control" id="old_file_location" value="">
      <input type="hidden" name="old_file_size_kb" class="form-control" id="old_file_size_kb" value="">
      <input type="hidden" name="old_file_type" class="form-control" id="old_file_type" value="">
      <input type="hidden" name="old_collection_id" class="form-control" id="old_collection_id" value="">
      <input type="hidden" name="old_row_id" class="form-control" id="old_row_id" value="">
      <input type="hidden" name="collection_id" class="form-control" id="collection_id" value="">
      <input type="hidden" name="row_id" class="form-control" id="row_id" value="">
      <input type="hidden" name="UploadCollectionID" class="form-control" id="UploadCollectionID" value="">
      
      <div id="edit">
        <div class="mui-textfield mui-col-md-6" >
          <input type="text" name="old_file_name" class="mui--is-empty mui--is-dirty" id="old_file_name" value="">
          <label class="active">File Name</label>
        </div>
     </div>


      



      <div class="mui-textfield ui-front mui-col-md-6">
        <input name="document_type_code" class="autoCompCollAdv ui-autocomplete-input mui--is-empty mui--is-dirty" type="text" value="" data-returnpropname="document_type_code" id="document_type_code" data-coll="" data-alias="cv" data-columns="{'ValueProperty':'code_value_code', 'DisplayProperties':['code_value_code'], 'FilterDBCols':['code_value_code'], 'RunOnFocus':'true', 'Functions':{'Focus':'FocusFunc','Type':'TypeFunc'}, 'PermDBFilters':[{'col':'code_type_code','op':' = ', 'value':'DOCUMENTTYPE','type':'STR'}] }" data-modalid="editModel33" autocomplete="">
        <label class="active">Documents Type</label>
      </div>


      <div class="mui-textfield mui-col-md-6" style="display: none;" id="doc_url_div">
        <input type="text" name="doc_url" id="doc_url" value="" class="mui--is-empty mui--is-dirty">
        <label class="active">URL</label>
      </div>

        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div id="imgUploadBox" style="display: block;">
        <div class="fileupload-buttonbar uploadbutton" >
          <div class="col-lg-12 col-xs-12 col-sm-12 " style="float: left;">
            <span style="font-weight: bold;">Maximum upload files limit 20 at once.</span>
            <!-- The fileinput-button span is used to style the file input field as button -->
            <div style="float: left; width: 100%; border: 1px solid #e1e8ee; height: 54px; padding: 10px; border-radius: 4px;">
              <span class="btn btn-success fileinput-button">
                <!-- <i class="glyphicon glyphicon-plus"></i> -->
                <span>Add files...</span>
                <input type="file" name="files" id="fileuploadmultiple" multiple />
              </span>
            </div>
          </div>
          <!-- The global progress state -->
          <div class="col-lg-5 fileupload-progress fade" style="float: left; display: none;">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
          </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <div class="cola_table-responsive">
          <table role="presentation" class="table table-striped">
            <tbody class="files" id="uploadFileCount"></tbody>
          </table>
        </div>
        </div>



        <div class="cola_text_box">
          <div class="mui-textfield mui-col-md-6">
            <input type="text" name="keywords" id="doc_keywords" value="" class="mui--is-empty mui--is-dirty">
            <label class="active">Keywords</label>
          </div>
          <div class="mui-textfield mui-col-md-6">
            <input type="text" name="description" id="doc_description" value="" class="mui--is-empty mui--is-dirty">
            <label class="active">Description</label>
          </div>

      
     
        <div class="fileupload-buttonbar">
          <div class="col-lg-12 col-xs-12 col-sm-12" style="float: right;">
            <button type="button" id="checkValidation" class="btn btn-primary bsit_save_btn" style="float: right; font-weight: bold;">
              <span>Submit</span>
            </button>
            <button type="submit" class="btn btn-primary start" id="startuploading" style="float: right;  display: none;">
              <!-- <i class="glyphicon glyphicon-upload"></i> -->
              <span>Submit</span>
            </button>
          </div>
        </div>

      </form>

    </div>
<!-- The blueimp Gallery widget -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog" data-filter=":even">
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a> <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a> <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
    <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
    <ol class="indicator"></ol>
  </div>
  <!-- The template to display files available for upload -->
  <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-upload fade{%=o.options.loadImageFileTypes.test(file.type)?' image':''%}">
             <td style="display: none;">
                  <span class="preview" ></span>
              </td>
              <td>
                  <p class="name">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
                  
              </td>
              <td><p class="size">Processing...</p></td>
              <td>
				  <span class="uploadmsg">Click submit to upload files.</span>	
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="display:none;"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
              </td>
              <td>
                  {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                    <button class="btn btn-success edit" data-index="{%=i%}" disabled>
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Edit</span>
                    </button>
                  {% } %}
                   {% if (!i && !o.options.autoUpload) { %}
                      <button class="btn btn-primary start" disabled style="display: none;">
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                  {% } %}
                  {% if (!i) { %}
                      <button class="btn btn-warning cancel" >
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span></span>
                      </button>
                  {% } %} 
                  {% if (!i) { %}
                      <button class="btn btn-warning success" style="display: none;">
                          <i class="fa fa-check" aria-hidden="true"></i>
                          <span></span>
                      </button>
                  {% } %} 
              </td>
          </tr>
      {% } %}
    </script>
  <!-- The template to display files available for download -->
  <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-download fade{%=file.thumbnailUrl?' image':''%}">
               <td>
                  <span class="preview">
                      {% if (file.thumbnailUrl) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                      {% } %}
                  </span>
              </td>
              <td>
                  <p class="name">
                      {% if (file.url) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                      {% } else { %}
                          <span>{%=file.name%}</span>
                      {% } %}
                  </p>
                  {% if (file.error) { %}
                      <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
              </td>
              <td>
                  <span class="size">{%=o.formatFileSize(file.size)%}</span>
              </td>
              <td>
                  {% if (file.deleteUrl) { %}
                      <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                          <i class="glyphicon glyphicon-remove"></i>
                          <!-- <span>Delete</span> -->
                      </button>
                      <input type="checkbox" name="delete" value="1" class="toggle">
                  {% } else { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
        <div id="bsit-upload-container" class="mui-panel">
          
        </div>

        <div id="bsit-document-modal">

        </div>
        <!-- <div id="uploadDocs main_content_part152 " class="main_content_part_class mui-col-xs-12 mui-col-xs-offset- tab-pane fade in " style="position:relative; height:Fillpx; margin-bottom:20px;" data-frametitle="" data-framewidth="12" data-frameheight="Fill" data-frameoffset="" data-frameorder="2" data-frameid="152" pageid="97" collection_id="109" frameid="152" framename="documentsFrame" data-framehideadd="" data-framehidefilter="" data-framehidepagination="" data-framehidedownload="" data-framehidemultiedit="" data-framehidemultidelete="" style="display:none">
  <input type="hidden" id="fram_prop_filter_152" value="">
  <input type="hidden" id="fram_prop_url_152" value="">
  <input type="hidden" id="page_id_152" value="">
<input type="hidden" class="" id="default_page_size_152" value="10">
  <span class="bsit_form_titel"><i class="fa fa-tasks" aria-hidden="true" style="margin-right: 15px;"></i>Document List</span>
  
  <div class="bsit-page-frame edit-pointer-cancel table-responsive mui-panel" id="page_frame_152" style="margin-top: 10px;
    border-top: 2px solid #bbb8b8; padding-top: 20px;height:Fillpx;padding: 0px!important;margin-bottom: 20px!important;box-shadow: none!important;" data-pfid="152"  style="display:none">
      
  </div>
</div> -->
      </div>
    </div>
  </div>
</div>


  <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/vendor/jquery.ui.widget.js"></script>
  <!-- The Templates plugin is included to render the upload/download listings -->
  <!-- <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script> -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/tmpl.min.js"></script>
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->

  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/load-image.all.min.js"></script>
  
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <!-- <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script> -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/canvas-to-blob.min.js"></script>
  <!-- blueimp Gallery script -->
  <!-- <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.blueimp-gallery.min.js"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.fileupload.js"></script>
  <!-- The File Upload processing plugin -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.fileupload-process.js"></script>
  <!-- The File Upload image preview & resize plugin -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.fileupload-image.js"></script>
  <!-- The File Upload validation plugin -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.fileupload-validate.js"></script>
  <!-- The File Upload user interface plugin -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/jquery.fileupload-ui.js"></script>
  <!-- The main application script -->
  <script src="<?php echo base_url(); ?>core/assets/multifileupload/js/multidemo.js"></script>
  <!-- The file upload get documents here-->
  <script src="<?php echo base_url();?>core/assets/js/utils/Documents/document-upload.js" type="module"></script>