
  <link rel="stylesheet" href="<?php echo base_url(); ?>core/assets/css/sample.css">

<div id="bsit-notes-modal" class="modal fade" role="dialog">
  <div class="modal-dialog bsit_notes_popup" style="height: 100%;">
    <div class="modal-content" style="float: left; width: 100%;">
      <div class="modal-header" style="padding-top: 0px; padding-bottom: 0px;">
        <button class="mui-btn mui-btn--small mui-btn--fab mui-btn--accent bsit_form_close_btn" style="fill: white; float:right; padding: 0.6rem;" data-dismiss="modal">
          <svg class="" viewBox="0 0 24 24"><path fill="#000000" d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path><path d="M0 0h24v24h-24z" fill="none"></path></svg>
        </button>
        <h2 id="bsit-notes-modal-header" class="bsit_form_titel">Notes - ...</h2>
      </div>
      <div class="modal-body">
        <form id="bsit-notes-form" class="mui-form bsit_form">
          <div id="bsit-notes-flex-container">
                       <input type="hidden" name="note_id" class="form-control" id="note_id" value="">

              <div class="mui-select notes-select bsit_statusdiv" style="flex-grow: 1; margin-bottom: 20px;">
			   <label>Note Heading</label>
                <input type="text" name="note_header" class="form-control" id="note_header" value="" autocomplete="off" maxlength="500">
              </div>
            
            <div class="mui-textfield" style="flex-grow: 3; margin-bottom: 20px;">

              <!-- <textarea id="bsit-note-input" type="text" placeholder="New note..." value="" required></textarea> -->

              
               <!--  <div id="edit"style="margin-top: 30px;"  >
                  <textarea id="froala-editor">Initialize the Froala WYSIWYG HTML Editor on a textarea.</textarea>
                </div> -->

                <div class="centered">
                  <textarea id="editor" type="text" placeholder="New note..." value="" required> </textarea>
                </div>
              

            </div>

            <div class="mui-select notes-select bsit_statusdiv" style="flex-grow: 1; margin-bottom: 20px;">
              <label>Note Type</label>
              <select id="bsit-notes-select" required>
                <option value="1" selected>GENERAL</option>
                <option value="2">INTERNAL</option>
              </select>
            </div>
			
			
            <div class="mui-select bsit_not_multi_select" style="flex-grow: 1; margin-bottom: 20px;">
              <div style="" class="mui-textfield ui-front"> 
                <input type="hidden" class=" hidden form-control" id="hf_advanceMultiSelectNote" value="" >
                <input type="hidden" class=" hidden form-control" id="hf_advanceMultiSelectNote_value" value="" >
                
                <ul class="notemultiSelect-ul bsit_multi_select">
                    <li class="li-inputnote">
                        <input name="multiUserSelectVal" type="text" class="advanceMultiSelectNote bsit_select_textbox ui-autocomplete-input" data-returnpropname="multiUserSelectVal" data-coll="16" data-alias="usr" data-columns="{'ValueProperty':'_Id', 'DisplayProperties':['Nickname','Username'], 'FilterDBCols':['_Id','Nickname','Username'], 'RunOnFocus':'true', 'Functions':{'Focus':'FocusFunc','Type':'TypeFunc'},'PermDBFilters':[{'col':'group_Id','op':' > ','value':'0', 'type':'STR'}]}" value="" data-modalid="addModel115" autocomplete="off">
                    </li>
                </ul>
              <label>Notifiy Users</label>
            </div>
			
            <div style="text-align:center;" class="mui-col-md-12">
            <button id="bsit-note-save-btn" type="submit" class="mui-btn mui-btn--primary bsit_save_btn">
              POST
            </button>
          </div>

          </div>
        </form>
        <div id="bsit-notes-container" class="mui-panel">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <script type="text/javascript" src="<?php echo base_url(); ?>core/assets/js/ckeditor.js"></script>
 --> <script src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script> 

  <script>
   // new FroalaEditor('textarea#froala-editor')
/*CKEDITOR.replace( 'editor', {
  height: 300,
  extraPlugins: 'emoji,justify,font,colorbutton',
   toolbar: [
        ['ajaxsave'],
        ['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink','EmojiPanel'],
        ['Cut', 'Copy', 'Paste', 'PasteText'],
        ['Undo', 'Redo', '-', 'RemoveFormat'],
        ['TextColor', 'BGColor'],
        ['Maximize']//, 'Image'
    ],
  
 // filebrowserUploadUrl: '<?php echo base_url(); ?>core/apilocal/notesUpload',
 // filebrowserUploadMethod: "form"

 });*/
 </script>

  <script>
   // new FroalaEditor('textarea#froala-editor')

 /*  ClassicEditor
   

    .create( document.querySelector( '#editor' ), {
        toolbar: {
            items: [
            'heading',
            '|',
            'bold',
            'italic',
            // 'link',
            'bulletedList',
            'numberedList',
            '|',
            // 'indent',
            // 'outdent',
            // '|',
            'blockQuote',
            'insertTable',
            'alignment',
            'fontBackgroundColor',
            'fontColor',
            'fontSize',
            'fontFamily',
            'undo',
            'redo'
          ]
        },
        // language: 'en',
        table: {
          contentToolbar: [
            'tableColumn',
            'tableRow',
            'mergeTableCells'
          ]
        },
        licenseKey: '',
        
      } )
      .then( editor => {
        window.editor = editor;
    
        
        
        
      } )
      .catch( error => {
        console.error( error );
      } );

*/
  </script>