/*Calendar*/

.bsit_cal_title{
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.bsit_cal_time{
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #ffffff; 
}

.bsit_cal_time_titel {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #334150;
}

.bsit_cal_all_day{
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #334150;
}

.bsit_cal_day_event.fc-day-grid-event {
  border-radius: 4px;
  border-width: 0 2px;
  border-style: solid;
  padding: 2px 10px;
  margin-right: 6px !important;
}

.bsit_cal_day_event .fc-title {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  /* color: #aa3af3; */
}

.fc th.bsit_cal_day_titel{
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #7f8fa4;
  background-color: rgba(225, 232, 238, 0.12);
  height: 40px;
  vertical-align: middle !important;
  padding: 0 !important;
}

.fc th.bsit_cal_day_titel.fc-today {
  color: #249af3;
}

.bsit_fc_toolbar_display {
  display: none;
}

.fc td.bsit_cal_td_padding {
  padding: 0 !important
}

.fc td.bsit_event_container {
  padding: 0 4px !important;
}

td.bsit_cal_day.fc-head-container {
  padding: 0 !important;
  border-right-width: 0;
}

.bsit_cal_user_name {
  display: block;
  float: left;
  width: 100%;
}
.bsit_cal_user_name .select {
  float: left;
  width: 200px;
}

.bsit_next_pre_btn.fc-state-default .fc-icon{
  color: #249af3;
}

.bsit_next_pre_btn.fc-state-default{
  background-color: #fff;
  background-image: none;
  border-color: #249af3;
  box-shadow: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}

.bsit_cal_height_scroll {
  height: 100% !important;
  overflow: hidden;
}

.bsit_cal_day_sticky.sticky {
  position: fixed;
  left: 15px;
  width: 96%;
  top: 64px;
  background: #fff;
  z-index: 9;
  padding: 8px 15px 0 15px;
}

.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{
  border-radius: 4px;
  border: 0px solid #000;
  padding: 5px;
  margin: 2px 0;
  /*box-shadow:  0 9px 9px -6px #000;*/
}

/*************Calender Sticky By Niru ***************/
td.fc-head-container.fc-widget-header,td.fc-head-container.fc-widget-header {
  position: sticky;
  top: 63px;
  background: #ffffff;
  z-index: 9;
  border-color: #ddd;
}
.fc-day-grid.bsit_cal_fix.fc-unselectable {
  position: sticky;
  top: 99px;
  background: #ffffff;
  z-index: 999;
  border-color: #ddd;
  border-width: 1px;    
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}

hr.fc-divider.fc-widget-header {
  position: sticky;
  top: auto; /*129px;*/
  background: #ffffff;
  z-index: 999;
  border-color: #ddd;
  position: sticky;
}
.fc-row.fc-widget-header {
  border-bottom: 1px solid #ddd;
  border-width: 1px;
  height: 34px;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}
.fc-row.fc-widget-header table {
  border-right: 1px solid #ddd;
}

.bsit_calendar_header {
  display: inline-block !important;
  float: left;
  margin-right: 10px;
  margin-bottom: 0 !important;
  padding-top: 0;
  width: auto !important;
}

.bsit_calendar_header.bsit_form select {
  padding: 0 25px 0 10px;
  background-position: 93% 54%;
  background-size: 11px;
  height: 32px !important;
  min-width: 120px;
  margin-top: 0;
}

.bsit_schedule_calendar .fc-button {
  background-color: #fff;
  background-image: none;
  border-color: #249af3;
  box-shadow: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}
.bsit_schedule_calendar .fc-timelineNext3Months {
  box-shadow: none;
}

.bsit_schedule_calendar button .fc-icon {
  color: #249af3;
  position: relative;
  top: -.05em;
  margin: 0 .2em;
  vertical-align: middle;
}

.showsidedrawer.hide-sidedrawer .bsit_cal_day_sticky.sticky.bsit_cal_date_day {
  display: block;
  width: 97.3%;
  left: 30px; 
  padding: 8px 0 0 0;
}
.showsidedrawer .bsit_cal_day_sticky.sticky.bsit_cal_date_day {
  width: 81.5%;
    left: 280px;
    display: block;
    padding: 8px 0 0 0;
}


.bsit_cal_day_event.fc-day-grid-event {
  border-radius: 4px;
  border-width: 0 2px;
  border-style: solid;
  padding: 2px 10px;
  margin-right: 6px !important;
}

.bsit_cal_day_event .fc-title {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    /* color: #aa3af3; */
}

.fc th.bsit_cal_day_titel{
   font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #7f8fa4;
   background-color: rgba(225, 232, 238, 0.12);
   height: 40px;
   vertical-align: middle !important;
   padding: 0 !important;
}

.fc th.bsit_cal_day_titel.fc-today {
  color: #249af3;
}

.bsit_fc_toolbar_display {
  display: none;
}

.fc td.bsit_cal_td_padding {
  padding: 0 !important
}

.fc td.bsit_event_container {
  padding: 0 4px !important;
}

td.bsit_cal_day.fc-head-container {
  padding: 0 !important;
  border-right-width: 0;
}

.fc td.bsit_cal_day_event_space {
  padding: 0px !important;
}


.fc-agenda-view .fc-day-grid {
    max-width: 100%;
}
  .select2 {
    width:100% !important;
  }

  #calendarMainArea {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #ffffff;
  }

  #calendarHeader {
    margin-bottom: 10px;
  }

  #filtersSearch {
    background-color: #ffffff;
    width: calc(100% - 198px);
    height: 40px;
    margin-top: 20px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: flex;
    padding: 2px 26px;
    border: none;
    border-radius: 2px;
    line-height: 36px;
    vertical-align: middle;
    letter-spacing: 0.03em;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
  }

  div#completeCheckbox .bsit_checkmark {
    top: 2px
  }

  #addEditEventForm label {
    margin-left: 20px;
    padding-left: 25px;
  }

  div#completeCheckbox {
    /*display: inline-block;*/
    display: block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: 30px;
    float: left;
    width: 100%;
  }

  .event_content_header form#addEditEventForm {
    display: flex;
    flex-wrap: wrap;
  }
  .mui-checkbox label{
    display: block;
  }

  .bsit_schedules_search_icon {
  position: absolute;
   top: 16px;
  left: 21px;
  z-index: 1;
}
.bsit_dropdoen_img.bsit_schedules_search_icon img {
  margin-top: 0;
}


  .cust_back_color .cust_color {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  min-height: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
}

.cust_back_color .cust_color .job {
  font-size: 13px;
}

.cust_back_color .cust_color .job label,
.cust_back_color .cust_color .project label {
  margin-bottom: 0;
}
.cust_color .icon p.blue {
  padding: 1px 5px;
  color: #fff;
  background: #0004ff;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: normal;
  font-size: 12px;
}

.cust_color .job,
.cust_color .project,
.cust_color .icon {
  width: 100%;
  float: left;
}

.cust_back_color .cust_color.active {
  background-color: #f4f4f4 !important;
}

.cust_color:hover {
  background-color: #eeeeee;
  border: 1px solid #bbb;
}

.cust_back_color .cust_color.active:before {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 2px #06a911;
  content: "";
  top: 0;
  left: 0;
}

.bsit_schedules_search_text_box.job_sel {
  padding-top: 15px;
  margin-bottom: 20px;
  padding-left: 0;
}

#event_duration {
  padding-left: 15px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 6px;
  font-size: 14px;
}

#addEditEventForm #filtersSearch {
  background-color: #ffffff;
  /*width: auto;*/  
  width: 33.33333%;  
  height: 65px;
  margin: 0px;
  /*box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);*/
  box-shadow: none;
  display: -webkit-box;
  display: flex;
  /*padding: 2px 26px;*/
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  line-height: 36px;
  vertical-align: middle;
  letter-spacing: 0.03em;
  overflow: hidden;
  position: relative;
}

#addEditEventForm label {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #000;
}

/*menu design start*/

.bsit_main_nave {
  float: left;
  width: 100%;
}

.bsit_header_section {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.bsit_main_nave .bsit_header_section li {
  float: left;
}

.bsit_main_nave .bsit_header_section .bsit_header_search_bar {
    margin-left: auto;
    width: 30%;
}

.bsit_main_nave .bsit_header_section .bsit_header_profile {
  margin-top: 0;
}

.bsits_header_search_bar .input-group.header_search {
  width: 100%;
}
.bsit_main_nave .bsit_header_section .bsit_menu_user_icon {
  margin-left: auto;
  display: flex;
    align-items: center;

}
.bsit_main_nave .bsit_header_section .bsit_header_profile::before {
  display: none;
}
.bsit_main_nave .bsit_header_section .bsits_header_search_bar {
  margin-left: auto;
  width: 30%;
}

.bsit_menu_user_icon .bsit_header_menu {
  order: 2;
  display: flex;
}

.bsit_header_week_month {
  float: left;
  width: auto;
}

@media (max-width: 1199px) {

  .bsit_main_nave .bsit_header_section .bsits_header_search_bar {
    width: 40%;
  }
} 

@media (max-width: 991px) {

  .bsit_header_menu_icon {
    display: flex;
    order: 1;
    align-items: center;
  }

  .bsit_header_week_month {
    display: flex;
    order: 2;
  }
  .bsit_header_search_bar {
    display: flex;
    order: 3;
    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 0 !important;
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .bsit_menu_user_icon {
    display: flex;
    order: 3;
  }

  .bsit_header_section {
    flex-wrap: wrap;
  }

  #content-wrapper>.mui--appbar-height {
    height: 90px;
  }
 
}
@media (max-width: 600px) {
  .bsit_main_nave {
    position: unset;
    transform: translateY(0);
    background-color: transparent;
  }
}
/*Header Design End */

.BSIT-CalPlannedEvent {
  /*opacity: 0.6;*/
  background-image: url(../images/stripes.png);
}

.BSIT-CalDeletedEvent {
  opacity: 0.6;
  background-image: url(../images/delete.png);
  background-position: 0px 9px;
  background-repeat: no-repeat;
}

.BSIT-CalMaterialEvent {
  opacity: 0.6;
  background-image: url(../images/methods.png);
  background-repeat: no-repeat;
}


.cust_back_color {
  background-color: #e0e0e0;
  padding-top: 10px;
  max-height: 360px !important;
  min-height: 235px;
  overflow-y: scroll;
  margin-top: 20px;
}

#add_job_box span {
  position: absolute;
  left: 45%;
  font-size: 17px;
  top: 68%;
  color: #333333;
}

#parent_job_sel .ui-autocomplete {
  max-height: 270px;
  overflow-y: scroll;
}

@media (min-width: 1920px) {
  .showsidedrawer.hide-sidedrawer .bsit_cal_day_sticky.sticky.bsit_schedules_date {
    width: 98.4%;
  }
}


@media (min-width: 1366px) {
  body .cust_back_color {
    /*max-height: 17.2vw;
    min-height: 17.2vw;*/
  }
  .cust_back_color.bsit_schedules_job_list_block {
    max-height: 430px !important;
    min-height: 430px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cust_color {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    min-height: 100px;
    border: 1px solid transparent;
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  td.fc-head-container.fc-widget-header, td.fc-head-container.fc-widget-header {
    top: 0;
  }

  .fc-day-grid.bsit_cal_fix.fc-unselectable {
    top: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .cust_back_color {
    max-height: 121px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .cust_back_color {
    max-height: 121px;
  }
}
