
div#stop-watch {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 0px;
    max-width: 100%;
}


.btn-main {
    width: 50%;
    display: flex;
}

#display {
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-right: 20px;
}
.btn-1 {
    width: 130px;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 36px;
}

div#calendarHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.event-watch-main {
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10px;
    transform: translate(-50%);
}
#event-div {
    display: flex;
    font-size: 14px;
    margin-right: 0px;
}